header {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color:#000 !important;
    height: 60px;
    line-height: 60px;
}
header .nav-logo {
    width: 140px;
    opacity: 0.95;
    -ms-interpolation-mode: bicubic;
}
header .container {
    width: auto;
    max-width: 1298px;
    min-width: 998px;
    padding: 0 20px;
}

.h3-like{

    font-size: 19px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

header .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: auto;
    height: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header .btn:hover {
    width: auto;
    height: auto;
    color: #333;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
}
header .btn.btn-info {
    background-color: #009ce0;
    border-color: #0086c0;
    color: #fff;
    border-left: none;
}
header .btn.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
header .btn.btn-default{
    border: 1px solid #ccc;
    border-right: none;
}
header .headerLinks {
    line-height: 60px;
    text-align: right;
    display: inline-block;
}
header .headerLinks a {
    color: #fff;
    text-decoration: none;
    opacity: 0.85;
    filter: alpha(opacity=85);
    padding:0 10px;
}

header .headerLinks a:hover,header .headerLinks a:active {
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=1);
}

header .headerLinks a.btn-default {
    opacity: 1;
    filter: alpha(opacity=100);
}

header .headerLinks a.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

header .headerLinks a.btn-info {
    opacity: 1;
    filter: alpha(opacity=100);
}

header .headerLinks a.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
/*header .headerLinks a:hover {*/
/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*}*/
header .headerLinks ul {
    margin: 0px;
    padding: 0px;
}
header .headerLinks ul li {
    margin: 0px;
    padding: 0px 6px 0px 6px;
    list-style-type: none;
    display: inline-block;
}

.header .headerLinks ul li {
    margin: 0px;
    padding: 0px 6px 0px 6px;
    list-style-type: none;
    display: inline-block;
}

header .dropdownTop {
    margin-left: 25px;
}
header .dropdown-toggle {
    padding-bottom: 0;
    color: #fff;
    background-color: transparent;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: pointer;
}
header .headerNav {
    background: none;
    border: 0px none;
    padding: 0px;
    margin: 0px;
    min-height: initial;
    padding: 12px 0px;
}
header .headerBg {
    background: url(../images/common/worldMapBg.png) no-repeat 100px 0px;
}

body{

    min-height:100%;
}
.nav-bar-bg{
    height: 60px;
    /*background-color: rgba(10,14,52,0.34);*/
}
.leftNavigationWrapperCustom .headerLinks {
    line-height: 32px;
    padding: 8px 0px 8px 26px;
    border-bottom: 1px solid #4e525b;
}
.leftNavigationWrapperCustom .headerLinks a {
    color: #fff;
    text-decoration: none;
}
.leftNavigationWrapperCustom .headerLinks a:hover {
    color: #46b9ed;
    text-decoration: none;
}
.leftNavigationWrapperCustom .headerLinks ul {
    margin: 0px;
    padding: 0px;
}
.leftNavigationWrapperCustom .headerLinks ul li {
    margin: 0px;
    padding: 0px 6px 0px 6px;
    list-style-type: none;
    display: inline-block;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #7c8394;
    z-index: 999;
}
.footer .np {
    padding: 0px;
}
.footer ul {
    margin: 16px 0px 0px 0px;
    padding: 0px;
}
.footer ul li {
    margin: 0px;
    padding: 0px 8px 0px 0px;
    list-style-type: none;
    display: inline-block;
    line-height: 34px;
    text-align: center;
}
.footer .twIcon {
    background-image: url("../images/common/twitterIcon.png");
    background-size:contain;

    width: 34px;
    height: 34px;
    display: inline-block;
}
.footer .twIcon:hover {
    background-image: url("../images/common/twitterIconHover.png");
    background-size:contain;

    width: 34px;
    height: 34px;
    display: inline-block;
}
.footer .fbIcon {
    background-image: url("../images/common/fbIcon.png");
    background-size:contain;

    width: 34px;
    height: 34px;
    display: inline-block;
}
.footer .fbIcon:hover {
    background-image: url("../images/common/fbIconHover.png");
    background-size:contain;

    width: 34px;
    height: 34px;
    display: inline-block;
}
.footer .inIcon {
    background-image: url("../images/common/inIcon.png");
    background-size:contain;
    width: 34px;
    height: 34px;
    display: inline-block;
}
.footer .inIcon:hover {
    background-image: url("../images/common/inIconHover.png");
    background-size:contain;

    width: 34px;
    height: 34px;
    display: inline-block;
}
.footerLinks {
    background: #7c8394 !important;
}
.footerLinks a {
    color: #fff;
    text-decoration: none;
}
.footerLinks a:hover {
    color: #2b3241;
    text-decoration: none;
}
.footerLinks .flink {
    text-align: center;
    padding: 16px 0px 0px 0px;
}
.footerLinks .flink span {
    float: right;
}
.footerLinks .flinkIcons {
    margin: 16px 0px 0px 0px;
}
.footerLinks .flinkIcons a {
    padding: 0px 6px;
    float: right;
}
.footerLinks .copyrights {
    color: #aeb4c3;
    padding-bottom: 16px;
}
/*new footer*/
.secondary .section-spacer {
    max-width: 1158px;
    margin: 30px auto 0;
    border-bottom: 1px solid #ccc;
}
/*footer[role="gs-main"]{*/
/*background-color: #f5f5f5;*/
/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
/*}*/

footer[role="gs-main"] {
    background-color: rgba(0,0,0,0.8);
    /*border-top: 2px solid #E8E8E8;*/
}

footer[role="gs-main"] .logo {
    width: 200px;
    margin-bottom: 15px;
}
footer[role="gs-main"] .link-list {
    margin-bottom: 15px;
    line-height: 2em;
    font-size: 17px;
}

footer[role="gs-main"] a.dark {
    text-decoration: none;
    color: #000;
    opacity: 0.85;
}

footer[role="gs-main"] .legal a.dark {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    opacity: 1;
}

footer[role="gs-main"] .link-list a {
    float: left;
    clear: both;
    line-height: 2em;
    font-size: 17px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

[data-cur-lang='ja'] footer[role="gs-main"] .link-list a{
    font-family: "Hiragino Maru Gothic ProN",Verdana, YuGothic, Meiryo, 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
}

footer[role="gs-main"] a.dark:hover {
    text-decoration: none;
    opacity: 1;
}

footer[role="gs-main"] .social {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.42857143;
}
footer[role="gs-main"] .social a {
    margin-left: -2px;
}
footer[role="gs-main"] .fa-facebook,
footer[role="gs-main"] .fa-twitter {
    margin-top: 1px;
}
footer[role="gs-main"] .badges img {
    height: 50px;
    margin-right: 5px;
}
footer[role="gs-main"] .sim-art {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
footer[role="gs-main"] .feature .content {
    max-width: 1198px;
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
footer[role="gs-main"] .two-columns {
    display: table;
    width: 100%;
}
footer[role="gs-main"] .two-columns .col {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
footer[role="gs-main"] .two-columns .col-text {
    width: 60%;
}
footer[role="gs-main"] .two-columns .col-text .inner {
    padding-right: 30px;
}
footer[role="gs-main"] .two-columns .col-image {
    width: 40%;
    text-align: center;
}
footer[role="gs-main"] .two-columns.col-image-left .col-text .inner {
    padding-right: 0;
    padding-left: 30px;
}
footer[role="gs-main"] .two-columns.col-image-left .col-image {
    text-align: left;
}
footer[role="gs-main"] .two-columns.col-image-right .col-image {
    text-align: right;
}
footer[role="gs-main"] .two-columns .section-creative {
    max-width: 380px;
    margin: 0px auto;
}
footer[role="gs-main"] .legal{
    margin-top: 23px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size: 14px;
    line-height: 1.42857143;
    /*color: #333;*/
    /*color: rgba(0, 0, 0, 0.5);*/
    color: rgba(255, 255, 255, 0.85);
}

footer[role="gs-main"] .legal.legalCenter{
    text-align:center;
}

footer[role="gs-main"] .legal a{
    margin-left: 10px;
}

footer[role="gs-main"] .footer-links{
    text-align:center;
}

/*new footer*/
@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans/museosans-300-webfont.eot');
    src: url('../fonts/museosans/museosans-300-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans/museosans-300-webfont.woff') format('woff'), url('../fonts/museosans/museosans-300-webfont.ttf') format('truetype'), url('../fonts/museosans/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans/museosans_500-webfont.eot');
    src: url('../fonts/museosans/museosans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans/museosans_500-webfont.woff') format('woff'), url('../fonts/museosans/museosans_500-webfont.ttf') format('truetype'), url('../fonts/museosans/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans/museosans_700-webfont.eot');
    src: url('../fonts/museosans/museosans_700-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans/museosans_700-webfont.woff') format('woff'), url('../fonts/museosans/museosans_700-webfont.ttf') format('truetype'), url('../fonts/museosans/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* header */
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/gothic.eot');
    src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
}


.mSans300 {
    font-family: 'museo_sans300';
}
.mSans500 {
    font-family: 'museo_sans500';
}

.mSans700 {
    font-family: 'museo_sans700';
}
body {
    font-size: 16px;
}
.font10 {
    font-size: 0.625em;
}
.font12 {
    font-size: 0.75em;
}
.font14 {
    font-size: 0.875em;
}

.font13{
    font-size:0.8125em;
}
.font15 {
    font-size: 0.9375em;
}

.font16 {
    font-size: 1em;
}

.font17{

    font-size:1.0625em;
}
.font18 {
    font-size: 1.15em;
}
.font20 {
    font-size: 1.25em;
}
.font24 {
    font-size: 1.5em;
}
.font32 {
    font-size: 2em;
}
.font36 {
    font-size: 2.25em;
}
.font50 {
    font-size: 3.1em;
}
/*Sticky footer*/
html {
    min-height: 100%;
}
a {
    cursor: pointer;
}
body {
    position: relative;
}
p {
    margin: 0px;
    word-wrap: break-word;
}
h1 {
    margin-top: 0px;
    margin-bottom: 10px;
}
select {
    width: 100%;
    height: 40px;
    padding: 10px;
    line-height: 34px;
    background: #f4f8f9;
    border: 1px solid #cccccc;
    color: #555555;
    font-family: 'museo_sans300';
}
textarea:focus,
input:focus,
select:focus,
button:focus {
    outline: 0;
}
input[type="checkbox"] {
    margin: 0px 10px 0px 0px;
}
.textRight {
    text-align: right;
}
.textLeft {
    text-align: left;
}
.textCenter {
    text-align: center;
}
/*bootstrap*/
.bg-primary {
    color: #fff;
    background-color: #428bca;
}
.bg-primary:hover {
    background-color: #3071a9;
}
.bg-success {
    background-color: #dff0d8;
}
.bg-success:hover {
    background-color: #c1e2b3;
}
.bg-info {
    background-color: #d9edf7;
}
.bg-info:hover {
    background-color: #afd9ee;
}
.bg-warning {
    background-color: #fcf8e3;
}
.bg-warning:hover {
    background-color: #f7ecb5;
}
.bg-danger {
    background-color: #f2dede;
}
.bg-danger:hover {
    background-color: #e4b9b9;
}
.customContainer {
    margin: 0 0 69px 0;
    /*padding-bottom: 69px;*/
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(221, 221, 221, 0.7);
    -moz-box-shadow: 0px 2px 4px 1px rgba(221, 221, 221, 0.7);
    box-shadow: 0px 2px 4px 1px rgba(221, 221, 221, 0.7);
}

.plainCustomContainer{
    border: 0 !important;
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
    -moz-box-shadow:none !important;

}
.navbar-collapse {
    border-top: 0px;
    box-shadow: none;
}
.navbar-toggle {
    background-color: #ddd;
    margin: 0px;
}
.mainContainerWrapper {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    display:table;

    /*min-height: 736px;*/
}


.showHiddenSims{

    vertical-align: top;
    float:left;
    padding-left:15px;
}





.mainContainer {
    padding: 0px;
}
.mainContainerRow {
    padding: 32px 32px 32px 32px;
    max-width: 1096px;
}
.mainContainerRowSm {
    padding: 16px 32px 16px 32px;
}
.mainContainerRowSm h1 {
    padding: 0px;
    margin: 0px;
}

.mainContainerRowSm .maxWidth {
    max-width: 1024px;
}
.mainContainerRowSm .maxWidthBig {
    max-width: 1048px;
    margin: 0px auto;
}
.mainContainerPadding {
    padding: 30px 0px;
    position: relative;
}
.leftNavigationWrapperTopNav {
    display: none;
}
/*LeftNavigation*/
.leftNavigationWrapperCustom {
    background-color: #464b54;
    padding: 0px;
}
.leftNavigationWrapperCustom .leftNavigation {
    /*background-color: #464b54;*/
    background-color: #464B54;
    padding-top: 0;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;

}

.leftNavigationWrapperCustom .leftNavigation .leftNavList .dropdown button {
    padding: 8px 0px 8px 32px;
    text-align: left;
    background: transparent;
    box-shadow: none;
    color: #fff;
    border: 0px;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList .dropdown ul {
    border-radius: 0px;
    background: #40444d;
    border: transparent;
    overflow: auto;
    max-height: 106px;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList .dropdown ul li {
    padding: 0px;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList .dropdown ul li a {
    padding: 6px 0px 6px 32px;
    color: #fff;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList .dropdown ul li a:hover {
    background-color: transparent;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList .leftNavHeading {
    color: #839aab;
    /*border-bottom: 1px solid #4e525b;*/
    border-bottom: 1px solid #4E525B;
    padding: 8px 0px 8px 20px;
}

.leftNavigationWrapperCustom .leftNavigation .leftNavList .leftNavHeading a{
    color: #839aab;
    text-decoration:none;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList .leftNavHeading a:hover,.leftNavigationWrapperCustom .leftNavigation .leftNavList .leftNavHeading a:active{
    color: #46b9ed;
    text-decoration:none;
}


.leftNavigationWrapperCustom .leftNavigation .leftNavList .leftNavManageHeading {
    color: #839aa8;
    /*border-bottom: 1px solid #4e525b;*/
    border-bottom: 1px solid #4E525B;
    padding: 8px 0px 8px 20px;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul {
    margin: 0px;
    padding: 0px;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li {
    padding: 0px;
    cursor: pointer;
}

.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li:hover,
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li:focus,
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li.focus,
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li:active,
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li.active,
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul li:hover
{
    background-color: #606368;
}


.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper {
    padding: 15px 0px 15px 20px;
}


.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper .imgDiv {
    width: 23px;
    text-align: center;
    float: left;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span {
    color: #fff;
    padding-left: 12px;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span.selected {
    color: #50d5fe;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span a {
    color: #fff;
    text-decoration: none;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span a:hover {
    color: #fff;
    text-decoration: none;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.paymentNav {
    /*background: #40444d;*/
    background-color: #4E525B;
    padding: 6px 0px 6px 44px;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.paymentNav li {
    padding: 8px 0px 8px 24px;
    border: 0px;
}

.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.paymentNav li:last-child{
    border-bottom:0 !important;
}

.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.paymentNav li a {
    color: #bbbbbb;
    text-decoration: none;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul.paymentNav li a.selected {
    color: #50d5fe;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul li {
    margin: 0px;
    list-style-type: none;
    color: #fff;
    /*border-bottom: 1px solid #4e525b;*/
    border-bottom: 1px solid #4E525B !important;
    padding: 6px 0px 6px 36px;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul li .subText {
    color: #939496;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul li.selected p {
    text-decoration: none;
    color: #95999c;
}
.leftNavigationWrapperCustom .leftNavigation .leftNavList ul li.selected {
    background-color: #2e2e36;

}
/*.leftNavigationWrapperCustom .leftNavigation .mobilenavlist ul li:hover {*/
/*background-color: #40454e !important;*/
/*}*/
.leftNavigationWrapperCustom .leftNavigation .moreSimLinks {
    text-align: right;
    padding: 10px 15px 10px 0px;
}
.leftNavigationWrapperCustom .leftNavigation .nosimError {
    color: #fff;
    padding: 8px 0px 8px 44px;
}
.leftNavigationWrapper,
.leftNavigationWrapperTopNav {
    padding: 0px;
    background-color: #fff;
    border-right: 1px solid #dedfdf;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
.leftNavigationWrapper .leftNavigation,
.leftNavigationWrapperTopNav .leftNavigation {
    background-color: #fff;
    padding-top: 32px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
}
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavHeading,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList .leftNavHeading {
    color: #839aa8;
    border-bottom: 1px solid #dedfdf;

    /*border-bottom: 1px solid #414361;*/
    padding: 8px 0px 8px 32px;
}

.leftNavigationWrapper .leftNavigation .leftNavList .leftNavHeading a,.leftNavigationWrapperTopNav .leftNavigation .leftNavList .leftNavHeading a{
    color: #839aa8;
    /*border-bottom: 1px solid #dedfdf;*/
    /*border-bottom: 1px solid #414361;*/
    padding: 8px 0px 8px 32px;
}
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavHeading a{
    text-decoration:none;
}
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavHeading a:hover,
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavHeading a:active,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList .leftNavHeading a:hover,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList .leftNavHeading a:active
{
    color: #46b9ed;
    /*border-bottom: 1px solid #dedfdf;*/
    /*border-bottom: 1px solid #414361;*/
    /*padding: 8px 0px 8px 32px;*/
    text-decoration:none;
}

.leftNavigationWrapper .leftNavigation .leftNavList .leftNavHeading,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList .leftNavHeading a:hover{
    text-decoration:none;
}

.leftNavigationWrapper .leftNavigation .leftNavList .leftNavManageHeading,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList .leftNavManageHeading {
    color: #839aa8;
    border-bottom: 1px solid #dedfdf;
    /*border-bottom: 1px solid #414361;*/
    padding: 8px 0px 8px 32px;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul {
    margin: 0px;
    padding: 0px;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.manageNav li {
    padding: 0px 5px 0px 0px;
    cursor: pointer;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper {
    padding: 6px 0px 6px 29px;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper .imgDiv,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper .imgDiv {
    width: 23px;
    text-align: center;
    float: left;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span {
    color: #62676f;
    padding-left: 12px;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span.selected,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span.selected {
    color: #50d5fe;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span a,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span a {
    color: #62676f;
    text-decoration: none;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span a:hover,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper span a:hover {
    color: #62676f ;
    text-decoration: none;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.paymentNav {
    border-top: 1px solid #dedfdf;
    background: #fff;
    padding: 6px 0px 6px 41px;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav li,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.paymentNav li {
    margin: 8px 0px 8px 24px;
    border: 0px;
    font-size: 15px;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav li a,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.paymentNav li a {
    /*color: #939496;*/
    color:rgb(147, 148, 150);
    text-decoration: none;
    font-size: 15px;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav li a.selected,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.paymentNav li a.selected {
    color: #50d5fe;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul li,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul li {
    margin: 0px;
    list-style-type: none;
    color: #727578;
    border-bottom: 1px solid #dedfdf;
    padding: 8px 0px 8px 32px;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul li .subText,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul li .subText {
    color: #939496;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul li.selected,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul li.selected {
    background: #1cbbf0;
}
.leftNavigationWrapper .leftNavigation .leftNavList ul li.selected p,
.leftNavigationWrapperTopNav .leftNavigation .leftNavList ul li.selected p {
    text-decoration: none;
    color: #fff;
}
.leftNavigationWrapper .leftNavigation .moreSimLinks,
.leftNavigationWrapperTopNav .leftNavigation .moreSimLinks {
    text-align: right;
    padding: 10px 15px 10px 0px;
}
.leftNavigationWrapper .leftNavigation .nosimError,
.leftNavigationWrapperTopNav .leftNavigation .nosimError {
    color: #fff;
    padding: 8px 0px 8px 44px;
}
.connectAccountFb,
.connectAccountTw {
    border-bottom: 1px dashed #c2c2c2;
    color: #393938;
    padding-top: 10px;
    padding-bottom: 10px;
}
.connectAccountFb .subText,
.connectAccountTw .subText {
    color: #767c80;
}
.connectAccountFb .connectTo,
.connectAccountTw .connectTo {
    text-align: right;
}
.connectAccountFb .connectTo img,
.connectAccountTw .connectTo img {
    margin-left: 10px;
}
.connectAccountFb .disConnectTo,
.connectAccountTw .disConnectTo {
    text-align: right;
}
.connectAccountFb .disConnectTo img,
.connectAccountTw .disConnectTo img {
    margin-left: 10px;
}
.orDivider {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.tnc {
    text-align: center;
    padding: 60px 0px 0px 0px;
}
.capRight {
    padding: 0px;
    padding-right: 5px;
}
.capLeft {
    padding: 0px;
    padding-left: 5px;
}
.noPadd {
    padding: 0px;
}
.dashedBorder {
    border-bottom: 1px dotted rgb(228, 231, 233);
    padding: 0px;
    padding-top: 10px;
}
.fbButton {
    padding: 0px;
    padding-right: 20px;
}
.fbButton .fbBtn {
    background: #3b5999 !important;
}
.tweetButton {
    padding: 0px;
    padding-left: 20px;
}
.help-block {
    color: #fe5552;
    margin: 0px;
    font-size: 0.875em;
}
.errorMessage {
    font-family: 'museo_sans300';
    font-size: 1em;
    color: #fe5552;
}
input .errorMessage {
    color: #fe5552;
}
.noColpadd {
    padding: 0px;
}
.fieldPadding {
    padding: 0px 0px 0px 15px !important;
}
.lightGrayBG {
    background: #edf1f5;
}
.paddingBottom10 {
    padding-bottom: 10px;
}

.paddingBottom20 {
    padding-bottom:20px !important;
}
.grayText {
    color: #a5a9ab;
}
.darkGrayText {
    color: #3c3e40;
}
.darkGrayText1 {
    color: rgb(57,56,56);
}

.lightGrayText
{
    color: rgb(149, 153, 156)
}
.paymentHist .headingText2,
.gigCredit .headingText2 {
    margin: 0px 0px 16px 0px;
}
.paymentHist .headingText3,
.gigCredit .headingText3 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.paymentHist .lightGrayBG,
.gigCredit .lightGrayBG {
    background: rgb(237, 241, 245);;
    /*padding: 20px 0px;*/
}
.paymentHist input[type="checkbox"],
.gigCredit input[type="checkbox"] {
    margin: 0px 10px 0px 0px;
}
.paymentHist select,
.gigCredit select {
    margin-top: 0px;
}
.paymentHist ul,
.gigCredit ul {
    margin-top: 10px;
    padding: 0px;
}
.paymentHist ul li,
.gigCredit ul li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.paymentHist ul li .mainText,
.gigCredit ul li .mainText {
    color: #515557;
    padding-left: 10px;
}
.paymentHist ul li .subText,
.gigCredit ul li .subText {
    color: #515557;
    padding-left: 10px;
}
.paymentHist ul li .costText,
.gigCredit ul li .costText {
    text-align: center;
}
.paymentHist ul li .errorText,
.gigCredit ul li .errorText {
    color: #fe5552;
}
.paymentHist ul li .block{
    border-bottom: 1px dotted rgb(228, 231, 233);
    padding: 6px 0px;
}

.paymentHist.simList ul li .block{
    border-top: 1px dotted rgb(228, 231, 233);
    border-bottom:none;
    padding: 6px 0px;
}

.creditHist ul li .block {
    border-top:none;
    border-bottom: 1px dotted rgb(228, 231, 233);
    padding: 12px 0px;
}

.paymentHist ul li .block1,
.gigCredit ul li .block1 {
    padding: 16px 0px;
}
.fergotPassword .form-horizontal .control-label {
    padding: 0px;
}
.fergotPassword h1 {
    margin-top: 15px;
    margin-bottom: 25px;
}
.fergotPassword .mainContainerWrapper {
    min-height: 532px;
}
.fergotPassword .mainContainerRow {
    padding: 32px 32px 32px 32px;
}
.transactionPin .dashedBorder {
    border-bottom: 1px dotted rgb(228, 231, 233);
    margin: 0px 0px 16px 0px;
}
.editCeditcard .form-horizontal .form-control {
    font-size: 16px;
}
.whiteBg {
    background: #fff;
}
.blueText {
    color: #1cbbf0 !important;
}

a.blueText:hover,a.blueText:focus,a.blueText:active{
    color: #2284a1 !important;
    text-decoration: underline;
}

.ln36 {
    line-height: 36px;
}
.lnNormal {
    line-height: normal;
}
.notification {
    position: fixed;
    top: 0px;
    z-index: 999999;
    text-align: center;
}
.notification .bg-info {
    padding: 10px 40px 10px 30px;
    position: relative;
}
.notification .bg-info img {
    position: absolute;
    top: 15px;
    right: 15px;
}
.notification .bg-danger {
    padding: 10px 40px 10px 30px;
    position: relative;
}
.notification .bg-danger img {
    position: absolute;
    top: 15px;
    right: 15px;
}
.dashboard h1.otherPlanHeader {
    padding: 0px 0px 12px 0px;
}
.dashboard .otherPlan {
    margin-bottom: 5px;
}
.dashboard .otherPlanInner {
    padding: 5px 0px;
    line-height: 26px;
}
.dashboard .switchPlan {
    margin-top: 13px;
    text-align: right;
}
.dashboard .subText {
    color: #767c80;
    margin-right: 10px;
}
.dashboard .vam {
    vertical-align: middle;
}
.dashboard .errorText {
    color: #fe5552;
}
.dashboard .paddingTop {
    padding-top: 15px;
}
.dashboard .paddingBottom {
    padding-bottom: 15px;
}
.dashboard .borderBottom {
    border-bottom: 1px dotted rgb(228, 231, 233);
}
.dashboard .panel-default > .panel-heading {
    color: transparent !important;
    background-color: #fff !important;
    border-color: transparent !important;
}
.dashboard .panel-heading {
    padding: 0px  !important;
    border-bottom: 1px solid transparent  !important;
    border-top-right-radius: 0px  !important;
    border-top-left-radius: 0px  !important;
}
.dashboard .panel-title {
    margin-top: auto !important;
    margin-bottom: auto !important;
    font-size: initial !important;
    color: inherit !important;
}
.dashboard .panel-default {
    border-color: transparent !important;
}
.dashboard .panel {
    background-color: #ffffff !important;
    border: 1px solid transparent !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 15px 0px 0px 0px;
}
.dashboard .panel-body {
    padding: 10px 0px;
}
.dashboard .panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0px solid transparent;
}
.dashboard .panelCollapese {
    color: #393838;
}
.dashboard .panelsubText {
    color: #95999c;
}
.dashboard .freeText {
    color: #62c459;
    text-align: right;
}
.dashboard .panelDiv {
    background: #edf1f5;
    padding: 10px 15px 10px 30px !important;
    margin-bottom: 3px;
}
.dashboard .freeText span {
    margin-right: 10px;
}
.dashboard .table tbody tr{
      /*background: #edf1f5;*/
      border-bottom: 1px dotted darkgray;

  }

.dashboard .plan-group{
    display:table;
    width:100%;
}

/*.dashboard .plan-group:not(:last-child){*/
    /*border-bottom: 6px solid rgb(244,244,244);*/
/*}*/
.dashboard .plan-header-row {
    /*display: table-row;*/
    color: rgb(107, 107, 107);
    padding-bottom: 0;
    font-size: 15px;
}
.dashboard .plan-group-border{
}
.dashboard .plan-row {
    display: table-row;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px dotted darkgray;
}
.dashboard .plan-row.plan-row-border{
    /*border-bottom: 1px dotted darkgray;*/
    border-bottom: 6px solid rgb(244,244,244);

}
.dashboard .plan-cell {
    display: table-cell;
    padding: 10px 10px;
    height: 50px;
    vertical-align: middle;
    min-width: 75px;
}

.dashboard .table tbody tr:last-child {
    /*background: #edf1f5;*/
    border-bottom: 1px solid white;

}

.dashboard .table thead{
    background:white;
}

.dashboard .table tbody tr th {
    padding: 10px 10px;
    height: 56px;
    line-height: 1.428571429;
    vertical-align: middle;
    font-weight: normal;
    border-top: 0px solid transparent;
    margin-bottom: 2px;
    background:white;
}

.dashboard .table {
    border-bottom:6px solid rgb(244,244,244);
    margin-bottom:0;
}

.dashboard .plan-table{
    display:table;
    width:100%;
    border-collapse: collapse;
}

.dashboard .table:last-of-type {
    margin-bottom:12px;
}

.dashboard .ln24 {
    line-height: 24px;
}
.dashboard .mainContainerRowSm {
    padding: 16px 32px 16px 32px;
}
.dashboard .paddBot50 {
    padding-bottom: 50px !important;
}
.dashboard .openIcon {
    background: url("../images/common/plusBigBlackIcon.png") no-repeat;
    width: 28px;
    height: 28px;
}
.dashboard .closeIcon {
    background: url("../images/common/cancelBigIcon.png") no-repeat;
    width: 28px;
    height: 28px;
}
.mainContainerPadding.dashboard {
    padding: 16px 0px 0px 0px;
}
.mainWrapper {
    position: relative;
}
#recaptcha_area,
#recaptcha_table {
    width: 100%;
}
.comments {
    background: #fafafa;
}
.comments .addCmt {
    padding: 15px 40px 10px 40px;
}
.comments ul {
    margin: 0px;
    padding: 0px;
}
.comments ul li {
    margin: 0px;
    padding: 15px 40px 10px 40px;
    list-style-type: none;
}
.comments ul li p .darkbl {
    color: #393838;
    padding-right: 10px;
}
.comments ul li p .description {
    color: #95999c;
}
.modal-header {
    border-bottom: 0px solid transparent;
    padding: 25px 0px 10px 0px;
    font-size: 22px;
}
.modal-footer {
    border-top: 0px solid transparent;
}
.modal-body {
    padding: 10px 20px 15px 20px;
}
.panelClose {
    position: absolute;
    top: -14px;
    right: -12px;
}
.lightGrayBG1 {
    background: #edf1f5;
    padding: 15px;
    margin: 10px 0px 0px 0px;
}
.transctionPin {
    padding: 0px;
}
.transctionPin ul {
    margin: 0px;
    padding: 0px;
}
.transctionPin ul li {
    margin: 0px;
    padding: 10px 0px;
    list-style-type: none;
    line-height: 36px;
    clear: both;
}

.transctionPin ul li:last-child {
    border-bottom: 1px dotted rgb(228, 231, 233);
}
.transctionPin ul li .custIconPadd {
    margin-right: 5px;
    margin-left: 10px;
}
.transctionPin ul li a {
    color: #333;
    text-decoration: none;
}
.mb15 {
    margin-bottom: 15px;
}
.freeTextBlue {
    color: #1cbbf0;
    text-align: right;
}

@media (max-height: 600px) {
    .modal-sm {
        width: 320px;
        margin: 60px auto;
        padding-top: 20px;
    }

    #settingsHeader{

        margin-top:20px;
    }
}
@media (min-height: 600px) {
    .modal-sm {
        width: 320px;
        margin: 120px auto;
        padding-top: 40px;
    }

    #settingsHeader{

        margin-top:50px;
    }

}

@media(min-height: 600px) and (min-width:960px)
{
    .modal-sm {
        width: 380px;
        margin: 120px auto;
        padding-top: 40px;
    }
}

.modal-content{
    margin-top:40px;
}

.buyPlan .rating {
    padding-bottom: 0px;
}
.buyPlan .gray {
    color: #393838;
}
.buyPlan .searchBox {
    margin: 10px 0px 40px 0px;
}
.buyPlan .searchBox img {
    padding: 11px 5px;
}
.buyPlan .searchBox .searchBoxBg {
    border-radius: 0px;
    background: #f4f8f9;
    box-shadow: none;
    border: 0px;
    padding: 0px 5px;
}
.buyPlan .searchBox .searchBoxBgInner {
    height: 40px;
}
.buyPlan .timelineInnerWrap img {
    vertical-align: text-bottom !important;
}
.buyPlan .headingText2 {
    padding: 0px 0px 10px 15px;
}
.buyPlan .timeline {
    margin: 20px 0px;
}
.buyPlan .timeline a {
    color: #333333;
}
.primaryText{
    color: #333333;
}
.buyPlan .timeline .timelineSm {
    padding: 0px 4px;
}
.buyPlan .timeline img {
    vertical-align: baseline;
}
.buyPlan .timeline .selectedText {
    color: #575d64;
    padding: 0px 0px 0px 5px;
}
.buyPlan .timeline .Text {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
}
.buyPlan .timeline .line {
    border-bottom: 1px solid rgb(149,153,156);
    margin-bottom: 5px;
    margin-right:3px;
    margin-left:0px;
    padding: 0px;
    height:100%;overflow:hidden;
}
.buyPlan .openIcon {
    background: url("../images/common/navigation-close.png") no-repeat;
    width: 28px;
    height: 28px;
}
.buyPlan .closeIcon {
    background: url("../images/common/navigation-expand.png") no-repeat;
    width: 28px;
    height: 28px;
}
.buyPlan .countryView p {
    color: #91989f;
    margin: 10px 0px 5px 0px;
}
.buyPlan .countryView ul {
    margin: 0px;
    padding: 0px;
}
.buyPlan .countryView ul li {
    margin: 0px;
    padding: 11px 0px 11px 10px;
    list-style-type: none;
    border-bottom: 1px dotted rgb(228, 231, 233);
    font-family: 'museo_sans300';
    font-size: 14px;
    color: #393838;
}
.buyPlan .panel-collapse .panel-body {
    border-top: 1px dotted rgb(228, 231, 233) !important;
}
.buyPlan .carriersList ul {
    margin: 0px;
    padding: 0px;
}
.buyPlan .carriersList ul li {
    margin: 0px;
    padding: 10px 10px 10px 10px;
    list-style-type: none;
    display: inline-block;
}
.buyPlan .buyPlan3 {
    margin: 15px 0px;
}
.buyPlan .buyPlan3 .makePaymentTopblock {
    padding: 16px 16px;
}
.buyPlan .buyPlan3 .makePaymentTopblock .block {
    padding: 0px 0px 4px 0px;
}
.buyPlan .buyPlan3 .makePaymentTopblock .block1 {
    border-top: 1px solid #ddd;
    padding: 4px 0px 0px 0px;
}
/*.buyPlan .buyPlan3 .makePaymentTopblock .form-horizontal .form-group {*/
/*margin: 0px -15px;*/
/*}*/
.buyPlan .buyPlan3 .makePaymentTopblock .custPadd {
    padding: 10px 0px 10px 0px;
}
.buyPlan .buyPlan3 .makePaymentTopblock .orPadd {
    padding: 50px 0px;
}
.glyphicon-star {
    color: #f3c474;
    font-size: 30px;
    padding-left: 10px;
}
.glyphicon-star-empty {
    color: #c5cad4;
    font-size: 30px;
    padding-left: 10px;
}
.ratingStatic {
    padding-bottom: 10px;
    outline: none;
}
.ratingStatic span {
    outline: none;
}
.ratingStatic .glyphicon-star {
    color: #f3c474;
    font-size: 24px;
    padding: 0px 5px 0px 0px;
}
.ratingStatic .glyphicon-star-empty {
    color: #c5cad4;
    font-size: 24px;
    padding: 0px 5px 0px 0px;
}
.rating span {
    outline: none;
}
.usageSelector {
    color: #515557;
    background: #f5f7f9;
    padding: 0px;
}
.usageSelector ul {
    margin: 0px;
    padding: 0px;
}
.usageSelector ul li {
    margin: 0px;
    padding: 10px 30px;
    list-style-type: none;
    border-bottom: 1px solid #ebeef1;
}
.usageSelector ul li.selected {
    background: #dde1e8;
}
.usageSelector ul li.bubble {
    position: relative;
    background: #dde1e8;
}
.usageSelector ul li.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 0 18px 16px;
    border-color: transparent #dde1e8;
    display: block;
    width: 0;
    z-index: 1;
    right: -16px;
    top: 23px;
}
.simDetails {
    padding: 0px 30px;
}
.simDetails table {
    margin: 20px 0px 0px 0px;
}
.simDetails table td.labelDiv {
    width: 20%;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'museo_sans500';
    color: #1c1c1c;
    border-top: 0px;
    margin: 0px;
    padding: 2px 20px;
}
.simDetails table td.labelDiv2 {
    width: 80%;
    font-size: 14px;
    font-family: 'museo_sans300';
    color: #515557;
    border-top: 0px;
    margin: 0px;
    padding: 2px 20px;
}
.mt3 {
    margin-top: 3px;
}
.leftPadd {
    padding-left: 15px;
}
.leftnavLink {
    color: #50d5fe !important;
}
.leftnavLink a {
    text-decoration: none;
    color: #50d5fe;
}
.leftnavLink a:hover {
    text-decoration: none;
    color: #50d5fe;
}
.marginTop10 {
    margin-top: 10px;
}
.marginLeft10 {
    margin-left: 10px;
}
.black {
    color: #1c1c1c;
}
.custPanel {
    display: none;
}
.main {
    position: relative;
}
.main .custPanel {
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 0px;
    display: none;
    z-index: 99999;
    width: 100%;
    /*background: #464b54;*/
    background-color: #464b54;
    height: 100%;
    overflow-y: auto;
}
.blockSim .form-group {
    margin-top: 15px;
}
.marginTop20 {
    margin-top: 20px;
}
.backBtn {
    margin-right: 10px;
    vertical-align: text-top;
    padding: 5px 0px;
    display: none;
}
.breadcrumbs .breadcrumb {
    padding: 5px 0px;
    margin-bottom: 0px;
    background: transparent;
}
.breadcrumbs .breadcrumb .grayText {
    color: #868a8d;
}
.breadcrumbs .breadcrumb .blackText {
    color: #3c3e40;
}
.breadcrumbs .breadcrumb img {
    vertical-align: sub;
}
.transactionPin .form-horizontal .control-label {
    padding: 10px 0px 0px 0px;
}
.accPadding {
    padding-top: 14px;
}
.breadcrumb li span {
    font-size: 14px;
}
.breadcrumb li a {
    font-size: 14px;
}
.headingTop {
    margin: 5px 0px 10px 0px;
}
.textCenter1 {
    text-align: center;
}
.btn .caret {
    margin-left: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left: 5px;
}

.simReplaceConfirmMsgMargin{
    margin-top: 5%;
}

.sim-replace-btn-default {
    font-family: 'museo_sans300';
    background: transparent;
    border: 2px solid #1cbbf0;
    border-radius: 5px;
    color: #1cbbf0;
    width: 100%;
    height: 44px;
    font-size: 16px;
}

.sim-replace-btn-default:focus,
.sim-replace-btn-default:hover {
    background-color: transparent;
    color: #129CCA;
    border: 2px solid #129CCA;
}

.dropdownTop .btn-default {
    padding-top: 0px;
    background-image: none;
    color: #333333;
    background: transparent;
    box-shadow: none;
    font-family: 'museo_sans500';
    font-size: 15px;
}
.dropdownTop .btn-default:hover {
    background-color: transparent;
    color: #46b9ed;
}
.dropdownTop .btn-default:focus {
    background-color: transparent;
    color: #46b9ed;
}
.open .dropdown-toggle.btn-default {
    background-image: none;
    color: #62676e;
    background: transparent;
    box-shadow: none;
}
.lineThrough {
    text-decoration: line-through;
    text-decoration-color: inherit;
}
.activeState {
    border-left: 2px solid #1cbbf0;
}
.paymentHist .nav-tabs {
    border-bottom: 0px solid #0b9bd7;
}
.paymentHist .nav-tabs > li {
    width: 90px;
    text-align: center;
}
.paymentHist .nav-tabs > li > a:hover {
    background: #0b9bd7;
    border-bottom: 1px solid #0b9bd7;
    color: #ffffff;
}
.paymentHist .nav-tabs > li > a {
    color: #0b9bd7;
    margin-right: 0px;
    line-height: 1.428571429;
    border: 1px solid #0b9bd7;
    border-radius: 0px;
}
.paymentHist .nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #0b9bd7;
    border: 1px solid #0b9bd7;
}
.paymentHist .nav-tabs > li.active > a {
    color: #fff;
    cursor: default;
    background-color: #0b9bd7;
    border: 1px solid #0b9bd7;
}
.paymentHist .allEmail {
    padding-bottom: 20px;
    padding-top: 20px;
}
.marginL10 {
    margin-left: 10px;
}
.panelClose {
    display: none;
}
.pageHeadingText {
    color: rgb(57,56,56);
}
.normalText {
    color: #515557;
}
.font18I {
    font-size: 18px !important;
}
.imgpaddR15 {
    padding-right: 15px;
}
.paddTop0 {
    padding-top: 0px !important;
}
.paddTop4 {
    padding-top: 4px !important;
}
.btnPaddR0 {
    padding-right: 0px;
}
.marginB10 {
    margin-bottom: 10px;
}
.nP {
    padding: 0px;
}
.breadcrumb > li + li:before,
.font20I {
    font-size: 1.25em !important;
}
.modelbtn {
    text-align: center;
}
.modelbtn button {
    width: 50%;
}
.modelbtn button:hover {
    width: 50%;
}
.modelbtn1 {
    text-align: center;
}
.modelbtn1 button {
    width: 30%;
}
.modelbtn1 button:hover {
    width: 30%;
}
.paddL8 {
    padding-left: 8px;
}
.form-horizontal .form-group {
    margin: 0px 0px 16px 0px;
}
.form-horizontal .form-control {
    height: 34px;
    border-radius: 0px;
    background: #f4f8f9;
    box-shadow: none;
    padding: 5px 10px;
    font-size:0.9375em;

}
.form-horizontal .form-control.error {
    border: 1px solid #fe5552;
}
.form-horizontal .control-label {
    text-align: left !important;
    font-weight: normal;
    color: #515557;
    font-family: 'museo_sans300';
    padding: 10px 0px 0px 15px;
    font-size:0.9375em;
}
.form-horizontal .control-label.error {
    color: #fe5552;
}
.form-horizontal .changeLink {
    font-family: 'museo_sans300';
    font-size: 16px;
    line-height: 36px;
}
.form-horizontal .customPadding {
    margin-top: 8px;
}
.btnWrapper {
    padding-right: 0px;
}
.btn-default {
    font-family: 'museo_sans300';
    background: #1cbbf0;
    border: 0px none;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 44px;
    font-size: 16px;
}
.btn-cancel {
    font-family: 'museo_sans300';
    background: #eeeeee;
    color: #838a8e;
    border-radius: 5px;
    border: 1px solid #838A8F;
    width: 100%;
    height: 44px;
    font-size: 16px;
}
.btn-cancel:hover {
    font-family: 'museo_sans300';
    background: #cccccc;
    color: #838a8e;
    border-radius: 5px;
    border: 1px solid #838A8F;
    width: 100%;
    height: 44px;
    font-size: 16px;

}
.btn-default:hover {
    font-family: 'museo_sans300';
    background: #129CCA;
    border: 0px none;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 44px;
    font-size: 16px;
}
.btn-default:hover,
.btn-default:focus {
    color: #fff;
    background-color: #129CCA;
    border-color: inherit;
}

.btn-red {
    font-family: 'museo_sans300';
    background: #CC3232;
    border: 1px solid #B20000;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 44px;
    font-size: 16px;
}

.btn-red:hover {
    font-family: 'museo_sans300';
    background: #B20000;
    border: 1px solid #CC3232;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 44px;
    font-size: 16px;
}
.btn-red:hover,
.btn-red:focus {
    color: #fff;
    background-color: #B20000;
    border: 1px solid #CC3232;
    border-color: inherit;
}

.btn:focus {
    outline: none;
}
.dropdown-menu {
    font-family: 'museo_sans300';
    min-width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
}
.pagination {
    float: right;
    margin-top: 15px;
}
.pagination li a {
    position: relative;
    float: left;
    font-size: 16px;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 0px;
}
.navbar .navbar-toggle,.mobilemenu {
    padding: 0;
    width: 32px;
    height:50px;
    background-color: transparent;
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    background-size: 20px 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:0px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
header .navbar-header img {
    margin-top: 5px;
}
.header{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

[data-cur-lang="ja"] .header{
    font-family: "Hiragino Maru Gothic ProN",Verdana, YuGothic, Meiryo, 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
}

body{
    font-family:'museo_sans300';
}

.messageText {
    font-size: 14px;
    font-family: 'museo_sans300';
    color: #666666;
}

.formSubmitStatus .messageText,.formSubmitStatus .errorMessage{
    padding-bottom:8px;
}

.appIcons
{
    height: 28px;
    width: 28px;
}

.optionSubText
{
    color:#95999c;
}

.plan-title
{
    padding-top:10px;
    padding-bottom:10px;
}

.subMenuOptions{
    font-size: 0.9375em !important;
    /*color:rgb(147, 148, 150) !important;*/
    line-height: 24px;
}

#actsimform .activationCode{
    max-width: 58px;
    float:left;
    padding:5px 1px;
    text-align:center;
    text-transform:uppercase;
}

.form-group button[type='submit']{
   margin-top:22px;
}

.codeSeparator{
    height:2px;
    width:5px;
    background: #666666;
    float:left;
    margin: 15px 5px 0px 5px;
}


#settingOptions,#settingSubOptions{

    list-style-type:none;
    margin-top:10px;
    line-height:30px;
}


html, body{
    height: 100%
}

 .main{
    min-height:100%;
     position:relative;


}
.viewContainer{
    min-height:600px;
    position:relative;
}
.outerContainer
{
    min-height: 768px;
}


.headerRowContainer{
    padding: 36px 0px 16px 0px !important;
}

.viewRowContainer{
    padding: 0px 32px 8px 32px;

}

.viewBodyWrapper{
    padding: 16px 32px 16px 32px;
    position: relative;
}

.viewBodyWrapperNoPadd{
    padding: 16px 0px 16px 0px;
    position: relative;
}

.optionText{
    font-family: 'museo_sans300';
    font-size: 1em;
    color: #666666;
}

.messageSecondary{
    font-family: 'museo_sans300';
    font-size: 1em;
    color: #666666;
}

.mainOption{
    font-family: 'museo_sans300';
    font-size: 16px;
    color: #666666;
    line-height: 28px;
}

.menuClose
{
    display:none;
    width:0px;
}

.menuOpen
{
    display:table-cell;
    width:240px;
}


.mobilemenu{
    display:none;
}

.gslogo{
    float:left;
    width:210px;
}

.balancedivider{
    display:inline-block;
    width:1px;
    height:18px;
    vertical-align:top;
    border-right:1px solid black;

}

.isWidthLessThan960{
    display:none;
}

.isWidthMoreThan960{
    display:none;
}

.separater{
    height:22px;
    background: #edf1f5;
}

.alignCenter{text-align: center;}

.buyPlanStep{
    height:100%;float:left;width:auto;padding-right:4px;
}

/*.formSubmitStatus{*/
/*padding-top:10px;*/
/*padding-bottom:10px;*/
/*}*/

.desktopDesign {
    display:block;
}

.mobileDesign {
    display:block;
}
.inlineSIMDetails
{
    display:block;
}

/*.noSIMServiceBlk*/
/*{*/
/*margin-top:80px;*/
/*}*/

.chooseSim{
    cursor:pointer;
}

.chooseSim .form-control:hover,.chooseSim .form-control:active{
    background:#A3A3A3;
}

.confirmMsgBlock{
    margin-top:20px;
}

#actionreqmesssage a{
    color: #1cbbf0 !important;
}

.menuItem
{
    font-size: 14px !important;
}
.menuIcon
{
    width: 16px ! important;
}

.has-error .form-control
{
    border-color:#fe5552;
}

.has-error .form-control:focus {
    border-color: #fe5552;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .help-block{
    font-family: 'museo_sans300';
    /*font-size: 1em;*/
    color: #fe5552;
}

.captchaRegion
{
    margin-left: -20px;
}

.gsLogoDiv{
    margin:11px 0 12px 0;
    padding-left:22px;
}

.pinField
{
    max-width: 120px;
    text-align: center;
}

/*.paymentMethods{*/
/*border-bottom: 1px dotted #cccccc;*/
/*}*/

.paymentMethodMainText
{
    float: left;
    /*line-height: 16px;*/
    /*margin-top: 12px;*/
    line-height:1.428571429;
    padding-top:19px;
    padding-bottom:16px;
    color: rgb(82, 84, 86);
    font-size: 16px;
}

.paymentMethodSubText
{
    display: block;
    clear:both;
    line-height: 16px;
    margin-left: 10px;
    padding-top: 4px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(82, 84, 86);
    font-size: 14px;

}

.lightGrayTxt{
    color: rgb(82, 84, 86);
}
.dashboardHeader
{
    padding: 0px 0 16px 0 !important;
}

.titleSubText{
    padding-bottom:8px;
    display:block;
}

.ng-scope a{
    outline: 0;

}

.ng-scope a:active{
    background-color: transparent; /* Can be any colour, not just transparent */
}

.smallButton{
    width: 120px !important;
}

#searchIcon{
    width:24px !important;
}

.simListDiv ul li:last-child .block{
    border-bottom: 1px dotted rgb(228, 231, 233);
}

.simListDiv ul li .simDiv{
    border-bottom: 1px dotted rgb(228, 231, 233);
    padding: 6px 0px;
}

.blueBoldText {
    color: #1cbbf0 !important;
    font-family: 'museo_sans500';
}

.ngViewStyle{
    /*display:table-cell;*/
    padding-bottom:60px;
}

.tabletPortrait{
    display: none !important;
}

.otherDesigns{

}

.mobileSubMenu ul li{
    border-bottom: 1px solid #4E525B !important;
}

.mobileSubMenu ul li:last-child{
    border-bottom: 0 !important;
}

.optional{
    font-size:12px;
    margin-left:6px;
}

.my-loading-spinner-container{
    position:absolute;
    left:50%;
    top:250px;
}

.concur_heading{
    font-size: 1.20em;
}

.default_gs_logo{
    float: left;width: 140px;margin:auto 0 auto 0;
}

.gs_logo_in_concur{
    width: 140px;margin:0 auto;
}
.menuLeftOnConcur{
    width:0px !important;
    display:none !important;
}

.linkedAcLogo{
    width:23px;
    height:23px;
    margin-right:8px;
    margin-bottom:6px;
    float:left;
}

.section{
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #fff;
    -webkit-transform: translateZ(0);
}

footer {
    position:absolute;
    bottom:0px;
    width:100%;
    /*height:80px;*/
    background:#000;
}
/*footer footer{*/
    /*bottom:0px;*/
/*}*/

[data-page-type="gigsky-page"][data-page-template="login"]  #section-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}



[data-page-type="gigsky-page"][data-page-template="default"] .feature {
    position: relative;
}
.feature {
    display: table-cell;
    vertical-align: middle;
}

.feature .content {
    max-width: 1198px;
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*footer {*/
    /*position:absolute;*/
    /*bottom:-40px;*/
    /*width:100%;*/
    /*!*height:60px;*!*/
    /*background:#000;*/
/*}*/

footer[role="gs-main"] {
  background-color: #000 !important;
  /*border-top: 2px solid #E8E8E8;*/
}

footer[role="gs-main"] .legal {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  /*color: rgba(0, 0, 0, 0.5);*/
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
  margin-top: 0;
}

[data-cur-lang="ja"] footer[role="gs-main"] .legal{
    font-family: "Hiragino Maru Gothic ProN",Verdana, YuGothic, Meiryo, 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
}

footer[role="gs-main"] .legal a {
  margin-left: 10px;
  /*color: rgba(0, 0, 0, 0.5);*/
  color: rgba(255, 255, 255, 0.85);
}
footer[role="gs-main"] .legal a:nth-child(3) {
  padding-right: 8px;
}
footer[role="gs-main"] .legal .copy-text {
  padding: 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  opacity: .5;
}
footer[role="gs-main"] .legal img {
  width: 20px;
  height: auto;
  margin: 0 0 0 8px;
}
footer[role="gs-main"] .legal img:hover {
  cursor: pointer;
}

footer[role="gs-main"] .legal a:hover {
    color: #ffffff;
}

@media (max-width: 689px) {
  footer[role="gs-main"] .legal a {
    display: block;
    line-height: 2;
    margin-left: 0;
  }
  footer[role="gs-main"] .legal a:nth-child(3) {
    padding-right: 0;
  }
  footer[role="gs-main"] .legal .copy-text {
    display: block;
    padding: 0;
    line-height: 2;
    border: none;
  }
  footer[role="gs-main"] .legal img:first-child {
    margin-left: 0;
  }
}

.light,
a.light {
    text-decoration: none;
    color: #fff;
    opacity: 0.85;
    cursor: pointer;
}
.light:hover,
a.light:hover {
    opacity: 1;
}

.secureInput{
    -webkit-text-security: disc !important;
    text-security: disc !important;
    -moz-text-security:disc !important;
    -o-text-security: disc !important;
}

form input.capitalize{
    text-transform:capitalize;
}


/*a.dark {*/
/*text-decoration: none;*/
/*color: #000;*/
/*opacity: 0.85;*/
/*}*/
/*a.dark:hover {*/
/*opacity: 1;*/
/*}*/

.accountConfirmMsgMargin {
    margin-top: 5%;
}

.historyLoadSpinnerDiv > div {
    top: 50px;

}

.simLinksList{
    cursor : pointer;
}
ul.simLinksList li{
    margin:0 !important;
}
ul.simLinksList {
    margin-bottom:0;
}

.simLinkText{
    color: #515557;
}
.buyPlan .timeline a:not(.disabled) .lightGrayText:hover,.buyPlan .timeline a:not(.disabled) .lightGrayText:active{
    color:rgb(80, 213, 254);
    text-decoration:none;
}
.buyPlan .timeline a:hover{
    text-decoration:none;
}
.buyPlan .timeline a.disabled:hover,.buyPlan .timeline a.disabled .lightGrayText:hover{text-decoration:none;cursor:default}


.supportForm .textAr {
    border: 1px solid #ccc;
    background-color: #f4f8f9;
    border-radius: 0px;
    height: 120px;
    padding-left: 10px;
    font-size: 15px;
    color: #555;
    outline: none;
    width: 100%;
    resize: vertical;
}

.replaceSimMsg{
    background-color: rgb(250, 255, 189);
    margin-bottom: 3%;
}



/* ============================================================
  COMMON
============================================================ */
.item{
    position: relative;
    box-sizing: border-box;
    left: 89%;
    width: 10%;
    margin-top:-5px;
}


.settings {
    display: table;
    width: 50%;
}
.settings .row {
    display: table-row;
}
.settings .question,
.settings .switch {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
.settings .question {
    width: 600px;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
    padding: 2px;
    width: 50px;
    height: 30px;
    background-color: #dddddd;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
    border-radius: 55px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 30px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #46abe0;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 18px;
}

@media only screen and (max-width:959px) {



    .item {
        position: relative;
        box-sizing: border-box;
        left: 85%;
        width: 10%;
        margin-top: -10px;
    }

    ul.simLinksList > .max-s div[class*='col-md-'], .max-s div[class*='col-sm-'], .max-s div[class*='col-xs-'] {
        width: 80%;
        padding: 0px;
    }

    .max-s-networkGroups{
        max-width: 400px !important;
    }

    .btn-select{
        top: 45% !important;
    }
}


@media only screen and ( max-width:599px){

    #section-footer {
        position:relative;
        bottom:0px;
    }

}
.fixedPadding{
    height:0;
}

@media only screen and (max-width:689px ) {

    .fixedPadding {
        height: 200px;
    }
}
@media only screen and (max-width:767px ){

    .viewRowContainer {
        /* padding: 0px; */
        position: relative;
        left:0%;
        width:100%;

    }

    .item {
        left: 80%;
        width: 5%;
        margin-top: -5px;
    }

    input.cmn-toggle-round + label {
        padding: 2px;
        width: 50px;
        height: 30px;
        background-color: #dddddd;
        -webkit-border-radius: 55px;
        -moz-border-radius: 55px;
        -ms-border-radius: 55px;
        -o-border-radius: 55px;
        border-radius: 55px;
    }

    input.cmn-toggle-round:checked + label:after {
        margin-left: 18px;
    }
    input.cmn-toggle-round + label:after {
        width: 30px;
    }



}

@media only screen and (max-height: 768px){


    .main{
        min-height:800px;
        position:relative;


    }
    .viewContainer{
        min-height:800px;
        position:relative;
    }
}

@media only screen and ( min-width:768px ) and ( max-width:959px){



    .showHiddenSims {
        padding-left:10px;
    }

    .item {
        left: 80%;
        width: 5%;
        margin-top: -5px;
    }

    input.cmn-toggle-round + label {
        padding: 2px;
        width: 50px;
        height: 30px;
        background-color: #dddddd;
        -webkit-border-radius: 55px;
        -moz-border-radius: 55px;
        -ms-border-radius: 55px;
        -o-border-radius: 55px;
        border-radius: 55px;
    }

    input.cmn-toggle-round:checked + label:after {
        margin-left: 18px;
    }
    input.cmn-toggle-round + label:after {
        width: 30px;
    }



}

.passwordMsgColor {
    color: #515557;
    font-size:14px;
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-links{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    height: 61px;
    line-height: 60px;
}

.header-links a{
    padding-right: 25px !important;
    padding-left: 25px !important;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
}

.header-links a .light{
    text-decoration: none;
    color: #fff;
    opacity: 0.85;
    cursor: pointer;
}

.menuLinkStyle{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#captcha-div div div{
    margin:0 auto;
}

.fontRender{
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #000 !important;
}
.apple-pay-button {
    display: inline-block;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 32px;
    min-height: 21px;
    max-height: 64px;
}
.apple-pay-button-white {
    background-image: -webkit-named-image(apple-pay-logo-black);
    border: 1px solid black;
}
.card-selected {
    opacity: 1;
}
.card-not-selected {
    opacity: 0.5;
}

.creditHist p{
    margin : 0 10px !important;
    display : block !important;
}

.transactionInfoModal .panelClose{
        display: block !important;
}

.transactionInfoModal .errorText{
    color: #fe5552;
}

.transactionHist .openIcon {
    background: url("../images/common/navigation-close.png") no-repeat;
    width: 28px;
    height: 28px;
}
.transactionHist .closeIcon {
    background: url("../images/common/navigation-expand.png") no-repeat;
    width: 28px;
    height: 28px;
}

.transactionHist accordion h4{
    line-height: 1.3;
}

.transactionHist accordion .panel-body{
    padding: 10px;
}

.transactionHist accordion .panel-default .panel-heading{
    background-color: inherit;
}

.transactionHist accordion .panel-heading{
    padding: 4px 0px;
}

.referralIcon .menuIcon{
    width: 18px ! important;
}
.msft-note h4{
   font-size:14px;
   text-align:center;
}
.msft-note p{
   font-size:14px;
   text-align: left;
}

.agreeTerms .termInput {
    display: table-cell;
    vertical-align: middle;
}
.agreeTerms #termsLabel {
    font-size: 12px;
    display: table-cell;
    line-height: 1.12;
}
.agreeTerms a {
    padding-bottom: 0px;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.mont-light {
    font-family: 'Montserrat-Light';
}

.mont-regular {
    font-family: 'Montserrat-Regular';
}

.mont-medium{
    font-family: 'Montserrat-Medium';
}


.marketing-background {
    background: url("../images/common/marketing-background.png") no-repeat center center;
    position:fixed;
    width: 100vw;
    height: 100vh;
    top:0px;
    left:0px;
    background-size: cover;
}

.txtDiv {
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
.txtDiv .marketing-info {
    color: #fff;
    letter-spacing: 0.02em;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
}

.marketing-info .main-logo{
    text-align: center;
    padding-bottom: 35px;
}


.marketing-info .main-logo span{
    display: block;
}

.marketing-info .nav-logo{
    display:inline-block;
    width: 180px;
}

.marketing-info button{
    border: 2px solid !important;
}

.textContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}

.txtDiv button{
    width: 200px !important;
}

.m-l-5{
    margin-left: 5px;
}

.m-r-5{
    margin-right: 5px;
}

.available-networks .network-panels {
    padding-bottom: 20px;
}
.available-networks .network-panels .panel {
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 0;
}
.available-networks .network-panels .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.available-networks .network-panels .panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.available-networks .network-panels .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.available-networks .network-panels .panel-title > a {
    color: inherit;
}
.available-networks .network-panels .panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd ;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.available-networks .network-panels .panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}
.available-networks .network-panels .panel-group .panel + .panel {
    margin-top: 5px;
}
.available-networks .network-panels .panel-group .panel-heading {
    border-bottom: 0 !important;
}
.available-networks .network-panels .panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #dddddd;
}
.available-networks .network-panels .panel-group .panel-footer {
    border-top: 0;
}
.available-networks .network-panels .panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #dddddd;
}
.available-networks .network-panels .panel-default {
    border-color: #dddddd !important;
}
.available-networks .network-panels .panel-default > .panel-heading {
    color: #333333 !important;
    background-color: #f5f5f5 !important;
    border-color: #dddddd !important;
}
.available-networks .network-panels .panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #dddddd;
}
.available-networks .network-panels .panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #dddddd;
}

.bgbar{
    height: 68px;
    background-image: linear-gradient(to right, #428bca,#5bc0de);
    color: white;
    padding: 4px 8px !important;
}

.btn-select{
    width: 97px !important;
    position: absolute;
    transform: translateY(-50%);
    left: 79%;
    top: 50%;
    height: auto !important;
    background: none;
    color: #009ce0;
    border: 1px solid;
}

.nextArrowStyle{
    width: 12px;
    position: absolute;
    top: 48%;
    right:5px;
}
