/*hack to disable weird shadows in iOS */
input[type='text'],input[type='email'],input[type='password'],input[type='tel']{
    -webkit-appearance: none;
}
.menuLeft{
    width:240px;
}

.content-1 {
margin:0 auto;
}
/* fixed */
.max-f {
    max-width: 340px;
    margin:0 auto;
    padding:0px 22px;

}
.max-f .tweetButton{
    padding:0px;
}
.max-f  label[class*='col-md-'].control-label,.max-f  label[class*='col-sm-'].control-label
{
    width:100% !important;
    padding: 0px 0px 4px 0px;
}

.max-f  label[class*='col-md-offset'],.max-f  label[class*='col-sm-offset']
{
    margin-left:0 !important;
}

.max-f  div[class*='col-md-'],.max-f  div[class*='col-sm-']
{
    width:100% ;
    padding:0px;
}

.max-f  div[class*='col-md-offset'],.max-f  div[class*='col-sm-offset']
{
    margin-left:0 !important;
}

.max-f  div[class*='col-sm-push'],.max-f  div[class*='col-md-push']
{
    left:0;
}

div.max-f .max-f-11{
    width:91.66666666666666% !important;
    float:left;
    padding:0 5px 0 0;
}

div.max-f .max-f-1{
    width:8.333333333333332% !important;
    float:left;
    padding:0 5px 0 0;
}

div.max-f .max-f-2{
    width:16.666666666666664% !important;
    float:left;
    padding:0 5px 0 0;
}

div.max-f .max-f-10{
    width:83.33333333333334% !important;
    float:left;
    padding:0 5px 0 0;
}

div.max-f .max-f-3{
    width:25% !important;
    float:left;
    padding:0 5px 0 0;
}

div.max-f .max-f-4{
    width:33.33333333333333% !important;
    float:left;
    padding:0 5px 0 0;
}


div.max-f .max-f-5{
    width:41.66666666666667% !important;
    float:left;
    padding:0 5px 0 0;
}

div.max-f .max-f-7{
    width: 58.333333333333336% !important;
    float:left;
    padding:0 5px 0 0;
}


div.max-f .max-f-8{
    width:66.66666667% !important;
    float:left;
    padding:0 5px 0 0;
}

div.max-f .max-f-9{
    width:75% !important;
    float:left;
    padding:0 5px 0 0;
}


div.max-f div.max-f-6{
    width:50% !important;
    float:left;
    padding:0 10px 0 0;
}



div.max-f .max-f-10,#actsimform .max-f-10{
    width:83.33333333333334% !important;
    float:left;
    padding:0 5px 0 0;
}

@media(max-width:1024px){
	header, footer[role="gs-main"]{
		-webkit-tap-highlight-color: rgba(0,0,0,0.15);
	}
	
	header a:active, footer[role="gs-main"] a:active{
		color: #009ce0;
	}
}

@media(min-width:365px){
    /* fixed */
    .max-f {
        max-width: 365px;
    }
}

@media(max-width:365px){

    [data-cur-lang='es'] .btnFontSizeEs{
        font-size: 14px;
    }

    [data-cur-lang='it'] .btnFontSizeIt{
        font-size: 14px;
    }

    [data-cur-lang='fr'] .btnFontSizeFr{
        font-size: 14px;
    }

}

/* Mobile portrait mode */
@media(max-width:959px){
    .paymentHist p{margin-right: 10px;}
	
	header .container {
		min-width: 0;
	}
	
	footer[role="gs-main"].section-footer .link-list a {
		float: none;
		display: block;
		text-align: center;
	}
	footer[role="gs-main"] .badges img {
		margin-bottom: 10px;
	}
	
	footer[role="gs-main"].section-footer .two-columns .col-image {
		display: none;
	} 
	
	footer[role="gs-main"] .two-columns .col {
	  display: block;
	  width: 100%;
	}
	footer[role="gs-main"] .two-columns .col:first-child {
	  margin-bottom: 25px;
	}
	footer[role="gs-main"] .two-columns .col-text {
	  width: 100%;
	  text-align: center;
	}
	footer[role="gs-main"] .two-columns .col-text .inner {
	  padding: 0;
	}
	footer[role="gs-main"] .two-columns .col-image {
	  position: absolute;
	  left: -9999px;
	  text-align: center;
	}
	footer[role="gs-main"] .section-address .two-columns .col-text {
	  text-align: left;
	}
	.mobile-ui.show-mobile-menu {
	  overflow-x: visible;
	}

    .dashboardHeader
    {
        padding: 4px 0 16px 0 !important;
    }

    .headerRowContainer {
        padding: 36px 0px 16px 0px !important;
    }

    .viewContainer{
        padding: 0px 0px 25px 0px;
        min-height:600px;
    }
    .outerContainer
    {
        min-height: 480px;
    }

    .searchInput{
        width:220px;
        padding-righ:4px;
        display:inline-block;
    }

    .searchInputCancel{
        width:190px !important;
        padding-righ:4px;
        display:inline-block;
    }
    .desktopDesign {
        display:none;
    }
    .paymentHist .desktopDesign {
        display:none;
    }
    .buyPlan .step-indicator {width:300px}

    .gigCredit .lightGrayBG {padding: 10px 15px 5px 15px;}

    .gigCredit .ccpersonaldetails{
        padding: 20px 15px 10px 15px;
    }
    .buyPlan .timeline .Text{display: none !important;}

    .viewRowContainer{
        padding: 0px;
    }

    .isWidthLessThan960{
        display:inline-block;
    }

    .max-s {
        max-width: 340px;
        margin:0 auto;
        padding:0px 22px;
    }

    .simList.max-s {
        max-width: 440px;

    }
   /* div.modal-content .max-s{
        min-width: 0px;
        margin:0;
        padding: 0px 45px;
    }*/



    .max-sd{
        max-width: 360px;
        margin:0 auto;
        /*padding:0 5px 0 5px;*/
        padding:0px 22px;
    }

    .max-s .tweetButton{
        padding:0px;
    }
    .max-s  label[class*='col-md-'].control-label,.max-s  label[class*='col-sm-'].control-label,.max-s label[class*='col-xs-'].control-label
    {
        width:100% !important;
        padding: 0px 0px 4px 0px;
    }

    .max-s  label[class*='col-md-offset'],.max-s  label[class*='col-sm-offset']
    {
        margin-left:0 !important;
    }

    .max-s  div[class*='col-md-'],.max-s  div[class*='col-sm-'],.max-s  div[class*='col-xs-']
    {
        width:100% ;
        padding:0px;
    }

    .max-s  div[class*='col-md-offset'],.max-s  div[class*='col-sm-offset']
    {
        margin-left:0 !important;
    }

    .max-s  div[class*='col-sm-push'],.max-s  div[class*='col-md-push']
    {
        left:0;
    }

    div.max-s div.max-3{
        width:25%;
        float:left;
        padding:0 5px 0 0;
    }

    div.max-s div.max-s-6{
        width:50% !important;
        float:left;
        padding:0 10px 0 0;
    }


    div.max-s .max-s-11,#actsimform .max-s-11{
        width:91.66666666666666% !important;
        float:left;
        padding:0 5px 0 0;
    }

    div.max-s .max-s-1,#actsimform .max-s-1{
        width:8.333333333333332% !important;
        float:left;
        padding:0 5px 0 0;
    }

    div.max-s .max-s-2{
       width:16.666666666666664% !important;
        float:left;
        /*padding:0 5px 0 0;*/
    }

    div.max-s .max-s-10{
        width:83.33333333333334% !important;
        float:left;
        padding:0 5px 0 0;
    }

    div.max-s .max-s-9{
        width:75% !important;
        float:left;
        padding:0 5px 0 0;
    }

    div.max-s .max-s-3{
        width:25% !important;
        float:left;
        padding:0 5px 0 0;
    }


    div.max-s .buyplanbutton{
        margin-left:-22px;
    }

    div.max-s .buyPlan {
        padding-bottom:10px !important;
    }
    /*div.max-s div.max-3.max-s-padding-left5*/
    /*{*/
        /*pading-left:5px !important;*/
    /*}*/


    .max-s-tr-history{
        max-width: 400px;
    }
}
@media(min-width:960px){
    .searchInput{
        width:320px;
        padding-righ:4px;
        display:inline-block;
    }

    .searchInputCancel{
        width:290px !important;
        padding-righ:4px;
        display:inline-block;
    }

    .makepayment .max-f{
        padding-left:0;
        padding-right:0;
    }
    .max-d{
        max-width: 360px;
        padding:0px 0px;
    }
    .simEditHeader
    {
        display:none;
    }
 .viewSIMDetails{
     padding-left:7px;
     padding-right:7px;
 }

 .simDetailsContainer{
     min-height:480px;
 }

 .isWidthMoreThan960{
     display:inline-block;
 }
 .mobileDesign {
     display:none;
 }
.max-m{
    max-width: 600px;
    margin:0 auto;
}

.max-m-gscredit{
    max-width: 664px;
    margin:0 auto;
}

.max-m-payhistory{
    max-width: 720px;
    margin:0 auto;
}

    .simList.max-s {
        max-width: 560px;
        margin: 0 auto;
        padding: 0 22px;
    }

}

.isMenuNeeded{
    display:none;
}

.mobile-ui .notLoggedInClass .mobilemenu{
    display:block;
}

.mobile-ui .notLoggedInClass .noMoblie{
    display: none;
}

.mobile-ui .notLoggedInClass .leftNavigationWrapper {
    width:0px;
    display:none;
}
.mobile-ui .notLoggedInClass .menuLeftWrapper{
    width:0px;
    display:none;
}

.mobile-ui .notLoggedInClass .custPanel{display:block;}
.mobile-ui .notLoggedInClass .isMenuNeeded{
    display:block;
}


@media(max-width:961px){
    .notLoggedInClass .mobilemenu{
        display:block;
    }

    .notLoggedInClass .noMoblie{display: none;}

    .notLoggedInClass .leftNavigationWrapper {
        width:0px;
        display:none;
    }
    .notLoggedInClass .menuLeftWrapper{
        width:0px;
        display:none;
    }

    .notLoggedInClass .custPanel{display:block;}
    .notLoggedInClass .isMenuNeeded{
        display:block;
    }
}

/*.form-horizontal .form-group{margin: 4px 0px 0px 0px;}*/

/* Landscape phone to portrait tablet */
@media(max-width:600px){

    .concur_heading{
        font-size:1.0625em;
    }

	[role="navigation"]{
		position: absolute;
		right: 0;
		width: 100%;
		padding: 0 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

    .dashboardHeader
    {
        padding: 10px 0 16px 0 !important;
    }
    .ngViewStyle{
        /*display:table-cell;*/
        padding-bottom:30px;
    }
    .desktopFooter{
        display:none;
    }

    .mobileFooter{
        display: block;
    }
    .isMenuNeeded{
        display:block;
    }
    .gsbanner{
        max-width:320px;
        margin:0 auto;
    }
    .footer ul li.rightlink{
        text-align:right;
    }
    .viewContainer{
        padding: 0px 0px 0px 0px;
        min-height:300px;
    }
    .outerContainer
    {
        min-height: 300px;
    }
    .gslogo{
        /*display: table-cell;*/
        width:210px;
        /*margin:0 auto;*/
        text-align: center;
        float:none;
    }
    .gsLogoDiv{
        margin:11px 0 12px 0;
        padding-left:22px;
    }
    .mobilemenu{
        display:block;
    }
    .hide-mobile{
        display:none;
    }
    .header, .footerLinks {
        padding-left: 22px;
        padding-right: 22px;
    }
  .noMoblie{display: none;}
 .header{padding: 0px;}
 .navbar-header{padding: 16px 10px 16px 16px;}
 .header .headerLinks {padding: 0px 15px;text-align: right;}
 .header .headerNav {padding: 0px}
 .footerLinks {padding: 15px 0px 0px 0px;}
 .footerLinks .flink {text-align: left;padding: 10px 0px 0px 0px;}
 .footerLinks .flink span{display: none;}
 .footerWrapper{padding:15px 0px 0px 0px}
 .mainContainerWrapper{margin-bottom: 30px;}
 .leftNavigationWrapperTopNav .leftNavigation .leftNavList ul li,
 .leftNavigationWrapperTopNav .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper{padding: 6px 0px 6px 44px;}
input[type="checkbox"] {margin: 0px 5px 0px 0px;}
/*hide show*/
/*.leftNavigationWrapperHide {display:none;}*/
.leftNavigationWrapperTopNav{display:block;}
.navbar-collapse{max-height: 100%;}
.leftNavigationWrapperTopNav{position: static;}
.navbar-collapse{padding: 0px;}
/*Login Page*/	
/*.form-horizontal .form-group {margin-right: -15px;margin-left: -15px;}	*/
.fbButton {padding: 0px;padding-bottom: 4px;}
.tweetButton {padding: 0px;}   
.form-group {margin-bottom: 10px;}
.tnc {font-size: 14px;text-align: center;padding: 36px 0px 32px 0px;}

.orMid{margin: 0px 0px 0px 0px;padding: 0px;}
/*Edit User Page*/
.mainContainer {padding: 10px 0px 10px 0px;}
.mainContainerRow{padding:16px 0px 0px 0px;}
.mainContainerRowSm {padding: 0px 0px 16px 0px;}
.form-horizontal .changeLink {float: right;}
/*.form-horizontal .form-group {margin: 0px;}*/
.form-horizontal .form-group-label {padding: 0px 15px 10px 15px;}
.form-horizontal .control-label {padding: 0px 0px 0px 15px;}
.form-horizontal .changeLink {line-height:26px;}
.btnWrapperRight{padding: 0px;padding-left: 10px}
.btnWrapperLeft{padding: 0px;padding-right: 10px}
.changeEmail{padding: 10px 0px }
.mainContainerRow h1.grayBg{padding: 15px 0px 15px 15px;font-size: 16px;background: #f6f5f5;}
.mainContainerRow h1{padding: 0px 0px 0px 15px;font-size: 16px;}
.socialImg,.socialConnect{padding: 0px;}
.connectAccountTw{border-bottom: 0px;}
.connectAccountFb,.connectAccountTw{padding-right: 0px;padding-left: 0px;}
.connectAccountFb .subText, .connectAccountTw .subText{font-size: 13px;}
.socialLink{padding: 2px 0px 5px 15px;}
.leftNavigationWrapperTopNav .leftNavigation {background: transparent;padding-top:0px;padding-right: 0px;padding-bottom: 32px;padding-left: 0px;}
.creditCardPadding {padding: 0px 15px;}
.creditCardPaddingLeft {padding: 0px 0px 0px 15px;}
.creditCardPaddingRight{padding: 0px 15px 0px 0px;}
.creditCardPaddingMiddleR{padding: 0px 10px 0px 5px;}
.creditCardPaddingMiddleL {padding: 0px 5px 0px 10px;}
.mainContainerPadding {padding: 10px 0px;}
.paymentHist p{margin-right: 10px; color: #515557}
.planDiv,.complitedDiv,.prizeDiv{padding-left: 25px;}
.paymentHist ul {margin: 0px;}
.paymentHist .allEmail{padding-bottom: 10px;padding-top: 10px;}
.paymentHist input[type="checkbox"] {margin: 5px 10px 0px 0px;}
.paymentHist ul li {margin: 10px 0px;}
/*.paymentHist ul li .block {padding: 16px 0px;}*/
.gigCredit .lightGrayBG {padding: 10px 15px 0px 15px;}
.gigCredit p{margin-right: 10px;display: inline-block;}
.gigCredit .headingText3 {margin-top: 15px;margin-bottom: 25px;}
.gigCredit .headingText2 {margin: 16px 0px 16px 0px;}
.fergotPassword .mainContainerRow {padding: 16px 0px;}
.fergotPassword .form-horizontal .control-label {padding: 0px 0px 10px 15px;}
.editCeditcard .form-horizontal .form-control {font-size: 15px;}
.editCeditcard .noPadd {padding: 0px 15px;}
.editCeditcard .mainContainerRowSm.editcardPadd{padding-left: 15px;padding-right: 15px;padding-top: 5px;padding-bottom: 15px;}
.paymentHist .costText,.gigCredit .costText{text-align: right !important;color: #1c1c1c;}
.transactionPin .changeLink{float: right;margin-right: 15px !important;}
.transactionPin .textPadding{padding-right: 15px;padding-left: 15px;}
.transactionPin .form-horizontal .form-group {margin: 16px 0px 0px 0px;}
.transactionPin .colpadd{padding: 0px 15px 0px 15px;}
.transactionPin .dashedBorder {border-bottom: 1px dashed #ccc;margin: 0px 0px 0px 0px;padding-top: 0px;}
.transactionPin .marginTop{margin: 10px 0px 0px 0px;}
.welcome .textCenter{text-align: right;}
.welcome .pageHeading{font-size:20px;margin-top: 20px;margin-bottom: 10px;}
.transctionPin{padding: 0px 15px;}
.transctionPin ul li .custIconPadd {margin-right: 0px;margin-left: 10px;}
.panelClose {position: absolute;top: -10px;right: -10px;}
.modal-sm {margin-top: 80px;}
.modal-title {font-size: 20px}
.mt{margin-top:15px;}
.modal-body {padding: 0px 15px 15px 15px;font-size: 15px}
.modal-body.modal-bodyN{padding: 0px 0px 15px 0px !important;font-size: 15px;}
.dashboard .mainContainerRowSm {padding:16px 0px 0px 0px;}
.dashboard .table tbody tr th {padding: 10px 10px;}
.dashboard .otherPlan {padding: 0px;}
.dashboard .subText {margin-right: 5px;}
/*.dashboard .font32{font-size: 22px;}*/
/*.dashboard .font24{font-size: 16px;}*/
/*.dashboard .font18{font-size: 14px}*/
.dashboard .errorText {font-size: 14px;}
.dashboard .otherPlanInner {padding: 5px 0px;line-height: 24px;}
.dashboard .vam {margin-left: 2px;}
/*.dashboard h1.otherPlanHeader {padding: 5px 0px 15px 15px;}*/
.dashboard .switchPlan {padding: 0px 15px 0px 0px;}
.dashboard .padding15{padding: 15px 15px 0px 15px;}
.dashboard .panel {padding: 15px 0px 15px 0px;}
.comments ul li {margin: 0px;padding: 15px 10px 10px 15px;}
.comments .font16{font-size:14px}
.dashboard .paddBot50 {padding-bottom: 20px !important;}
.dashboard .borderBottom {border-bottom: 1px dotted #ccc;}
.buyPlan .timeline .Text{display: none !important;}
/*.buyPlan .timeline .line{margin-bottom: 8px;}*/
.buyPlan .countryView p.hideEmpty{margin: 0px 0px 10px 0px;}
.buyPlan .timeline {margin: 15px 0px 15px 0px;padding: 0px;}
.buyPlan .countryView p {margin: 25px 0px 10px 0px;text-align: center;}
.buyPlan .searchBox {padding: 0px;margin: 10px 0px 0px 0px;}
.buyPlan .headingText2,.buyPlan .countryView,.buyPlan .mainContainerRowSm,.buyPlan .carrierWrapper{padding: 0px 0px 0px 0px;}
.buyPlan .panel {padding: 0px 0px 0px 0px;}
.buyPlan .carrierPadd{padding: 0px 0px 10px 0px;}
.buyPlan .buyPlan3 .makePaymentTopblock {padding: 16px 15px;}
.buyPlan .font18{font-size: 16px;}
.confirmBtn{margin-top: 15px;}
.buyPlan .buyPlan3 .makePaymentTopblock .orPadd {padding: 30px 0px 10px 0px;}
.glyphicon-star{color:#f3c474;font-size:24px;padding-left:5px}
.glyphicon-star-empty {color:#c5cad4;font-size:24px;padding-left:5px}
.rating{padding-bottom: 15px;}
.ratingStatic .glyphicon-star{color:#f3c474;font-size:24px;padding: 0px 5px 0px 0px;}
.ratingStatic .glyphicon-star-empty {color:#c5cad4;font-size:24px;padding: 0px 5px 0px 0px;}
.buyPlan .rating {padding-bottom: 0px;}
.usageSelector ul li {padding: 10px 15px;}
.simDetails {padding: 0px 0px 0px 0px;}
.simDetails table td.labelDiv {padding: 2px 5px;width: 40%;}
.simDetails table td.labelDiv2 {padding: 2px 0px;width: 60%;}
.usageSelector ul li.bubble:after {display:none;}
.usageSelector ul li.bubble,.usageSelector ul li {margin: 0px}
.usageSelector {margin: 0px 0px 10px 0px;}
.navbar-default .navbar-toggle {display: block;}
#recaptcha_area{margin-left: -10px;margin-bottom: 10px;}
.recaptchatable #recaptcha_image #recaptcha_challenge_image {width:250px;}
.recaptchatable #recaptcha_image {width: 250px;}
.recaptchatable .recaptcha_image_cell center{width: 250px;}
#recaptcha_area, #recaptcha_table ,.recaptchatable {width: 290px !important;}
.leftPaddi{padding: 0px 15px 0px 15px !important;}
.marginM30{margin-bottom: 30px}
.orDivider .font16{font-size: 14px}
.btn-default{font-size: 16px;height: 44px;}
.btn-default:hover{font-size: 16px;height: 44px;}
.noPadd1{padding: 0px}
.marginTopt10{margin-top: 10px}
.editCeditcard form .mainContainerRowSm{padding: 16px 0px 16px 0px;}
.custPanel{display:block;}
.blockSim .form-group {margin-top: 15px;}
.leftNavigationWrapper,.breadcrumbs{display: none}
.backBtn{display: block;}
.transactionPin .form-horizontal .control-label {padding: 0px 0px 0px 15px;}
.transactionPin .nopadding{padding:0px;}
.listWrapper .planDiv,.listWrapper .prizeDiv {padding-left: 0px;}
.listWrapper .complitedDiv{display:none;}
.custBtnWrapperPadding{margin: 5px 0px 25px 0px;}
.addCCWrapper .form-horizontal .form-group {margin: 8px 0px 8px 0px;}
.addCCWrapper .backBtn {margin-bottom: 0px}
.paypro .textCenter{text-align:left;}
.paypro .font18{font-size: 16px}
.dblk{display: block !important;}
.hideBlock{display:none !important;}
.hideImg{display: none;}
.imgpaddR15{padding: 0px}
.addCmt {padding: 15px 10px 10px 15px !important}
/*.forgotAlign{float: right;padding: 10px 15px 0px 0px !important;}*/
.btnPaddR0 {padding-right: 15px !important;}
.paddL8{padding-left:8px}
 .container{padding: 0px}
 .customContainer {margin: 0 0 69px 0;border-right: 0px solid #dddddd;border-left: 0px solid #dddddd;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
header .navbar-header img {margin-top: 0px;}
.editcardPadd .nP{padding:0px 15px}
.footer ul li span{display: none;}
.footer ul li {width: 50%;margin: 0px;float: left;text-align: left;padding: 0px 0px 0px 0px;list-style-type: none;display: inline-block;line-height: 28px;}
.txtC{text-align:center;}
.footerLinks .flinkIcons {margin: 16px 0px 5px 0px;}
.footerLinks .copyrights {color: #aeb4c3;padding: 0px;padding-bottom: 16px;}
.flinkIcons a{float:none !important;}
    .leftNavigationWrapper {
        width:0px;
        display:none;
    }
    .menuLeftWrapper{
        width:0px;
        display:none;
    }

    .headerRowContainer {
        padding: 36px 0px 16px 0px !important;
    }

    .max-s {
        max-width: 340px;
        margin:0 auto;
        min-width: 0px;
        padding:0px 22px;
    }

    .simList .max-s{
        max-width: 340px;
        min-width: 0px;
        padding:0px;
        margin:0 auto;
    }

    .buyPlan .buyPlan3 {
        margin: 4px 0px;
    }

    .max-f {
        padding: 0px 22px;
    }

    .marginTop20 {
        margin-top: 10px;
    }

    .captchaRegion
    {
        margin-left: -10px;
    }
}

@media(min-width:601px){

    /*.headerRowContainer{*/
        /*padding: 0px 8px 32px 8px;*/
    /*}*/
    .leftNavigationWrapper {
        width:240px;
        display:block;
    }
    .menuLeftWrapper{
        width:240px;
        display:table-cell;
    }

    .desktopFooter{
        display:block;
    }

    .mobileFooter{
        display: none;
    }

}

@media(min-width:601px) and (max-width:700px){
    .tabletPortrait{
        display: inline !important;
    }

    .otherDesigns{
        display:none !important;
    }
}
@media (max-width:768px) {
footer[role="gs-main"] .badges {
    text-align: center;
    margin-top: 15px;
}
footer[role="gs-main"] .legal {
    text-align: center;
}
}
/* Portrait tablet to landscape and desktop */
@media(min-width:601px) and (max-width:992px) {
.mainContainerWrapper {padding: 0px 0px 90px 0px;height: 90vh;}
.mainContainerRow{padding: 16px 32px 16px  36px;}
.mainContainerRowSm {padding: 16px 24px 16px 36px;}
.header,.footerLinks{padding-left: 22px;padding-right: 22px;}
.socialImg,.socialConnect{padding: 0px;}
.connectAccountTw{border-bottom: 0px;}
.connectAccountFb,.connectAccountTw{padding-right: 0px;padding-left: 0px;}
.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav li{padding: 0;}
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavHeading,
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavManageHeading {padding: 8px 0px 8px 16px;}
.leftNavigationWrapper .leftNavigation .leftNavList ul li,
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper{padding: 6px 0px 6px 24px;}
.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav{padding: 6px 0px 6px 30px;}
.creditCardPadding{padding: 0px 0px 0px 15px;}
/*.creditCardInputs{padding-right: 0px;}*/
.paymentHist .costText,.gigCredit .costText{text-align: right;}
.fergotPassword .mainContainerRow {padding: 32px 16px 32px 16px;}
.welcome .textCenter{text-align: right;}
.welcome .btnPadd{padding:0px;}
.dashboard .mainContainerRowSm {padding: 16px 24px 16px 36px;}
.buyPlan .timeline .timelineSm{padding:0px}
.buyPlan .timeline .Text {padding: 0px 0px 0px 0px;}
.buyPlan .timeline .noPadd {padding: 0px 10px 0px 10px;}
.buyPlan .timeline {padding: 0px;font-size: 13px;}
.buyPlan .carriersList ul li {padding: 10px 5px 10px 5px;}
.buyPlan .buyPlan3 .makePaymentTopblock {padding: 16px 15px;}
.usageSelector ul li {padding: 10px 15px;}
.simDetails {padding: 0px 0px 0px 10px;}
.simDetails table td.labelDiv {padding: 2px 5px;width: 40%;}
.simDetails table td.labelDiv2 {padding: 2px 0px;width: 60%;}
.custPanel,.backBtn{display: none;}
.transactionPin .form-horizontal .control-label {padding: 10px 0px 0px 10px;}
.imgpaddR15{padding: 0px}
.img768{padding-right: 15px}
.customContainer {margin: 0px;padding-bottom: 0px;border-right: 0px solid #dddddd;border-left: 0px solid #dddddd;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.container {width: 100%;padding: 0px;}
.header .headerNav {padding: 12px 15px;}
.footer ul li {margin: 0px;padding: 0px 8px 0px 0px;}
.txtC{text-align:center;}
.footerLinks .flinkIcons {margin: 16px 0px 5px 0px;}
.flinkIcons a{float:none !important;}
}

/* landscape tablet to min desktop */
@media(min-width:993px) and (max-width:1170px) {
.header,.footerLinks{padding-left: 22px;padding-right: 22px;}
.socialConnect{padding: 0px;}
.mainContainerRow{padding: 16px 32px 32px 48px;}
.mainContainerRowSm{padding: 16px 32px 16px 32px;}
.dashboard .mainContainerRowSm{padding: 16px 32px 16px 32px;}
.connectAccountTw{border-bottom: 0px;}
.connectAccountFb,.connectAccountTw{padding-right: 0px;padding-left: 0px;}
/*.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav li{padding: 5px 0px 5px 0px;}
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavHeading,
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavManageHeading {padding: 8px 0px 8px 16px;}
.leftNavigationWrapper .leftNavigation .leftNavList ul li,
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper{padding: 6px 0px 6px 24px;}
.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav{padding: 6px 0px 6px 30px;}*/
.creditCardPadding{padding: 0px 0px 0px 15px;}
.buyPlan .timeline .timelineSm{padding:0px}
.buyPlan .timeline .Text {padding: 0px 0px 0px 0px;}
.buyPlan .timeline .noPadd {padding: 0px 15px;}
.buyPlan .buyPlan3 .makePaymentTopblock {padding: 16px 15px;}
.simDetails table td.labelDiv {width: 30%;padding: 2px 10px;}
.simDetails table td.labelDiv2 {width: 70%;padding: 2px 10px;}
.custPanel,.backBtn{display: none;}
.imgpaddR15{padding: 0px}
.container {width: 970px;padding: 0px;}
.header .headerNav {padding: 12px 15px;}
}

@media(min-width: 1171px){
.header,.footerLinks{padding-left: 16px;padding-right: 16px;}
.socialConnect{padding: 0px;}
/*.mainContainerRow{padding: 32px 32px 32px 48px;}
.mainContainerRowSm{padding: 16px 32px 16px 48px;}
.dashboard .mainContainerRowSm{padding: 16px 32px 16px 48px;}
.connectAccountTw{border-bottom: 0px;}
.connectAccountFb,.connectAccountTw{padding-right: 0px;padding-left: 0px;}
.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav li{padding: 5px 0px 5px 0px;}
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavHeading,
.leftNavigationWrapper .leftNavigation .leftNavList .leftNavManageHeading {padding: 8px 0px 8px 16px;}
.leftNavigationWrapper .leftNavigation .leftNavList ul li,
.leftNavigationWrapper .leftNavigation .leftNavList ul.manageNav li .listOuterWrapper{padding: 6px 0px 6px 24px;}
.leftNavigationWrapper .leftNavigation .leftNavList ul.paymentNav{padding: 6px 0px 6px 30px;}
.creditCardPadding{padding: 0px 0px 0px 15px;}
.buyPlan .timeline .timelineSm{padding:0px}
.buyPlan .timeline .Text {padding: 0px 0px 0px 0px;}
.buyPlan .timeline .noPadd {padding: 0px 15px;}
.buyPlan .buyPlan3 .makePaymentTopblock {padding: 16px 15px;}
.simDetails table td.labelDiv {width: 30%;padding: 2px 10px;}
.simDetails table td.labelDiv2 {width: 70%;padding: 2px 10px;}
.custPanel,.backBtn{display: none;}
.imgpaddR15{padding: 0px}
.customContainer {margin: 0px;padding-bottom: 69px;border-right: 0px solid #dddddd;border-left: 0px solid #dddddd;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
*/
.mainContainerWrapper {padding: 0px 0px 90px 0px;}
.mainContainerRow{padding: 16px  32px 16px 36px;}
.mainContainerRowSm {padding: 16px 32px 16px 32px;}
.header .headerNav {padding: 12px 15px;}	
.container {width: 1024px;padding: 0;}

}

@media(min-width: 990px){
    .mainContainerWrapper {padding: 0px 0px 90px 0px;}
}

@media (max-width:340px) {
    .smallscreen.max-f{
        max-width:320px;
    }
}
