<!--MainContainer-->
<div class="viewContainer paymentHist content-1 mainWrapper" style="padding-left:8px;padding-right:8px;">
    <div class="viewRowContainer ">
        <div my-loading-spinner="viewLoading" ></div>

        <div class="max-f">
            <view-title view-name="'About'" disable-back="true" on-back="" back-url=""></view-title>

            <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="viewLoading">
                <ul >
                    <li style="margin:0 0">
                        <div style="vertical-align:middle;background-color: #F2F4F4;padding-top: 12px;padding-bottom: 12px;">
                            <div class="mSans300" style="display:inline-block; padding:0; padding-left: 15px;">Version
                            </div>

                            <div class="mSans300" style="display:inline-block;margin-top:0px;left:0%; padding-right:15px;float:right;">
                                <span>{{app_version}}</span>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </li>
                    <!--<li style="padding-top: 4px;margin:0 0">-->
                        <!--<a  class="" href="https://www.facebook.com/GigSky" target="_blank" style="color:#333;">-->
                            <!--<div class="col-md-12 col-sm-12 col-xs-12 max-s-12 max-f-12" ng-click="" style="padding-top:10px;padding-bottom: 10px; cursor:pointer;">-->
                                <!--<div class="col-md-11 col-sm-11 col-xs-11 max-s-11 max-f-11 mSans300"  style="padding:0;padding-left: 15px;">-->
                                    <!--Like us on Facebook-->
                                <!--</div>-->
                                <!--<div class="col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1" style="padding-left: 5px;">-->
                                    <!--<img ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="noPadd1">-->
                                <!--<div class=" col-md-12 col-sm-12 col-xs-12">-->
                                    <!--<div class=" col-md-12 col-sm-12 col-xs-12  dashedBorder" style="padding:0 !important;padding-left: 15px;"></div>-->
                                <!--</div>-->
                                <!--<div class="clearfix"></div>-->

                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>


</div>

