<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer">
    <div class="viewRowContainer">
        <div class="max-f maxWidth" style="padding:0 15px">
            <div my-loading-spinner="viewLoading" ></div>
            <view-title view-name="'Terms of Service and Privacy Policy'" disable-back="true" on-back="" back-url=""></view-title>
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus">
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr" notranslate>{{formSubmitErrorStr}} </span>
            </div>

            <div  class="col-md-12 col-sm-12 col-xs-12">
                <div class="mainOption" >As a valued GigSky customer, we want to let you know that we have made some changes to our Terms of Service and Privacy Policy. We have refined and reorganized our policies for clarity, transparency and to address new regulations including GDPR (General Data Protection Regulation). Please read and accept them to continue to use the GigSky data service.</div>
                <form class="form-horizontal" name="accept_terms_form" role="form" novalidate gs-form-validation >


                    <div class="form-group col-md-8 col-sm-8  col-md-offset-2 col-sm-offset-2 mainOption agreeTerms" style="padding-top: 25px; margin-bottom: 8px;" ng-class="{'has-error':accept_terms_form.agreeTerms.errorStr}">
                        <span class="termInput"><input name="agreeTerms" type="checkbox" ng-model="agreeTerms" required name="agreeTerms" requiredError="In order to use our services, you must accept GigSky's Terms of Service and Privacy Policy" gslabel="agreeTerms"></span>
                        <span class="mSans300" id="termsLabel" notranslate></span>
                        <span class="help-block text-left" style="line-height: 1.43;" ng-show="accept_terms_form.agreeTerms.errorStr" notranslate> {{accept_terms_form.agreeTerms.errorStr}}</span>
                    </div>
                    <div class="form-group">
                        <div class=" col-md-4 col-sm-4"></div>
                        <div class=" col-md-7 col-sm-7  col-md-offset-1 col-sm-offset-1">
                            <div class=" col-md-6 col-sm-6 col-xs-12 pull-right noPadd">
                                <button type="submit" class="btn btn-default" ng-click="acceptTerms(accept_terms_form)">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

