<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer">
    <div class="viewRowContainer">
        <div class="max-f maxWidth" style="padding:0 15px">
            <div my-loading-spinner="viewLoading" ></div>
            <view-title view-name="'Account Confirmation'" disable-back="true" on-back="" back-url=""></view-title>
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus">
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr" notranslate>{{formSubmitErrorStr}} </span>
            </div>

            <div ng-if="!showConfirmMsgOnLogin" class="col-md-12 col-sm-12 col-xs-12">
                <div class="mainOption" notranslate>{{emailConfirmMsg}}</div>
                <div class="mainOption accountConfirmMsgMargin">If you don't see this email in your Inbox, check your Spam folder.</div>
                <button type="submit" class="btn btn-default accountConfirmMsgMargin" ng-click="continue()">Continue</button>
            </div>

            <div ng-if="showConfirmMsgOnLogin" class="col-md-12 col-sm-12 col-xs-12">

                <div class="mainOption" notranslate>{{emailConfirmMsg}}</div>
                <div class="mainOption accountConfirmMsgMargin">If you don't see this email in your Inbox, check your Spam folder. You can resend the confirmation email by selecting 'Send Email' below. Adding noreply@gigsky.com to your email contact list may help ensure delivery to your Inbox.</div>

                <div class="col-md-12 col-sm-12 col-xs-12 accountConfirmMsgMargin">
                    <div class="col-md-4 col-sm-4 col-xs-4 max-s-4 max-f-4 textLeft btnFontSizeEs truncate blueText" style="line-height:40px;">
                        <a ng-click="skip()">Skip</a>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8 max-s-8 max-f-8">
                        <button type="submit" class="btn btn-default btnFontSizeEs truncate" ng-click="sendActivationLinkEmail()">Send Email</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

