<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer" ng-controller="activateSIMController">
    <div class="viewRowContainer">
    <div my-loading-spinner="viewLoading" ></div>
    <div class="max-f personalDetails">
        <view-title view-name="viewName" disable-back="disableBack" on-back="onBack()"></view-title>
        <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" style="padding-top: 20px;" notranslate>
            <span class="messageText"
                  ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
        </div>
        <div ng-show="!viewLoading">
        <div ng-hide="showHelpScreen">
        <activatesim></activatesim>
        </div>
            <div id="helpScreen" ng-show="showHelpScreen">
                <div>
                        <div class=" col-md-12 col-sm-12 marginTop10">
                            Please check the settings on the device using GigSky SIM.
                        </div>
                        <div class="col-md-12 col-sm-12 marginTop10">
                            <ul id="settingOptions">
                                <li>Cellular Data ON</li>
                                <li>Data Roaming ON</li>
                                <li>APN settings
                                    <ul id="settingSubOptions">
                                        <li>Name: GigSky</li>
                                        <li>APN: gigsky</li>
                                        <li>Username: Leave blank</li>
                                        <li>Password: Leave blank</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                </div>
                <div class="col-md-12 col-sm-12 mSans300 marginTop20 textCenter marginTop10 noPadd1" style="margin-top:38px;">
                    <div class=" col-md-6 col-sm-6 col-xs-12 " style="margin: 0 auto;float:none;">
                        <div class="btnWrapper tweetButton">
                            <button type="submit" class="btn btn-default" ng-click="onContinue()">Continue</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    </div>
</div>
