<div class=" col-md-12 col-sm-12 col-xs-12 mainContainerRowSm padding15">
    <div class="available-networks" >

        <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd bgbar" test-arg="destinationBar" ng-if="availableNetworks.length >= 1">
            <div style="margin-top: 2%;">Destination</div>
            <div class="vam countryPlan mSans500 font20">{{availableNetworks[0].details.currentCountryName}}</div>
        </div>
        <div class="clearfix"></div>

        <div class="max-f noPadd" ng-if="isForbidden">
            <p class="mSans300 font15" id="forbidden_p1" style="margin-bottom:16px;color:#515557;" notranslate>{{forbiddenCountriesMsg}}</p>
        </div>
        <div ng-if="!isForbidden">

            <div ng-if="availableNetworks.length >1">
                <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd" style="padding:4px 8px; padding-right: 30px;margin-top: 2%;margin-bottom: 2%;">
                    <div>Select your plan</div>
                </div>
                <div ng-repeat="network in availableNetworks">
                    <div class="network-panels" ng-click="navigateToNetwork(network.details.networkGroupId, network.subscription)" test-arg="{{network.details.networkGroupName}}">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd" >
                                        <div class="col-md-12 col-sm-12 col-xs-12 max-s-11 max-f-11 noColpadd" style="background:rgb(244,244,244);padding:4px 8px; padding-right: 30px;">
                                            <div>
                                                <div style="margin-bottom: 1%;">
                                                    <div class="vam countryPlan mSans500 font20 darkGrayText1" style="color:#333333;width: 80%; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;line-height: 40px;" notranslate>{{network.details.networkGroupName}}</div>
                                                    <div class="mSans300" ng-if="network.details.isCountryPlan"><span class="mSans300">Country Plan</span></div>
                                                    <div ng-if="network.details.networkGroupType == 'REGIONAL'" class="mSans300"><span  class="mSans300">Regional Plan (<var noofcountries>{{network.details.countryCount}}</var> Countries)</span></div>
                                                    <div ng-if="network.details.networkGroupType == 'WORLD'" class="mSans300"><span class="mSans300">World Plan (<var noofcountries>{{network.details.countryCount}}</var> Countries)</span></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div>
                                                    <img class="nextArrowStyle" ng-if="!network.subscription || network.subscription.subscriptionStatus != 'ACTIVE'" test-arg="nextArrowImg" ng-src="styles/images/common/nextArrowSm.png">
                                                </div>
                                            </div>
                                            <div ng-if="network.subscription && network.subscription.displayableInfo" style="border-top: dotted 1px gray;padding: 6px 0;" ng-style="{width: network.subscription.subscriptionStatus == 'ACTIVE' ? '80%' : '100%'}">
                                                <div ng-if="network.subscription.subscriptionStatus == 'ACTIVE'">
                                                    <button ng-if="activatingSubscriptionId != network.subscription.subscriptionId" type="submit" class="btn btn-default btn-select"
                                                                                                                                                      ng-click="confirmSwitchSubscription($event,network.subscription)">Select</button>
                                                    <button ng-if="activatingSubscriptionId == network.subscription.subscriptionId" type="submit" class="btn btn-default btn-select">Activating</button>
                                                </div>

                                                <div>
                                                    <img test-arg="networkSignalImg" ng-src="{{network.subscription.subscriptionStatus == 'IN-USE' ? 'styles/images/common/signal-green-1024.png' : 'styles/images/common/signal-grey-1024.png'}}"
                                                         style="width: 25px;position: absolute;transform: translateY(50%);">
                                                </div>
                                                <div style="margin-left: 40px;" notranslate>{{network.subscription.displayableInfo}}</div>
                                                <span class="mSans300 font14" style="margin-left: 40px;" notranslate>{{network.subscription.displayableProfile}}</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="availableNetworks.length==1">
                <network-plans network-id="availableNetworks[0].details.networkGroupId"></network-plans>
            </div>
        </div>
    </div>

    <div class="noPadd" ng-show="plansNotSupported">
        <p class="mSans300 font15" id="plansNotSupported_p1" style="margin-bottom:16px;color:#515557;"><span class="mSans500 font20I pageHeadingText" id="fb_title">GigSky data plans for this country are temporarily unavailable for purchase. Please go to support.gigsky.com for more information.</span>
        </p>
    </div>


</div>
