
    <!--MainContainer-->
    <div class="content-1 mainWrapper viewContainer buyPlan">

        <div class="viewRowContainer" ng-show="planPurchaseEndDateCrossed">

            <div my-loading-spinner="viewLoading" ></div>
            <!--<div class="clearfix" style="padding-top: 2px;"></div>-->
            <view-title view-name="selectDestTitle" translate-required="false" disable-back="true" on-back="" back-url="" ></view-title>

            <div class="max-s max-f max-d maxWidth">
                <div class="messageText" style="margin-top:20px;margin-bottom:20px;">
                    {{simReplaceMsg}}
                </div>
            </div>

        </div>

        <div class="viewRowContainer" ng-show="!planPurchaseEndDateCrossed">

            <div my-loading-spinner="viewLoading" ></div>
            <!--<div class="clearfix" style="padding-top: 2px;"></div>-->
            <view-title view-name="selectDestTitle" translate-required="false" disable-back="true" on-back="" back-url="" ></view-title>
            <step-indicator max-steps="'3'" current="'1'" plan-path="buyPlan2Path" ng-if="!isAppleSim"></step-indicator>
            <div class="col-md-12 col-sm-12 col-xs-12  mSans500 font15  mobileDesign" style="text-align: center;padding-top:14px;padding-bottom: 12px;" ng-if="!isAppleSim">
                Select destination
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12  mSans500 font15  desktopDesign" style="text-align: center;padding-top:14px;padding-bottom: 30px;">
            </div>
            <div class="clearfix"></div>
            <div ng-show="!viewLoading">
            <div class="max-s max-f max-d maxWidth " ng-if="!isAppleSim">

                <div class="form-horizontal">

                    <div class="form-control" style="margin:0;padding-left:4px;padding-right:4px;">

            <div class="clearfix"></div>
            <div class=" col-md-12 col-sm-12 col-xs-12  mSans300 font18  ">
              <div class=" col-md-12 col-sm-12 col-xs-12">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 searchBoxBg">
               <div class=" col-md-1 col-sm-1 col-xs-2 max-s-2 max-f-2 searchBoxBg " id="searchIcon" style="width:24px;">
                  <img ng-src="{{lazyLoadURL}}styles/images/common/searchSmIcon.png">
               </div>
               <div class=""  ng-class="searchFieldContainer" style="padding-right:0;padding-left:4px;display:inline-block;">
                  <div class=''>
                      <form name="searchForm">
                      <input  style="border:none;padding:0;margin:0;background:#f4f8f9;width:100%;"   type="search" id="searchCountries" ng-model="searchStr" name="searchCountries"  class="font16 noPadd searchBoxBg" search-field>
                      </form>
                  </div>
                </div>
                <div style="display:inline-block;" class="noPadd searchBoxBg pull-right" ng-show="showCancelButton && searchStr.length!=0">
                      <!--<a  ng-style="{{cancelTxt}}" ng-click="onSearchCancel()" class="blueText" >{{'lt_cancel'|translate}}</a>-->
                      <a>
                          <img ng-src="{{lazyLoadURL}}styles/images/common/cancelBigIcon.png" ng-click="searchStr='';onSearchCancel()" style="width:24px;padding:0 0 0 4px;margin-top:-2px;"></a>

                  </div>
              </div>

              </div>
            </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <div my-loading-spinner="searchViewLoading" ></div>
                <div class=" col-md-12 col-sm-12 col-xs-12" >
              <div class=" col-md-12 col-sm-12 col-xs-12 countryView" ng-show="visitedCountries.length">
                 <p class="mSans300 font14 hideEmpty">&nbsp</p>
                 <ul notranslate>
                     <a href="#/buy-plan2?loc={{visited.code}}" ng-repeat="visited in visitedCountries | filter:{name:searchStr}">
                         <!--<li ><img src="{{lazyLoadURL}}styles/images/common/timezoneIcon.png"> {{visited.name}}</li>-->
                         <li style="font-family:'museo_sans700' !important;">{{visited.name}} <img ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;float: right;margin: 4px 6px 0px 0px;"></li>
                     </a>
                 </ul>
              </div>
                <div class=" col-md-12 col-sm-12">
                    <span ng-show="errorResponse" notranslate> {{errorResponse}} </span>
                </div>

              <div class=" col-md-12 col-sm-12 col-xs-12 countryView">
                 <!--<p class="mSans300 font14">{{'lt_countries'|translate}}</p>-->
                 <ul notranslate>
                   <a href="#/buy-plan2?loc={{country.code}}" ng-repeat="country in countries | filter:{name:searchStr}">
                   <li >{{country.name}}<img ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;float: right;margin: 4px 6px 0px 0px;"></li>
                   </a>
                 </ul>

              </div>

            <div class=" col-md-12 col-sm-12 col-xs-12" style="margin-top:22px;">
                    <span class="mSans300 font14 darkGrayText1" ng-show="searchStr && (visitedCountries | filter:{name:searchStr}).length == 0 && (countries | filter:{name:searchStr}).length==0">No search results found.</span>
                </div>

            </div>
            </div>
                <div class="max-s max-f max-d maxWidth " ng-if="isAppleSim">
                    <div class="messageText" style="margin-top:20px;margin-bottom:20px;">
                        To purchase a data plan for this SIM card, use the Setup Carrier or Manage Account link in the Cellular Data settings of your Apple device.
                    </div>
                    </div>
                </div>
          </div>
        </div>
          <div class="clearfix"></div>
    </div>
