    <!--MainContainer-->
    <div class="content-1 mainWrapper viewContainer buyPlan dashboard " ng-controller="plansListController">
        <div my-loading-spinner="plansLoading" ></div>
        <div class="max-f max-s maxWidth viewRowContainer" style="padding-bottom: 0px;">
            <!--<div class="clearfix" style="padding-top: 2px;"></div>-->
        <view-title class="browsePlanTitle" view-name="selectPlanTitle" translate-required="false" disable-back="disableBack" on-back="onBack()" back-url=""></view-title>
        </div>

        <step-indicator max-steps="si" current="currentstep" plan-path="buyPlan2Path" ng-if="!planPurchaseEndDateCrossed && disableBack"></step-indicator>
        <div class="col-md-12 col-sm-12 col-xs-12  mSans500 font15  mobileDesign" style="text-align: center;padding-top:14px;padding-bottom:8px;" ng-if="!planPurchaseEndDateCrossed && disableBack">
            Select a plan for use in
        </div>
        <div class="desktopDesign" style="padding-bottom:18px;" ng-if="disableBack">
        </div>
        <div class="mobileDesign" style="padding-bottom:10px;"></div>
        <div class="clearfix"></div>
        <div class="viewRowContainer" ng-show="!plansLoading">
             <div class="max-f max-s maxWidth">
              <div ng-controller="availableNetworksController">
                  <networkplans ng-show="currentNetwork" network="currentNetwork" subscription="currentSubscription" location="location"></networkplans>
                  <accordion  ng-show="otherAvailableNetworks.length">
                      <accordion-group ng-click="open=!open;">
                          <accordion-heading>
                              <div>
                                  <div class="max-f-10  max-s-10">
                                      <span class="mSans500 subText">View other suitable plans</span>
                                  </div>
                                  <div class="max-f-2  max-s-2">
                                    <i class="pull-right appIcons" ng-class="{'openIcon':open, 'closeIcon': !open}" style="background-size: contain;margin-top:2px;width:14px;"></i>
                                  </div>
                              </div>
                          </accordion-heading>
                          <networkplans network="network" ng-repeat="network in otherAvailableNetworks"></networkplans>
                      </accordion-group>
                  </accordion>
              </div>
            <div class="clearfix"></div>
        </div>
      </div> 
    </div>

