    <!--MainContainer-->
    <div class="content-1 viewContainer buyPlan makepayment gigCredit">
        <div class="viewRowContainer">
            <!--<div class="clearfix" style="padding-top: 2px;"></div>-->
            <div my-loading-spinner="viewLoading" ></div>
            <div ng-hide="viewLoading">
            <view-title view-name="makePaymentTitle" translate-required="false" disable-back="true" on-back="" back-url=""></view-title>
            <step-indicator  max-steps="si" current="currentstep" plan-path="buyPlan2Path"></step-indicator>
            <div class="col-md-12 col-sm-12 col-xs-12  mSans500 font15  mobileDesign" style="text-align: center;padding-top:16px;padding-bottom:20px;">
                Make payment
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12  mSans500 font15  desktopDesign" style="text-align: center;padding-top:14px;padding-bottom: 40px;">
            </div>
            <div class="max-s max-f maxWidth">
            <div class="buyPlan3">
                <div class="col-md-12 col-sm-12 col-xs-12 paddingBottom10" style="padding-left: 0px;">
                    <span class="errorMessage" ng-show="formSubmitErrorStr" notranslate>{{formSubmitErrorStr}}</span>
                    <h1 class="mSans300 font16 darkGrayText1">Order summary:</h1>
                </div>
              <div class=" col-md-12 col-sm-12 col-xs-12 lightGrayBG makePaymentTopblock">

                    <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block" notranslate>
                      <div class=" col-md-9 col-sm-9 col-xs-9 max-f-7 noColpadd">
                        <span class="mSans300 font16 darkGrayText1" test-arg="plan-name">{{commonInfoFactory.formatPlanDataSize(plan)}} , {{networkInfo.networkGroupName}}</span>
                          <br>
                          <span test-arg="plan-duration">{{commonInfoFactory.formatPlanDuration(plan)}}</span>
                      </div>
                      <div class=" col-md-3 col-sm-3 col-xs-3 max-f-5 noColpadd textRight">
                        <span class="mSans300 font16 darkGrayText1" test-arg="plan-price">{{commonInfoFactory.formatPrice(plan.price,plan.currency)}}</span>
                      </div>
                    </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noColpadd block1" style="padding: 5px 0px;" ng-show="creditAmountStr">
                      <div class="col-md-9 col-sm-9 col-xs-9 max-f-7 noColpadd">
                          <span class="mSans300 font16 darkGrayText1" test-arg="credit-text">GigSky credit</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 max-f-5 noColpadd textRight" >
                          <span class="mSans300 font16 darkGrayText1" notranslate test-arg="credit-amount">{{creditAmountStr}}</span>
                      </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noColpadd block1" style="padding: 5px 0px;" ng-show="appliedPromocode">
                      <div class="col-md-9 col-sm-9 col-xs-9 max-f-7 noColpadd">
                          <span class="mSans300 font16 darkGrayText1" test-arg="{{appliedPromocode}}">Promotion credit (<var promocode>{{appliedPromocode}}</var>)</span>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 max-f-5 noColpadd textRight" >
                          <span class="mSans300 font16 darkGrayText1" notranslate test-arg="credit-amount">{{promoAmountStr}}</span>
                      </div>
                  </div>

                    <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block1" style="padding-top:16px;">
                      <div class=" col-md-9 col-sm-9 col-xs-9 max-f-7 noColpadd">
                        <span class="mSans500 font16 darkGrayText1" style="font-size: 17px;">Order total:</span>
                      </div>
                      <div class=" col-md-3 col-sm-3 col-xs-3 max-f-5 noColpadd textRight">
                        <span class="mSans500 font16 darkGrayText1" notranslate test-arg="order-total">{{orderTotalStr}}</span>
                      </div>
                    </div>
              </div>
              <div class="clearfix"></div>  
            </div>
                <div class="buyPlan3" style="padding-top: 16px;">
                    <div class=" col-md-12 col-sm-12 col-xs-12 " ng-show="bNeedPayMethod">
                        <h1 class="mSans300 font16 darkGrayText1" notranslate>
                            {{paymentMethods.length>=1?(paymentMethodLabel):('') }}</h1>
                        <div style="padding: 8px 0px;border-top: 0;"
                             class=" col-md-12 col-sm-12 col-xs-12 noColpadd block" ng-hide="setApplePayDef">
                            <div class=" col-md-12 col-sm-12 col-xs-12 max-s-12 noColpadd mainText"
                                 style="padding-left:0px;padding-right:0">
                                <div class="textLeft mSans300 font15">
                                    <div class="ng-binding"
                                         style="margin-left:8px;float:left;overflow: hidden;text-overflow: ellipsis;white-space:normal;display: block;width: 90%;">
                                        <span notranslate test-arg="billing-details">{{payMethodDisplayStr(currentPayMethod)}}</span>
                                        <a class="blueText" ng-click="changePaymentMethod()" style="float: right;">Change</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="buyPlan3" ng-show="canShowBuyPlanOption()">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">

                        <div class="form-group" style="margin-bottom:8px;" ng-hide="showPromoInput || appliedPromocode">
                            <div class="col-md-8 col-sm-7 col-md-offset-0 col-sm-offset-1 ">
                                <label class="control-label mSans300 font15" style="padding: 0px"><span
                                        test-arg="havePromo">Have a promo code?</span>&nbsp;<a
                                        ng-click="showPromoInput = !showPromoInput" class="blueText"
                                        style="display: inline-block;">Click here.</a></label>
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom:8px;"
                             ng-show="showPromoInput && !appliedPromocode">
                            <label for="promoCode" class=" col-md-4 col-sm-4 control-label"><span>Promo Code</span><span
                                    class="mSans300 optional">(optional)</span></label>

                            <div class="col-md-8 col-sm-7 col-md-offset-0 col-sm-offset-1"
                                 ng-class="{'has-error':promoCodeErrorStr}"
                                 style="width: 90%;margin-left: 2% !important;">
                                <input type="text" class="form-control mSans300 font16"
                                       style="display: inline-block;width: 80%;" name="promoCode" id="promoCode"
                                       test-arg="promoCode"
                                       ng-model="promoCode" gslabel="Promo Code" ng-focus="clearErrorMsg()">
                                <a class="blueText" ng-click="onApplyPromoCode(false, false)"
                                   style="float: right; padding-top: 1px;">Apply</a>
                                <span class="help-block" ng-show="promoCodeErrorStr"
                                      notranslate> {{promoCodeErrorStr}}</span>
                            </div>
                        </div>

                        <div style="padding: 8px 0px;border-top: 0;"
                             class=" col-md-12 col-sm-12 col-xs-12 noColpadd block" ng-show="appliedPromocode">
                            <div class=" col-md-12 col-sm-12 col-xs-12 max-s-12 noColpadd mainText"
                                 style="padding-left:0px;padding-right:0">
                                <div class="textLeft mSans300 font15">
                                    <div class="ng-binding"
                                         style="margin-left:8px;float:left;overflow: hidden;text-overflow: ellipsis;white-space:normal;display: block;width: 90%;">
                                        <span notranslate test-arg="billing-details">{{promoCodeAppliedMessage}}</span>
                                        <a class="blueText" test-arg="removePromo" ng-click="removePromoCode()"
                                           style="float: right;">Remove</a></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 noColpadd textRight" style="margin-top:20px;">
                            <div class="col-md-4 col-sm-5 col-xs-12 noColpadd pull-right confirmBtn">
                                <button type="submit" ng-click="confirmPurchase()"
                                        class="btn btn-default">Buy Plan
                                </button>
                            </div>
                        </div>

                        <div class="mSans300 blackText col-md-12 col-sm-12 col-xs-12"
                             style="font-size:11px;margin-top: 1%;" ng-show="showUnusedDataMsg" id="unUsedDataMsg">
                            USA coverage included per GigSky's Terms of Service
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>

          </div>
            </div>
        </div>
    </div>    
