<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer">
    <div class="viewRowContainer">
        <div class="max-f maxWidth" style="padding:0 15px">
            <div my-loading-spinner="viewLoading" ></div>
            <view-title view-name="'Service Cancelled'" disable-back="true" on-back="" back-url=""></view-title>
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus">
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr" notranslate>{{formSubmitErrorStr}} </span>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="mainOption accountConfirmMsgMargin">
                    <p style="padding-bottom: 10px;">In a few minutes your service will be cancelled. You will receive a confirmation email shortly.</p>
                    <p style="padding-bottom: 10px;">Other users can now use this device for GigSky service with their own accounts.</p>
                    <p style="padding-bottom: 20px;" notranslate>{{serviceCancelMsg}}</p>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 accountConfirmMsgMargin">
                    <button type="submit" class="btn btn-default btnFontSizeEs truncate" ng-click="closeWebSheet()">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

