<div class="content-1 mainWrapper viewContainer">
    <div class="viewRowContainer">
        <div my-loading-spinner="viewLoading" ></div>

        <div class="max-f maxWidth">
            <view-title view-name="'Cancel Service'" disable-back="true" on-back="" back-url=""></view-title>

            <div class=" col-md-12 col-sm-12 col-xs-12" >
                <div class="clearfix"></div>
                <div class="col-md-12 col-lg-12 col-sm-12  formSubmitStatus" notranslate>
                    <span class="messageText" ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
                    <span class="errorMessage" ng-show="formSubmitErrorStr">{{formSubmitErrorStr}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            <div class="marginM30 personalDetails " ng-show="!viewLoading">
                <p class="mSans300 font16" style="margin-top:25px; padding-bottom: 10px;">By confirming you agree to cancel service on this device. All GigSky data plans associated with this device will be deleted.</p>
                <p style="margin-bottom:25px;">This action cannot be undone.</p>

                <div class=" col-md-4 col-sm-6 col-xs-12 pull-right">
                    <div class="btnWrapper">
                        <button type="button" ng-click="cancelService()" class="btn btn-default smallButton">Confirm</button>
                        <button type="button" style="float:right;" class="btn btn-cancel ng-binding smallButton" ng-click="openGSView('/dashboard')" >Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

