<div class="content-1 mainWrapper viewContainer" ng-controller="changePwdController" >
    <div class="viewRowContainer">
    <div my-loading-spinner="viewLoading" ></div>

    <div class="max-f maxWidth">
        <view-title view-name="'Change Password'" disable-back="true" on-back="" back-url=""></view-title>
        <div ng-show="!viewLoading">
        <div class="col-md-12 col-lg-12 col-sm-12 formSubmitStatus" notranslate>
        <span class="messageText" ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
        <span class="errorMessage" ng-show="formSubmitErrorStr">{{formSubmitErrorStr}}</span>
        </div>
    <div class="clearfix"></div>
    <!--personal Details-->
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
        <div ng-show="forcePasswordChange">
            <p class="text-center mSans500" style="padding-bottom: 20px; font-size: 18px" id="title" notranslate>{{title}}</p>
            <p class="control-label" style="padding-bottom: 20px;">The password does not meet the current GigSky password policy requirements for users.</p>
        </div>
        <form class="form-horizontal" role="form" name="changePwdForm" novalidate gs-form-validation ng-keyup="changePassword(changePwdForm,$event)">
            <div class="form-group" ng-class="{'has-error':changePwdForm.oldpassword.errorStr}" ng-hide="forcePasswordChange">
                <label for="oldpassword" class="col-md-12 control-label">Old Password</label>
                <div class="col-md-12">
                    <input type="password" autocomplete="off" class="form-control mSans300 font16" name="oldpassword" ng-model="oldPassword" required>
                    <span class="help-block" ng-show="changePwdForm.oldpassword.errorStr" notranslate>{{changePwdForm.oldpassword.errorStr}}</span>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: -12px;margin-bottom: 20px;" ng-hide="forcePasswordChange">
                <label class="col-md-12 control-label mSans300 textLeft paddTop4 forgotAlign" style="padding-left:0">
                    <a ng-click="confirmPwdReset()" class="blueText" style="font-size:14px;">Forgot password?
                    </a></label>
            </div>

            <div class="form-group" ng-class="{'has-error':changePwdForm.newpassword1.errorStr}" style="padding-bottom: 20px;" >
                <label for="newpassword1" class="col-md-12 control-label">New Password</label>
                <div class="col-md-12">
                    <input validatePwd="changePwd" autocomplete="off" type="password" ng-minlength="8" minlengtherror="{{minimumLengthPwdError}}" class="form-control mSans300 font16" name="newpassword1" ng-model="newPassword" required ng-focus="passwordPolicyMsg()" ng-blur="isDisplay=false">
                    <span class="passwordMsgColor" ng-show="isDisplay && !changePwdForm.newpassword1.errorStr" notranslate> {{passwordMsg}}</span>
                    <span class="help-block" ng-show="changePwdForm.newpassword1.errorStr" notranslate> {{ changePwdForm.newpassword1.errorStr }}</span>
                </div>

            </div>

            <div class="form-group" ng-class="{'has-error':changePwdForm.confirmpassword1.errorStr}" >
                <label for="confirmpassword1" class="col-md-12 control-label">Confirm New Password</label>
                <div class="col-md-12">
                    <input type="password" autocomplete="off" class="form-control mSans300 font16" name="confirmpassword1" confirm="newpassword1" ng-model="confirmPassword" required gslabel="Confirm New Password" ng-minlength="8" minlengtherror="{{minimumLengthPwdError}}">
                    <span class="help-block" ng-show="changePwdForm.confirmpassword1.errorStr" notranslate> {{ changePwdForm.confirmpassword1.errorStr }}</span>
                </div>
            </div>

            <div class="form-group col-md-12" >
                <div class=" col-md-6 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-4" ng-hide="forcePasswordChange">
                    <div class="btnWrapper">
                        <button type="submit" class="btn btn-default smallButton" ng-mousedown="changePassword(changePwdForm)">Save
                        </button>
                        <button type="button" style="float:right;margin-top: 22px;" class="btn btn-cancel ng-binding smallButton" ng-mousedown="cancel()"  >Cancel</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 pull-right " ng-show="forcePasswordChange">
                    <div class="btnWrapper tweetButton">
                        <button type="submit" class="btn btn-default pull-right" ng-mousedown="changePassword(changePwdForm)">Save</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
    </div>
    </div>
    </div>
</div>

