<div class="col-md-12 col-sm-12 col-xs-12  viewContainer" ng-controller="ConcurLinkedConfController">
    <div class="viewRowContainer personalDetails">
        <div my-loading-spinner="viewLoading"></div>
        <view-title view-name="" disable-back="true" on-back="" back-url=""></view-title>
        <p class="text-center mSans500 concur_heading" id="title" notranslate>{{title}}</p>
        <div class="max-f">
            <div class="clearfix"></div>
            <div class="col-md-12 col-lg-12 col-sm-12">
                <p class="mSans300 font14 text-center" style="margin-top:20px;" id="confirm_p1" notranslate>{{p1}}</p>
                <div class="paddingBottom10" style="margin-top:20px;">
                    <div style="float:left;margin-top:4px;">
                        <img ng-src="{{lazyLoadURL}}styles/images/common/gigskyLogo.png" style="width:100px;">
                    </div>
                    <div style="height:32px;width:32px;float:left;margin-left:20px;"><svg class="s9-content" preserveAspectRatio="none" pointer-events="none" viewBox="0 0 32 32" width="32" height="32" style="-webkit-transform: translateX(0px); width: 100%; height: 100%;"><g stroke="#000000" stroke-width="0" stroke-dasharray="none" fill="#5D5D5D"><path d="M21.786,12.876l7.556-4.363l-7.556-4.363v2.598H2.813v3.5h18.973V12.876zM10.368,18.124l-7.556,4.362l7.556,4.362V24.25h18.974v-3.501H10.368V18.124z"></path></g></svg></div>
                    <div style="float:left;margin-left:20px;">
                        <img ng-src="{{lazyLoadURL}}styles/images/common/concur.png" style="width:100px;">
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>

            <form class="form-horizontal marginTop10" role="form" novalidate>
                <p class="text-center mSans300 font14" style="margin-top:20px;" id="confirm_p2"> Use the checkbox on the Review Order screen of the GigSky app to send a copy of the receipt for each data plan purchase to your Concur account.</p>
                <p class="text-center mSans300 font14" style="margin-top:20px;" id="confirm_p3" ng-show="accCreated"> <a ng-click="openShopSIM(currentLangUrl  + '/shop')" href="">Click here</a> to buy a GigSky SIM card.</p>

                <div class="form-group" style="margin-top:40px;" ng-show="accCreated">
                    <div class=" col-md-6 col-sm-6 col-xs-12 pull-right">
                        <div class="btnWrapper tweetButton">
                            <button type="submit" class="btn btn-default pull-right" ng-click="addSIMCard()">Add SIM card</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
