<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer" ng-controller="simUpgradeController">
    <div class="viewRowContainer">
        <div my-loading-spinner="viewLoading" ></div>

        <div class="max-f maxWidth">
            <view-title view-name="'Confirm Do Not Replace SIM'" disable-back="true" on-back="" back-url=""></view-title>
            <div ng-show="!viewLoading">
            <div class="col-md-12 col-lg-12 col-sm-12 formSubmitStatus" style="text-align: center;" notranslate>
                <span class="messageText" ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
                <span class="errorMessage" ng-show="formSubmitErrorStr">{{formSubmitErrorStr}}</span>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                <div class="mainOption" notranslate>{{confirmDoNotReplaceMsg}}</div>

                <button type="submit" class="btn btn-default simReplaceConfirmMsgMargin btnFontSizeIt btnFontSizeFr truncate" ng-click="goToSimReplacement()">Cancel</button>
                <button type="submit" class="btn sim-replace-btn-default simReplaceConfirmMsgMargin btnFontSizeIt btnFontSizeFr truncate" ng-click="confirmNotToReplace()">Confirm NO Replacement SIM</button>
            </div>

        </div>
            </div>

    </div>
</div>

