<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer gigCredit" ng-controller="addCCController">
    <div my-loading-spinner="viewLoading"></div>
    <div class="viewRowContainer">
        <div class="clearfix"></div>
        <div class="max-s max-m maxWidth">
          <view-title view-name="viewTitle" disable-back="true" on-back="navigateBack()" back-url=""></view-title>
            <div class="clearfix"></div>
        </div>

        <div class=" col-md-10 col-sm-10 col-xs-12 noColpadd personalDetails" style="margin:0 auto;float:none;">
            <div class="clearfix"></div>
            <div class="max-s max-m maxWidth">
                <div class="col-md-12 col-sm-12 col-xs-12  noColpadd paddingBottom20"  ng-show="!viewLoading">
                    <span class="messageText" ng-show="forceUserEdit">Please update the payment method for this GigSky Account</span>
                </div>
            </div>
        </div>

        <div class="max-s max-m maxWidth">
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
                <span class="messageText"
                      ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
                <span class="errorMessage"
                      ng-show="formSubmitErrorMsg">{{formSubmitErrorMsg}} </span>
            </div>
        </div>

    <div class=" col-md-10 col-sm-10 col-xs-12 noColpadd personalDetails" style="margin:0 auto;float:none;" ng-show="!viewLoading">
        <div class="clearfix"></div>
        <form id="ccform" class="form-horizontal paddingBottom10" style="margin:0 auto;" role="form" name="ccForm" novalidate gs-form-validation autocorrect="off">
        <div class="max-s max-m maxWidth lightGrayBG">
        <div class=" col-md-12 col-sm-12 col-xs-12 mainContainerRowSm " style="padding-bottom: 0px;">
            <div class="maxWidth">
                <div class="form-group" ng-class="{'has-error':ccForm.CCN.errorStr}">
                    <label for="CCN" class=" col-md-4 col-sm-4 control-label ">Credit card number</label>

                    <div class=" col-md-8 col-sm-8 col-xs-12 noColpadd" notranslate>
                        <div class=" col-md-12 col-sm-12" >
                            <input id="cc-number" type="tel" class="input-lg form-control cc-number tel-exclude"  autocomplete="cc-number" placeholder="{{cardPlaceHolderText}}" ng-model="cardNum" name="CCN" required auto-focus-next next-field="noc" next-on-length="19" cc-auto-len='{"cardNo":"{{cardNum}}","condetion":[{"cctype":"amex","autolen":17}]}' ng-change="onCardNumberEdited(cardNum)">


                        </div>
                        <div class=" col-md-12 col-sm-12 pull-right">
                        <div style="float: right;" class="card-selected" ng-class="{'card-not-selected':(!cardismaster && !noneselected)}"><img ng-src="{{lazyLoadURL}}styles/images/common/mastercard.png" style="width: 42px;margin-left: 4px;margin-top: 2px;"/></div>
                        <div style="float: right;" class="card-selected" ng-class="{'card-not-selected':(!cardisvisa && !noneselected)}"><img ng-src="{{lazyLoadURL}}styles/images/common/visa.png" style="width: 42px;margin-left: 4px;margin-top: 2px;"/></div>
                            <div style="float: right;" class="card-selected" ng-class="{'card-not-selected':(!cardisamex && !noneselected)}"><img ng-src="{{lazyLoadURL}}styles/images/common/amex.png" style="width: 42px;margin-left: 4px;margin-top: 2px;"/></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 col-sm-12">
                            <span class="help-block" ng-show="ccForm.CCN.errorStr"> {{ccForm.CCN.errorStr}}</span>
                        </div>
                    </div>
          </div>
                <div class="form-group" ng-class="{'has-error':ccForm.name.errorStr}">
                    <label for="name"
                           class=" col-md-4 col-sm-4 control-label">Name on card</label>

                    <div class=" col-md-8 col-sm-8 creditCardInputs">
                        <input type="text" class="form-control mSans300 font16 capitalize" id="noc" name="name"
                               placeholder=" " ng-model="name" required ng-pattern="/^[A-Za-z]+([\.\-\']?[\s]*[A-Za-z]+)*(\.)?$/" nameOnCardErrorStr="Please enter your Name exactly as it appears on the Credit Card"/>
                        <span class="help-block" ng-show="ccForm.name.errorStr" notranslate> {{ccForm.name.errorStr}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':ccForm.expDate.errorStr}">
                    <label for="expDate"
                           class=" col-md-4 col-sm-4 control-label">Expiration date</label>

                    <div class=" col-md-8 col-sm-8 col-xs-12 noColpadd" notranslate>
                        <div class=" col-md-12 col-sm-12 noColpadd ">
                            <div class=" col-md-4 col-sm-4 col-xs-4 max-3 creditCardPadding creditCardPaddingLeft"
                                 ng-class="{true: 'error'}[    submitted && ccForm.expMonth.$invalid]">
                                <input type="tel" class="form-control mSans300 font16 tel-exclude" placeholder="MM" groupfield="expDate"
                                       name="expMonth" ng-model="expMonth" ng-minlength="1" ng-maxlength="12" required
                                       ng-pattern="/^(0?[1-9]|1[0-2])$/" style="text-align:center;" field-limit="2" auto-focus-next next-field="yy" next-on-length="2" next-on-pattern="([2-9]|(1[0-2]))" id="mm"/>
                            </div>

                            <div class=" col-md-4 col-sm-4 col-xs-4 max-3 creditCardPadding creditCardPaddingMiddleL"
                                 ng-class="{true: 'error'}[submitted && ccForm.expYear.$invalid]">
                                <input type="tel" class="form-control mSans300 font16 tel-exclude" placeholder="YY" groupfield="expDate" id="yy"
                                       name="expYear" ng-model="expYear" maxlength="2" required
                                       ng-pattern="/\d{2}$/" style="text-align:center;" field-limit="2" auto-focus-next next-field="ccv" next-on-length="2"/>
                            </div>
                        </div>
                        <div class=" col-md-12 col-sm-12 col-xs-12">
                            <span class="help-block" ng-show="ccForm.expDate.errorStr"> {{ccForm.expDate.errorStr}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':ccForm.ccv.errorStr}">
                    <label for="ccv" class=" col-md-4 col-sm-4 control-label">Card security code</label>

                    <div class=" col-md-8 col-sm-8 col-xs-12 noColpadd">
                        <div class=" col-md-12 col-sm-12 noColpadd ">
                            <div class=" col-md-4 col-sm-4 col-xs-4 max-3 creditCardPadding creditCardPaddingLeft">
                                <input type="tel" class="form-control mSans300 font16 secureInput"  id="ccv"
                                       name="ccv" ng-model="ccv" required maxlength="4"
                                       ng-pattern="/^[0-9]{3,4}$/" pattern="[0-9]*" style="text-align:center;"  auto-focus-next next-field="address" next-on-length="4" cc-auto-len='{"cardNo":"{{cardNum}}","condetion":[{"cctype":"amex","autolen":4},{"cctype":"visa","autolen":3},{"cctype":"mastercard","autolen":3}]}'/>
                            </div>
                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                <span class="help-block" ng-show="ccForm.ccv.errorStr" notranslate> {{ccForm.ccv.errorStr}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  </form> -->
        </div>
        <div class="clearfix"></div>
        </div>

        <div class="max-s max-m maxWidth ccpersonaldetails" >

        <div class="col-md-12 col-sm-12 col-xs-12 mainContainerRowSm">
            <!--   <form class="form-horizontal paddingBottom10" role="form"> -->
            <div class="maxWidth">
                <!--Email-->
                <div class="form-group"  ng-class="{'has-error':ccForm.addr.errorStr}">
                    <label for="addr" class=" col-md-4 col-sm-4 control-label">Billing address</label>

                    <div class=" col-md-8 col-sm-8 creditCardInputs">
                        <input type="text" class="form-control mSans300 font16" id="address" placeholder=""
                               name="addr" ng-model="address1" required>
                        <span class="help-block" ng-show="ccForm.addr.errorStr" notranslate> {{ccForm.addr.errorStr}}</span>
                        <input type="text" class="form-control mSans300 font16 customPadding"
                               placeholder="" ng-model="address2">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':ccForm.city.errorStr}">
                    <label for="city" class=" col-md-4 col-sm-4 control-label">City</label>

                    <div class=" col-md-8 col-sm-8 creditCardInputs">
                        <input type="text" class="form-control mSans300 font16" id="city" name="city"
                               placeholder="" ng-model="city" required/>
                        <span class="help-block" ng-show="ccForm.city.errorStr" notranslate> {{ccForm.city.errorStr}}</span>
                        <!-- <span class="help-block" ng-show="submitted && ccForm.city.$error.pattern"> {{'lt_enter-char'|translate}}</span> -->
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error':ccForm.state.errorStr}">
                    <label for="state"
                           class=" col-md-4 col-sm-4 control-label"><span>State / Region / Province</span><span class="mSans300 optional">(optional)</span></label>

                    <div class=" col-md-8 col-sm-8 creditCardInputs">
                        <input type="text" class="form-control mSans300 font16" placeholder=""
                               name="state" ng-model="state" gslabel="State / Region / Province"/>
                        <span class="help-block" ng-show="ccForm.state.errorStr" notranslate> {{ccForm.state.errorStr}}</span>
                        <!--  <span class="help-block" ng-show="submitted && ccForm.state.$error.pattern"> {{'lt_enter-char'|translate}}</span> -->
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':ccForm.pcode.errorStr}">
                    <label for="pcode"
                           class=" col-md-4 col-sm-4 control-label"><span>ZIP / Postal Code</span><span class="mSans300 optional">(optional)</span></label>

                    <div class=" col-md-8 col-sm-8 creditCardInputs">
                        <input type="text" class="form-control mSans300 font16"  placeholder=""
                               name="pcode" ng-model="zipCode" gslabel="ZIP / Postal Code"/>
                        <span class="help-block" ng-show="ccForm.pcode.errorStr" notranslate> {{ccForm.pcode.errorStr}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':ccForm.selectCountry.errorStr}">
                    <label for="selectCountry" class=" col-md-4 col-sm-4 control-label">
                        Country of Residence</label>

                    <div class="col-md-8 col-sm-8 creditCardInputs" notranslate>
                        <select name="selectCountry" required ng-model="selectCountry" class="selectpicker"
                                ng-options="item.code as item.name for item in countryList">
                            <option value="">{{selectCountryStr}}</option>
                        </select>
                                <span class="help-block"
                                      ng-show="ccForm.selectCountry.errorStr"> {{ccForm.selectCountry.errorStr}}</span>
                    </div>
                </div>
                <div class="form-group"  ng-class="{'has-error':ccForm.phone.errorStr}">
                    <label for="phone"
                           class=" col-md-4 col-sm-4 control-label"><span>Phone</span><span class="mSans300 optional">(optional)</span></label>

                    <div class="col-md-8 col-sm-8 creditCardInputs">
                        <input type="tel" class="form-control mSans300 font16 tel-exclude" id="phone" placeholder=""
                               name="phone" ng-model="phone" ng-minlength="6" ng-maxlength="16"
                               maxlength="16" ng-pattern="/^([0-9\-\+\u0020]{5,15}[0-9]{1,1})$/" gslabel="Phone"/>
                        <span class="help-block" ng-show="ccForm.phone.errorStr" notranslate> {{ccForm.phone.errorStr}}</span>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12  col-md-offset-4 col-sm-offset-4 " style="padding-top:22px;" >
                    <button type="submit" class="btn btn-default smallButton" ng-show="!progress" ng-click="addCC()" style="margin-top: 0px;float: left;">Save</button>
                    <button type="button" style="float:right;margin-top: 0px;" class="btn btn-cancel ng-binding smallButton" ng-click="navigateBack()" >Cancel</button>
                </div>

                <!--<div class="form-group">-->
                    <!--<div class=" col-md-5 col-sm-5 col-xs-12  col-md-offset-6 col-sm-offset-7">-->
                        <!--<div class="col-md-4 col-sm-4 col-xs-12 marginB10 creditCardInputs ">-->
                            <!--<button type="submit" class="btn btn-default" ng-click="addCC()" >-->
                                <!--{{'lt_save'|translate}}-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 col-sm-4 col-xs-12 marginB10  creditCardInputs ">-->
                            <!--<button type="submit" class="btn btn-cancel" ng-click="navigateBack()">-->
                                <!--{{'lt_cancel'|translate}}-->
                            <!--</button>-->
                        <!--</div>-->

                        <!--<div class="clear-fix"></div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <!-- </form> -->
        </div>
        </div>
        </form>
        </div>
    </div>
</div>

