<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer creditHist paymentHist" ng-controller="creditHistoryController">
    <div class="viewRowContainer">

        <div my-loading-spinner="viewLoading" ></div>

        <div class="max-s max-m max-m-gscredit maxWidth">
            <view-title view-name="'GigSky Credit'" disable-back="true" on-back="" back-url=""></view-title>

            <div ng-show="!viewLoading">

                <div class=" col-md-12 col-sm-12 col-xs-12 allEmail noColpadd">

                    <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd" style="margin-bottom:20px;">
                        <p class="mSans500 font16 mainText desktopDesign" style="padding-left:10px;"><span>Available balance:&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="mSans500 font16 mainText" notranslate>{{creditBalance}} </span></p>
                        <p class="mSans500 font16 mainText mobileDesign" style="padding-left:10px;"><span>Available balance:&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="mSans500 font16 mainText" style="float:right;text-align:right;" notranslate>{{creditBalance}} </span></p>

                    </div>

                    <div  ng-show="noCreditHis">
                        This account has no GigSky Credit history.
                    </div>
                    <div infinite-scroll="onNextCreditHistory()" infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
                        <ul class="desktopDesign">
                            <li ng-show="creditHistory.length">
                                <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block" style="padding-bottom:6px;">
                                    <div class=" col-md-2 col-sm-2 col-xs-9 noColpadd desktopDesign">
                                        <p class="mSans300 font14 subText" >ID #</p>
                                    </div>
                                    <div class=" col-md-3 col-sm-3 col-xs-12 noColpadd ">
                                        <div class="pull-left">
                                            <p class="mSans300 font14 subText  desktopDesign"><span class="dblk1">(Date / Time UTC)</span></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class=" col-md-4 col-sm-4 col-xs-12 noColpadd">
                                        <p class="mSans300 font14 subText dblk" style="padding-left: 10px;"> <span class="dblk1" style="width:90%;overflow:hidden; text-overflow:ellipsis;white-space: nowrap;display: block;">Description</span>
                                        </p>
                                    </div>
                                    <div class=" col-md-3 col-sm-3 col-xs-9 noColpadd desktopDesign">
                                        <p class="mSans300 font14 subText"><span isolate>Amount</span><span class="dblk1" style="text-align:right;float:right;padding-left:0;" isolate>Balance</span></p>
                                    </div>

                                </div>
                            </li>
                            <li ng-repeat= "credittx in creditHistory " notranslate>
                                <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block" >
                                    <div class=" col-md-2 col-sm-2 col-xs-9 noColpadd desktopDesign">
                                        <p class="mSans300 font14 mainText">{{credittx.transactionId}}</p>
                                    </div>
                                        <div class=" col-md-3 col-sm-3 col-xs-12 noColpadd ">
                                            <div class="pull-left">
                                                <p class="mSans300 font14 mainText  desktopDesign"><span class="dblk1">{{ credittx.date  }}</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class=" col-md-4 col-sm-4 col-xs-12 noColpadd">
                                            <p class="mSans300 font14 mainText dblk" ng-show="credittx.paymentDescription" style="padding-left: 10px;"> <span class="dblk1">{{credittx.paymentDescription}}</span>
                                            </p>
                                        </div>
                                        <div class=" col-md-3 col-sm-3 col-xs-9 noColpadd desktopDesign">
                                            <p class="mSans300 font14 mainText" ><span>{{credittx.cost}}</span> <span class="dblk1" style="text-align:right;float:right;"> {{credittx.runningBalance}} </span></p>
                                            <!--<p class="mSans300 font14 mainText" style="text-align:right;"> {{credittx.runningBalance}}</p>-->
                                        </div>
                                    <!--<div class=" col-md-2 col-sm-2 col-xs-9 noColpadd desktopDesign">-->
                                    <!--</div>-->
                                </div>
                            </li>
                            <div class="clearfix"></div>
                            <li >
                                <div class="col-md-12 col-sm-12 col-xs-12 noColpadd " ><div my-loading-spinner="busy" size="sm" class="historyLoadSpinnerDiv"></div></div>
                            </li>

                        </ul>

                        <ul class="mobileDesign">
                            <li ng-show="creditHistory.length">
                                <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block" style="padding-bottom:6px;">
                                    <div class=" col-md-6 col-sm-6 col-xs-12 noColpadd">
                                        <p class="mSans500 font16 mainText dblk"> <span>Transactions</span> <span class="mSans300 font16" style="float:right;text-align:right;">(Date / Time UTC)</span></p>
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat= "credittx in creditHistory">
                                <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block">
                                    <div class=" col-md-6 col-sm-6 col-xs-12 noColpadd">
                                        <p class="mSans300 font14 mainText dblk" notranslate><span>{{ credittx.transactionId  }}</span> <span style="text-align:right;float:right;">{{ credittx.date  }}</span></p>
                                        <!--<p class="mSans300 font15 mainText dblk mobileDesign"><span>{{credittx.paymentDescription}}</span> <span style="text-align:right;float:right;">{{credittx.cost}}</span></p>-->
                                        <div class="mSans300 font14 mainText" style="margin-right:10px;" notranslate><div style="width:70%;display:inline-block;">{{credittx.paymentDescription}}</div><div style="display:inline-block;float:right;text-align:right;">{{credittx.cost}}</div></div>
                                        <p class="mSans300 font14 mainText dblk" style="margin-top:8px;"><span>Remaining balance:</span>  <span style="text-align:right;float:right;" notranslate>{{credittx.runningBalance}}</span></p>
                                    </div>
                                </div>
                            </li>
                            <div class="clearfix"></div>
                            <li>
                                <div class="col-md-12 col-sm-12 col-xs-12 noColpadd " ><div my-loading-spinner="busy" size="sm" class="historyLoadSpinnerDiv"></div></div>
                            </li>
                        </ul>


                        <!--<div ng-show='busy' class="mSans300 font16 darkGrayText">{{'lt_loading_data'|translate}}</div>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>