<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer creditHist paymentHist" ng-controller="creditBalanceInfoController">
    <div class="viewRowContainer">

        <div my-loading-spinner="viewLoading" ></div>

        <div class="max-s max-f max-sd max-d maxWidth">
            <view-title view-name="'GigSky Credit'" disable-back="true"></view-title>

            <div ng-show="!viewLoading">

                <div class=" col-md-12 col-sm-12 col-xs-12 block noColpadd">

                    <div ng-show="creditInfoAvailable">
                        <ul>
                            <li ng-repeat= "creditInfo in creditGroups">
                                <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block" notranslate>
                                        <div class="mSans300 font14 mainText" style="margin-right:10px;" ><div style="width:70%;display:inline-block;">{{creditInfo.expiryLabel}}</div><div class="mSans500" style="display:inline-block;float:right;text-align:right;">{{creditInfo.creditAvailBalance}}</div></div>
                                        <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>

                    <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd">
                        <p class="mSans500 font16 mainText " ><span>Total balance:</span><span class="mSans500 font16 mainText" style="float:right;text-align:right;" notranslate>{{totalCreditBalance}} </span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
