
    <!--MainContainer-->

    <div ng-show="simAvailable" class="content-1 mainWrapper viewContainer dashboard">

        <div class="viewRowContainer clearfix">
        <div my-loading-spinner="viewLoading"></div>


        <div class="max-s max-m maxWidth max-s-networkGroups clearfix" >

        <div class=" col-md-12 col-sm-12 col-xs-12 headerRowContainer" style="display:table;width:100%;">
            <div style="display:table-cell;" class="appIcons" ng-if="!disableBack">
                <a ng-click="onBackClick()"><img src="styles/images/common/prevSmGray.png" class="appIcons"></a>
            </div>
            <div ng-show="!simListTypeSelect" style="text-align:center;margin:0 auto;vertical-align:middle;display:table-cell;">
                  <h1 class="mSans500 font20 pageHeadingText" style="margin-top: 4px;" notranslate>{{dashboardtitle}}</h1>
                </div>
        </div>
            <div ng-show="!viewLoading">
                <div class="col-md-12 col-sm-12 col-xs-12 mainContainerRowSm maxWidth noSIMServiceBlk" ng-show="simBlocked" >
                    <form class="form-horizontal" role="form" name="unblocksimform" novalidate ng-submit="unblockSIM()">
                        <div class="form-group">
                            <label class="col-md-12 col-sm-12 col-xs-12 control-label" ng-hide="blockedByAdmin">
                                Current SIM is blocked. Unblock the SIM to connect to GigSky.
                            </label>
                            <label class="col-md-12 col-sm-12 col-xs-12 control-label" ng-show="blockedByAdmin">
                                Current SIM is blocked. Please contact our customer support at help@gigsky.com.
                            </label>
                        </div>
                        <div class="form-group" ng-hide="blockedByAdmin">
                            <div class=" col-md-12 col-sm-12 col-xs-12 pull-right">
                                <div class="btnWrapper">
                                    <button type="submit" class="btn btn-default">UNBLOCK SIM
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class=" col-md-12 col-sm-12 col-xs-12 mainContainerRowSm padding15" ng-show="!simBlocked">
                    <available-networks location="location"></available-networks>
                </div>

     <!--<div class=" col-md-12 col-sm-12 col-xs-12 mainContainerRowSm padding15" ng-show="!simBlocked">-->
           <!--<div class="available-networks" ng-controller="availableNetworksController">-->

               <!--<div ng-if="availableNwLength >1">-->
                   <!--<div ng-repeat="network in availableCarriers track by network.networkGroupId">-->
                       <!--<div class="network-panels">-->
                           <!--<div class="panel-group">-->
                               <!--<div class="panel panel-default">-->
                                   <!--<div class="panel-heading">-->
                                       <!--<div class=" col-md-12 col-sm-12 col-xs-12 noColpadd" >-->
                                           <!--<div ng-if="viewCoverage" style="color:gray;font-size:15px;margin-bottom:8px;" class="mSans500">{{planCoverageTitle}}</div>-->
                                           <!--<div class="col-md-12 col-sm-12 col-xs-12 max-s-12 max-f-12 noColpadd" style="background:rgb(244,244,244);padding:4px 8px;"  notranslate>-->
                                               <!--<div class="mSans500 font20 darkGrayText1">-->
                                                   <!--<div ng-if="countryPlan">-->
                                                       <!--<img class="nwLogo " style="float:left;display:block;width:48px" ng-src="{{imgPath}}" ng-show="imgPath">-->
                                                       <!--<div class="vam countryPlan" style="color:#333333;width: 80%; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;line-height: 48px;padding-left: 4px;">{{networkInfo.networkGroupName}}</div>-->
                                                   <!--</div>-->
                                                   <!--<div ng-if="!countryPlan" ng-class="{'plan-title':(currentCountryName==''||currentCountryName==null || currentCountryName == undefined)}">-->
                                                       <!--<div style="width:90%;float:left;">-->
                                                           <!--<div class="vam regionalPlan" style="color:#333333;margin-left:0">{{networkInfo.networkGroupName}}</div>-->
                                                           <!--<div style="margin-top:-6px;margin-bottom:4px;" >-->
                                                               <!--<img class="nwLogo " style="float:left;display:block;width:32px" ng-src="{{imgPath}}">-->
                                                               <!--<div ng-if="currentCountryName" style="color:#333333;padding-left:36px;line-height:18px;color:rgb(102,103,105);font-size:14px;" class="mSans300"><span style="display:inline-block;margin-top:8px;" class="mSans300">{{currentCountryName}}</span><span class="" style="display:inline-block;margin-left:4px;margin-top:8px;">{{countryPlanSubText}}</span></div>-->
                                                               <!--<div class="clearfix"></div>-->
                                                           <!--</div>-->
                                                       <!--</div>-->
                                                       <!--<div ng-if="!viewCoverage && currentCountryName" style="width:10%;float:right;margin-top:6px;cursor:pointer;line-height:40px;" ng-click="viewAllCountries()"><img  ng-src="styles/images/common/ic_info.png" style="width:20px;" src="styles/images/common/ic_info.png" class=""></div>-->
                                                       <!--<div ng-if="!viewCoverage && !currentCountryName" style="width:10%;float:right;margin-top:0px;cursor:pointer;line-height:24px;" ng-click="viewAllCountries()"><img  ng-src="styles/images/common/ic_info.png" style="width:20px;" src="styles/images/common/ic_info.png" class=""></div>-->

                                                       <!--<div class="clearfix"></div>-->
                                                   <!--</div>-->

                                                   <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                               <!--</div>-->
                                               <!--<div ng-show="subscriptionDetails && !viewCoverage" style="border-top: dotted 1px gray;padding: 6px 0;">-->
                                                   <!--<div  notranslate>{{subscriptionDetails}}</div>-->
                                                   <!--<span class="mSans300 font14">{{timeStamp}}</span>-->
                                               <!--</div>-->
                                               <!--<div class="col-md-12 col-sm-12 col-xs-12 replaceSimMsg" ng-show="simReplaceMsg && !planPurchaseEndDateCrossed">-->
                                                   <!--<div class="messageText" style="margin-left: 1%;">{{simReplaceMsg}}</div>-->
                                               <!--</div>-->
                                               <!--<div class="col-md-12 col-sm-12 col-xs-12" ng-show="simReplaceMsg && planPurchaseEndDateCrossed">-->
                                                   <!--<div class="messageText" style="margin-left: 1%;margin-top: 10%;margin-bottom: 5%;">{{simReplaceMsg}}</div>-->
                                               <!--</div>-->
                                           <!--</div>-->
                                           <!--<div class="clearfix"></div>-->
                                       <!--</div>-->
                                       <!--<div class="clearfix"></div>-->
                                   <!--</div>-->
                               <!--</div>-->
                           <!--</div>-->
                       <!--</div>-->
                   <!--</div>-->
               <!--</div>-->
               <!--<div ng-if="availableNwLength ==1">-->
                   <!--&lt;!&ndash;<networkplans ng-show="currentNetwork" network="currentNetwork" subscription="currentSubscription" location="location"></networkplans>&ndash;&gt;-->
               <!--</div>-->
           <!--</div>-->

         <!--<div class="noPadd" ng-show="plansNotSupported">-->
             <!--<p class="mSans300 font15" id="plansNotSupported_p1" style="margin-bottom:16px;color:#515557;"><span class="mSans500 font20I pageHeadingText" id="fb_title">GigSky data plans for this country are temporarily unavailable for purchase. Please go to support.gigsky.com for more information.</span>-->
             <!--</p>-->
         <!--</div>-->


     <!--</div>-->


     <!--<div class=" col-md-12 col-sm-12 col-xs-12 mainContainerRowSm paddBot50" ng-show="!simBlocked" style="margin-bottom:80px;">-->
          <!--<h1 class="mSans300 font16 darkGrayText otherPlanHeader" ng-show="otherCurrentPlansTitle" style="padding-top: 12px;background-color:rgb(237, 241, 245);padding-left:8px;" notranslate>{{otherCurrentPlansTitle}}</h1>-->
          <!--&lt;!&ndash;other plans&ndash;&gt;-->
          <!--<div class=" col-md-12 col-sm-12 col-xs-12" infinite-scroll="getNextOtherActivePlans()" infinite-scroll-disabled='busy' infinite-scroll-distance='0'>-->
          <!--<div class=" col-md-12 col-sm-12 col-xs-12 whiteBg otherPlan" style="padding-left:8px;" ng-repeat="subscription in otherActivePlans" notranslate>-->
              <!--<a ng-click="onTopupSubscription(subscription)">-->
              <!--<div class=" col-md-11 col-sm-11 col-xs-11 max-s-11 max-f-11">-->

              <!--<div class=" col-md-12 col-sm-12 col-xs-12 otherPlanInner">-->
                  <!--<div class=" col-md-9 col-sm-7 col-xs-9">-->
                      <!--<div class="mSans500 font18 primaryText">-->
                          <!--<img ng-src="{{resourcePath}}/{{subscription.networkGroupInfo.logoUrl}}" width="28px" ng-if='subscription.networkGroupInfo.networkGroupType=="COUNTRY"'>-->
                          <!--<span style="vertical-align:middle;">{{subscription.networkGroupInfo.networkGroupName}}</span>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-12 col-sm-12 col-xs-12 otherPlanInner">-->
                 <!--<div class="col-md-9 col-sm-7 col-xs-6">-->
                        <!--<span class="mSans300 font16 normalText vam"  style="display:inline-block; padding-right:5px;">{{commonInfoFactory.formatBalanceDataSize(subscription)}}</span>-->
                        <!--<div class="balancedivider vam"></div>-->
                        <!--<span class="mSans300 font16 normalText vam" style="display:inline-block;padding-left:5px;">{{commonInfoFactory.formatSubRemainingTimeShort(subscription)}}</span>-->
                 <!--</div>-->
            <!--</div>-->
              <!--</div>-->
              <!--<div class=" col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1 noColpadd textRight" style="margin-top:13px;"  ng-show="sim.simType!='ACME_SIM'">-->
                  <!--<img ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">-->
              <!--</div>-->
              <!--</a>-->
              <!--<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:5px;">-->
                  <!--<div class="col-md-12 col-sm-12 col-xs-12 borderBottom" ng-style="($last)?({border:'0'}):({})">-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
          <!--<div ng-show='busy' class="mSans300 font16 darkGrayText">Loading data...</div>-->
          <!--</div>-->
        <!--</div>-->
            </div>
       </div>
     </div>
    </div>
