  <div class="content-1 mainWrapper viewContainer" ng-controller="editAccountController"  id="editProfile" >
           <!--notification-->
            <div class="viewRowContainer">
            <div my-loading-spinner="viewLoading"></div>
            <!--personal Details-->
            <div class="max-s max-m personalDetails">
             <view-title view-name="'Edit Profile Details'" disable-back="true" on-back="" back-url=""></view-title>
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
                <span class="messageText"
              ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
            <span class="errorMessage"
              ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
            </div>
                <div class=" col-md-10 col-sm-10 col-xs-12 noColpadd personalDetails" style="margin:0 auto;float:none;padding-left: 8px;padding-right: 8px;" ng-show="!viewLoading">

                <form class="form-horizontal" role="form" name="editAcct_form" novalidate  ng-show="!viewLoading" gs-form-validation autocorrect="off">
              <!--Email-->
              <div class="form-group" ng-class="{'has-error':editAcct_form.firstName.errorStr}">
                  <label for="firstName" class=" col-md-4 col-sm-4 control-label">First Name</label>
                  <div class=" col-md-8 col-sm-8">
                  	<input type="text" class="form-control mSans300 font16 capitalize" id="firstName" name="firstName" placeholder=""  ng-model="firstName" required/>
                   <span class="help-block" ng-show="editAcct_form.firstName.errorStr" notranslate> {{editAcct_form.firstName.errorStr}}</span>

                  </div>
              </div>
              
              <div class="form-group" ng-class="{'has-error':editAcct_form.lastName.errorStr}">
                  <label for="lastName" class=" col-md-4 col-sm-4 control-label">Last Name</label>
                  <div class=" col-md-8 col-sm-8">
                  <input type="text" class="form-control mSans300 font16 capitalize" id="lastName" placeholder="" name="lastName" ng-model="lastName" required/>
                  <span class="help-block" ng-show="editAcct_form.lastName.errorStr" notranslate> {{editAcct_form.lastName.errorStr}}</span>
                  </div>
              </div>
              
              <div class="form-group" ng-class="{'has-error':editAcct_form.address.errorStr}" style="padding-bottom: 8px;">
                <label for="selectCountry" class=" col-md-4 col-sm-4 control-label">
                    Country of Residence</label>
                <div class=" col-md-8 col-sm-8 " notranslate>
                 
                   <select required  name="selectCountry"  ng-model="selectCountry" class="selectpicker form-control " ng-options="item.code as item.name for item in countryList">
    				   		<option value="">{{selectCountryStr}}</option>
					   </select>
                    <p class="font15 mSans300" ng-if="!enableCurrencyEdit">{{currencySubText}}</p>
					   <span class="help-block" ng-show="editAcct_form.selectCountry.errorStr"> {{editAcct_form.selectCountry.errorStr}}</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error':editAcct_form.preferredCurrency.errorStr}" style="padding-bottom: 8px;" ng-show="enableCurrencyEdit">
                <label for="preferredCurrency" class=" col-md-4 col-sm-4 control-label">
                    Currency</label>
                <div class=" col-md-8 col-sm-8 " notranslate>

                    <select required  name="preferredCurrency"  ng-model="preferredCurrency" class="selectpicker form-control " ng-options="item.code as item.code for item in currencyList">
                        <option value="">{{selectCurrencyStr}}</option>
                    </select>
                    <span class="help-block" ng-show="editAcct_form.preferredCurrency.errorStr"> {{editAcct_form.preferredCurrency.errorStr}}</span>
                </div>
            </div>
              
              
              <div class="form-group">
                  <label for="address" class=" col-md-4 col-sm-4 control-label">Address</label>
                  <div class=" col-md-8 col-sm-8">
                    <input type="text" name="address" class="form-control mSans300 font16" placeholder=""ng-model="address1">
                    <input type="text" class="form-control mSans300 font16 customPadding" placeholder=""  ng-model="address2">
                  </div>
              </div>
              <div class="form-group" ng-class="{true: 'error'}[submitted && editAcct_form.city.$invalid]">
                  <label for="city" class=" col-md-4 col-sm-4 control-label">City</label>
                  <div class=" col-md-8 col-sm-8">
                  <input type="text" class="form-control mSans300 font16" id="city" placeholder="" name="city" ng-model="city"/>
                  </div>
              </div>
              <div class="form-group" ng-class="{true: 'error'}[submitted && editAcct_form.state.$invalid]">
                  <label for="state" class=" col-md-4 col-sm-4 control-label">State / Region / Province</label>
                  <div class="col-md-8 col-sm-8">
                  <input type="text" class="form-control mSans300 font16" placeholder=""  name="state" ng-model="state" />
                  </div>
              </div>
              <div class="form-group" ng-class="{true: 'error'}[submitted && editAcct_form.zipCode.$invalid]">
                  <label for="zipCode" class=" col-md-4 col-sm-4 control-label">ZIP / Postal Code</label>
                  <div class=" col-md-8 col-sm-8">
                  <input type="text" class="form-control mSans300 font16"  placeholder="" name="zipCode" ng-model="zipCode" />
                  </div>
              </div>
              <div class="form-group" ng-class="{'has-error':editAcct_form.phone.errorStr}">
                  <label for="phone" class=" col-md-4 col-sm-4 control-label">Phone</label>
                  <div class=" col-md-8 col-sm-8">
                  	<input type="tel" class="form-control mSans300 font16"  placeholder=""  name="phone" ng-model="phone"  required  ng-minlength="6" ng-maxlength="16"
                           maxlength="16" ng-pattern="/^([0-9\-\+\u0020]{5,15}[0-9]{1,1})$/"/>
                  	<span class="help-block" ng-show="editAcct_form.phone.errorStr" notranslate> {{editAcct_form.phone.errorStr}}</span>
                  </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 col-sm-4  control-label"></label>
                <div class="col-md-8 col-sm-8 col-xs-12 marginB10">
                    <button type="submit" class="btn btn-default smallButton" style="float: left;" ng-click="updateAccount()">Save</button>
                    <button type="button" style="float:right;margin-top: 22px;" class="btn btn-cancel ng-binding smallButton" ng-click="openGSView('/dashboard')" >Cancel</button>
                </div> 
              </div>
           </form>
                </div>
                </div>
            </div>
  </div>