<div class="content-1 mainWrapper viewContainer" ng-controller="editEmailController" >
    <div class="viewRowContainer">
        <div my-loading-spinner="viewLoading" ></div>

        <div class="max-f maxWidth">
        <view-title view-name="'Change Email'" disable-back="true" on-back="" back-url=""></view-title>

        <div class=" col-md-12 col-sm-12 col-xs-12" >
            <div class="clearfix"></div>
            <div class="col-md-12 col-lg-12 col-sm-12  formSubmitStatus" notranslate>
                <span class="messageText" ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
                <span class="errorMessage" ng-show="formSubmitErrorStr">{{formSubmitErrorStr}}</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <!--personal Details-->

        <div class="marginM30 personalDetails " ng-show="!viewLoading">
            <p class="mSans300 font16"style="margin-bottom:20px;">Please enter your new Email address and current Password.</p>

            <form class="form-horizontal" role="form" name="changeEmailForm" novalidate ng-submit="changeEmail(changeEmailForm)" gs-form-validation>
                <!--Email-->
                <div class="form-group" ng-class="{'has-error':changeEmailForm.email.errorStr}">
                    <label for="email" class=" col-md-12 col-sm-12 control-label">Email Address</label>
                    <div class=" col-md-12 col-sm-12 col-xs-12">
                        <input type="email" class="form-control mSans300 font16" name="email" ng-model="emailId" gslabel="Email" required>
                        <span class="help-block" ng-show="changeEmailForm.email.errorStr" notranslate> {{changeEmailForm.email.errorStr}}</span>
                    </div>

                </div>
                <div class="form-group" ng-class="{'has-error':changeEmailForm.password.errorStr}">
                    <label for="password" class=" col-md-4 col-sm-4 control-label">Password</label>

                    <div class=" col-md-8 col-sm-7  col-md-offset-0 col-sm-offset-1">
                        <input type="password" autocomplete="off" class="form-control mSans300 font16" id="pwd" name="password"
                               ng-model="password" required />
                        <span class="help-block" ng-show="changeEmailForm.password.errorStr" notranslate> {{changeEmailForm.password.errorStr}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-4 col-sm-6 col-xs-12 pull-right">
                        <div class="btnWrapper">
                            <button type="submit" class="btn btn-default smallButton">Save
                            </button>
                            <button type="button" style="float:right;margin-top: 22px;" class="btn btn-cancel ng-binding smallButton" ng-click="openGSView('/dashboard')" >Cancel</button>
                        </div>
                    </div>
                </div>
                </form>
        </div>
        </div>
    </div>
    
    </div>

