<div class="content-1 mainWrapper viewContainer simDetailsContainer gigCredit personalDetails gigCredit" ng-controller="editSIMController">
    <div class="viewRowContainer viewSIMDetails">
        <div my-loading-spinner="viewLoading"></div>

        <div class="max-s max-f maxWidth viewSIMDetails">
        <div>
        <view-title view-name="viewTitle" disable-back="false" on-back="" back-url="'/my-sims'"></view-title>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
            <span class="messageText"
                  ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
        <span class="errorMessage"
              ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
        </div>

        <form novalidate class="form-horizontal marginTop20" role="form" name="editsimform" ng-show="sim && !viewLoading" gs-form-validation ng-submit="editSIMName(editsimform)">
            <div class="form-group"  ng-class="{'has-error':editableSIMName&&editsimform.nickname.errorStr}">
                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <div class=" col-md-3 col-sm-4 col-xs-5  mSans300 mt3 font16 darkGrayText1 noPadd">
                        Nickname
                    </div>
                    <div class=" col-md-6 col-sm-6 col-xs-7 mSans500 mt3 font16 normalText noPadd">
                    <div class=" noPadd" ng-class="editableSIMName?['max-s-9','col-md-10','col-sm-10','col-xs-10','max-f-9']:['col-md-12','col-sm-12','col-xs-12']">
                        <input type="text" class="form-control capitalize" ng-model="updateSIM.description"
                           name="nickname" ng-click="makeFieldEditable()" required gslabel="Nickname">
                        <span class="help-block" ng-show="editableSIMName && editsimform.nickname.errorStr" notranslate>{{editsimform.nickname.errorStr}}</span>
                    </div>
                    <div class="col-md-2 max-s-3 col-sm-2 col-xs-3 max-f-3" style="line-height:32px;padding-right:0" ng-show="editableSIMName">
                        <a style="display:inline-block;width:24px;"  ng-click="editSIMName(editsimform);"
                           class="custIconPadd ">
                            <img ng-src="{{lazyLoadURL}}styles/images/common/tickmark.png" style="width:24px;"></a>
                        <a style="width:24px;padding-left:4px;" ng-click="cancelSIMNameEdit(editsimform)"
                           class="custIconPadd"><!-- {{'lt_edit'|translate}} -->
                            <img ng-src="{{(editableSIMName)?(lazyLoadURL+'styles/images/common/cancelBigIcon.png'):(lazyLoadURL+'styles/images/common/editBigIcon.png')}}"  style="width:24px;"></a>
                    </div>

                    </div>
                </div>
            </div>
            <div class="marginTop10"></div>

            <div class="form-group" >
                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <div class=" col-md-3 col-sm-4 col-xs-5 mSans300 font16 darkGrayText1">
                        Active plan
                    </div>
                    <div ng-show="(sim.status.connectionStatus == 'CONNECTED') && (sim.simStatus == 'ACTIVE')" notranslate>
                        <div class=" col-md-3 col-sm-4  col-xs-7 mSans500 font16 normalText noPadd"><strong>{{networkGroupName}}</strong></div>
                        <div class=" col-md-3 col-sm-4  col-xs-7 mSans500 font16 normalText noPadd"><strong>{{balanceData}} | {{balanceTime}}</strong></div>

                    </div>

                    <div ng-show="(sim.status.connectionStatus != 'CONNECTED') || (sim.simStatus != 'ACTIVE')">
                        <div class=" col-md-3 col-sm-4  col-xs-7 mSans500 font16 normalText noPadd"><strong>Not connected</strong></div>
                    </div>
                </div>
            </div>
            <div class="marginTop10"></div>
            <div class="form-group" >
                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <div class=" col-md-3 col-sm-4 col-xs-5 mSans300 font16 darkGrayText1">
                        Type
                    </div>
                    <div  notranslate>
                        <div class=" col-md-3 col-sm-4  col-xs-7 mSans500 font16 normalText noPadd"><strong>{{sim.displaySimType}}</strong></div>
                    </div>
                </div>
            </div>
            <div class="marginTop10"></div>
            <div class="form-group ">
                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <div class=" col-md-3 col-sm-4 col-xs-5 mSans300 font16 darkGrayText1 noPadd">
                        Status
                    </div>
                    <div class=" col-md-3 col-sm-8 col-xs-7 mSans500 font16 normalText noPadd" notranslate>
                        <strong>{{(sim.simStatus=="ACTIVE") ? activeLabel:blockedLabel}} </strong>
                    </div>
                </div>
            </div>


            <div class="noPadd1 ">
                <div class=" col-md-12 col-sm-12 col-xs-12 orDivider" style="padding-top:8px;padding-bottom:16px;">
                    <div class=" col-md-8 col-sm-12 col-xs-12 dashedBorder"></div>
                </div>
            </div>
            <div class="marginTop10"></div>
            <div class="form-group ">
                <div class=" col-md-12 col-sm-12 col-xs-12" style="display:table;border-collapse:collapse;">
                    <div class=" col-md-12 col-sm-12 col-xs-5 max-s-2 max-f-2 mSans300 font14 darkGrayText1 noPadd" style="display:table-row;float:none;">
                        <span class="mSans300" style="display:table-cell;" notranslate>{{(sim.simType!='ACME_SIM')?ICCIDLabel :CSNLabel}}</span><span class="mSans500" style="padding-left:6px;display:table-cell;word-break:break-all;" notranslate><strong>{{sim.simId}}</strong></span>
                    </div>
                    <!--<div class=" col-md-3 col-sm-8 col-xs-7 mSans500 font14 normalText noPadd">-->
                        <!--{{sim.simId}}-->
                    <!--</div>-->
                </div>
            </div>

            <div class="noPadd1 ">
                <div class=" col-md-12 col-sm-12 col-xs-12 orDivider" style="padding-top:8px;padding-bottom:16px;">
                    <div class=" col-md-8 col-sm-12 col-xs-12 dashedBorder"></div>
                </div>
            </div>
            <div class="marginTop10"></div>

            <div class="form-group" style="margin-top:30px;" >
                <div class=" col-md-12 col-sm-12 col-xs-12">

                    <div class="col-md-6 col-sm-6 col-xs-6 noColpadd" ng-style="(sim.simStatus == 'ACTIVE')?{'width': '50%'}:{'width': '50%'}">
                        <a ng-click="blockSimConfirm('sm')" class="blueText font15" notranslate ng-show="sim.simType!='ACME_SIM' && sim.simStatus!='BLOCKED_BY_ADMIN'">
                            {{(sim.simStatus == "ACTIVE") ?
                            blockSimLabel:unblockSimLabel}}
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 noColpadd" style="width:50%;" ng-show="totalVisibleSIMs  > 1 || ( sim.visibilityStatus == 'hidden')">
                        <a ng-click="hideSimConfirm('sm')" class="blueText  pull-right font15" notranslate>
                            {{(sim.visibilityStatus == "visible") ? hideSimLabel  : unhideSimLabel}}
                        </a>
                    </div>
                </div>
            </div>

        </form>

    </div>
    </div>
</div>