<div class="content-1 mainWrapper viewContainer" >
    <div class="viewRowContainer">
        <!-- Connect -->
        <div my-loading-spinner="viewLoading" ></div>
        <div class="max-f maxWidth">
                <view-title view-name="'Facebook Link'" disable-back="true" on-back="" back-url=""></view-title>

                <div class="col-md-12 col-sm-12" ng-show="formSubmitErrorStr" notranslate>
                    <span class="errorMessage" >{{formSubmitErrorStr}}</span>
                </div>
               <div  ng-show="!viewLoading">
               <div class=" col-md-12 col-sm-12 mSans300 paddingBottom10">
               <span class="messageText" notranslate>{{accountLinkStatus}}</span>
              </div>
              <div class=" col-md-12 col-sm-12 mSans300">
               <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3" style="padding-top:30px;">
                   <button ng-show="showLinkButton" type="submit" style="float:left;" class="btn btn-default ng-binding smallButton" ng-click="linkToFBAccount?unlinkFromFB():linkToFB()" >{{(linkToFBAccount)?'Remove link':'Add link'}}</button>
                   <button ng-show="showLinkButton" type="button" style="float:right;" class="btn btn-cancel ng-binding smallButton" ng-click="openGSView('/dashboard')" >Cancel</button>
               </div>
              </div>
               </div>

            <div class="clearfix"></div>
            </div>
   </div>
 </div>  