<div class="col-md-12 col-sm-12 col-xs-12  viewContainer">
    <div class="viewRowContainer personalDetails" ng-controller="forgotPasswdController">
       <div my-loading-spinner="viewLoading"></div>

       <div class="max-f maxWidth smallscreen">
           <view-title view-name="'Forgot Password'" disable-back="false" on-back="navigateBack()" back-url=""></view-title>
           <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
                <span class="messageText"
                      ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
                <span class="errorMessage"
                      ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
           </div>
           <div ng-show="!viewLoading">
           <form class="form-horizontal" role="form" name="forgetPasswd_form" novalidate ng-submit="forgotPassword()" ng-show="!formSubmitResponseMsg" gs-form-validation>
                  <!--<h1 class="headingText1 mSans500 font18">{{'lt_forgotPassword'|translate}}</h1>-->
                  <div class="form-group" ng-class="{'has-error':forgetPasswd_form.email.errorStr}">
                      <label for="email" class=" col-md-5 col-sm-6 col-xs-12 control-label">
                          Please enter your email address. Instructions to reset your password will be sent to you.</label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                      <input type="email" class="form-control mSans300 font16" id="eMail" name="email" placeholder="" ng-model="emailId" required gslabel="Email">
                     <span class="help-block" ng-show="forgetPasswd_form.email.errorStr" notranslate> {{forgetPasswd_form.email.errorStr}}</span>
                      </div>
                  </div>
               <div class="form-group col-md-8 col-sm-8  col-xs-12 tnc" style="padding-bottom:0;padding-top:16px;margin-bottom:8px;" ng-class="{'has-error':forgetPasswd_form.captchaErrorStr}" ng-hide="isCaptive">
                   <!--<div class="g-recaptcha" data-sitekey="6LdL3AgTAAAAAEznjTYkvV03gVKFzZQ_YSE0PXdH"></div>-->
                   <div id="captcha-div"></div>
                   <span class="help-block text-left" ng-show="forgetPasswd_form.captchaErrorStr" notranslate>{{forgetPasswd_form.captchaErrorStr}}</span>
               </div>

                  <div class="form-group">
                    <div class=" col-md-4 col-sm-6 col-xs-12 pull-right">
                      <div class="btnWrapper">
                        <button type="submit" class="btn btn-default">Send Email
                        </button> 
                      </div>
                    </div> 
                  </div>                                                                        
            </form>
          </div>
           </div>
        </div>
      </div>