   <!--MainContainer-->
     <div class="col-md-9 col-sm-9 col-xs-12 mainContainerPadding paymentHist pull-right" ng-controller="usageController" >            
     <div class="mainContainerRowSm">
       <div class="maxWidth">   
          <div class=" col-md-12 col-sm-12 col-xs-12">       
             <h1 class="mSans700 font20 pageHeadingText"> Help </h1>
          </div> 
       </div>
     </div>   
        
   </div>
