<div class="content-1 mainWrapper viewContainer" >
    <div class="viewRowContainer">
        <!-- Connect -->
        <div my-loading-spinner="viewLoading" ></div>
        <div class="max-f maxWidth">
            <view-title view-name="'Linked Accounts'" disable-back="true" on-back="" back-url=""></view-title>

            <div class="col-md-12 col-sm-12" ng-show="linkErrorStr">
                <span class="errorMessage" notranslate>{{linkErrorStr}}</span>
            </div>

            <div class="col-md-12 col-sm-12" ng-show="formSubmitErrorStr">
                <span class="errorMessage" notranslate>{{formSubmitErrorStr}}</span>
            </div>
            <div  ng-show="!viewLoading && acInfoAvailable" notranslate>

                <div ng-repeat="thirdParty in linkedAccounts">
                 <div class=" col-md-12 col-sm-12" >
                     <img ng-src="{{thirdParty.imgSrc}}" class="linkedAcLogo"/>
                     <span class="darkGrayText1 font16">{{thirdParty.name}}</span>
                     <div class="clearfix"></div>
                 </div>
                 <div class=" col-md-12 col-sm-12 mSans300 paddingBottom10">
                    <span class="lightGrayTxt font13">{{thirdParty.msg}}</span>
                </div>
                <div class=" col-md-12 col-sm-12 mSans300" style="margin-bottom:30px;">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3" style="padding-top:12px;">
                        <button type="submit" style="float:left;height:36px;" class="btn ng-binding" ng-class="{'btn-red':thirdParty.linked,'btn-default':!thirdParty.linked}" ng-click="thirdParty.action()" >{{thirdParty.actionMsg}}</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>