<div class="col-md-12 col-sm-12 col-xs-12  viewContainer" ng-controller="LoginController">
    <div class="viewRowContainer personalDetails">
        <div my-loading-spinner="viewLoading"></div>

        <div class="max-f">
           <view-title view-name="'Log In'" disable-back="true" on-back="" back-url=""></view-title>
            <div style="margin-top: 0px;text-align:center;padding-bottom: 10px" class="msft-note" ng-show="simInitError">
                <p  class="help-block" notranslate>
                    {{simInitError}}
                </p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-lg-12 col-sm-12  formSubmitStatus" ng-hide="simInitError">
            <span class="errorMessage" ng-show="formSubmitErrorStr" notranslate>{{formSubmitErrorStr}}</span>
                <span class="errorMessage" ng-show="formErrorMsg && !formSubmitErrorStr" notranslate>{{formErrorMsg}}</span>
            </div>
            <form class="form-horizontal" name="login_form" role="form" novalidate  ng-show="!viewLoading" gs-form-validation>
          <div class="form-group" ng-class="{'has-error':login_form.email.errorStr}">
        <label for="email" class=" col-md-4 col-sm-4 control-label">Email</label>
       <div class=" col-md-7 col-sm-7  col-md-offset-1 col-sm-offset-1 ">
              <input type="email" class="form-control mSans300 font16" id="eMail" name="email" placeholder="" ng-model="emailId" required/>
            <span class="help-block" ng-show="login_form.email.errorStr" notranslate> {{ login_form.email.errorStr }}</span>
        </div>
    </div>

     <div class="form-group" ng-class="{'has-error':login_form.password.errorStr}">
        <label for="password" class=" col-md-4 col-sm-4 control-label">Password</label>
       <div class=" col-md-7 col-sm-7  col-md-offset-1 col-sm-offset-1 ">
             <input type="password" autocomplete="off" class="form-control mSans300 font16" id="pwd" name="password" placeholder="" ng-model="password" required />
            <span class="help-block" ng-show="login_form.password.errorStr" notranslate> {{login_form.password.errorStr}}</span>
        </div>
    </div>
                <div class="clearfix" style="margin-top:-6px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="mSans300 font14 pull-right">
                            <a href="#/forgotPasswd" class="blueText">Forgot password?</a>
                        </div>
                    </div>
                </div>

            <div class="form-group">
              <div class=" col-md-6 col-sm-6 col-xs-12 pull-right ">
                <div class="btnWrapper tweetButton">
                  <button type="submit" class="btn btn-default pull-right" ng-click="logIn(login_form)">Log In</button>
                </div>
              </div>
            </div>

            <!--<div class="hide-mobile" style="padding:20px;margin-bottom:10px;">

            <div class=" col-md-12 col-sm-12 orDivider" ng-hide="isCaptive" >
              <div class=" col-md-4 col-sm-4 col-xs-4 dashedBorder pull-left" style="width: 35%;height:10px;"></div>
              <div class=" col-md-4 col-sm-4 col-xs-4 mSans500 font16" style="width: 30%;">OR</div>
              <div class=" col-md-4 col-sm-4 col-xs-4 dashedBorder pull-right" style="width: 35%;height:10px;"></div>
            </div>

            <div class="clearfix"></div>
            </div>

            <div class="form-group" ng-hide="isCaptive">
              <div class=" col-md-6 col-sm-6 col-xs-12 col-md-push-3 col-sm-push-3">
                <div class= "btnWrapper fbButton">
                 <button type="submit" class="btn btn-default fbBtn"  style="margin-top:4px" ng-click="logInWithFB()">Log in with Facebook</button>
                </div>
              </div>
            </div>-->
            <div class="mSans300 font15 normalText" style="text-align: center;margin-top: 10%;">
                <a class="blueText paddL8" href="#/signUp">Need to Sign Up?</a>
            </div>

      </form>
       </div>
    </div>
</div>
    