<div class="col-md-12 col-sm-12 col-xs-12  viewContainer" ng-controller="LoginController">
    <div class="viewRowContainer personalDetails">
        <div my-loading-spinner="viewLoading"></div>

            <view-title view-name="" disable-back="true" on-back="" back-url=""></view-title>

            <p class="text-center mSans500 concur_heading normalText">LINK YOUR CONCUR ACCOUNT</p>
        <div class="max-f">
            <div class="clearfix"></div>
            <p class="text-center mSans300 font14 marginTop20 normalText" ng-show="linkingOnLogin">Log in to start tracking your data purchases through Concur.</p>
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="marginTop20 paddingBottom10">
                    <div style="float:left;margin-top:4px;">
                    <img ng-src="{{lazyLoadURL}}styles/images/common/gigskyLogo.png" style="width:100px;">
                    </div>
                    <div style="height:32px;width:32px;float:left;margin-left:20px;"><svg class="s9-content" preserveAspectRatio="none" pointer-events="none" viewBox="0 0 32 32" width="32" height="32" style="-webkit-transform: translateX(0px); width: 100%; height: 100%;"><g stroke="#000000" stroke-width="0" stroke-dasharray="none" fill="#5D5D5D"><path d="M21.786,12.876l7.556-4.363l-7.556-4.363v2.598H2.813v3.5h18.973V12.876zM10.368,18.124l-7.556,4.362l7.556,4.362V24.25h18.974v-3.501H10.368V18.124z"></path></g></svg></div>
                    <div style="float:left;margin-left:20px;">
                        <img ng-src="{{lazyLoadURL}}styles/images/common/concur.png" style="width:100px;">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 col-lg-12 col-sm-12  formSubmitStatus">
                <span class="errorMessage" ng-show="formSubmitErrorStr" notranslate>{{formSubmitErrorStr}}</span>
            </div>


            <form class="form-horizontal marginTop10" name="login_form" role="form" novalidate  ng-show="!viewLoading" gs-form-validation>
                <div class="form-group" ng-class="{'has-error':login_form.email.errorStr}">
                    <label for="email" class=" col-md-4 col-sm-4 control-label">Email</label>
                    <div class=" col-md-7 col-sm-7  col-md-offset-1 col-sm-offset-1 ">
                        <input type="email" class="form-control mSans300 font16" id="eMail" name="email" placeholder="" ng-model="emailId" required/>
                        <span class="help-block" ng-show="login_form.email.errorStr" notranslate> {{ login_form.email.errorStr }}</span>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error':login_form.password.errorStr}">
                    <label for="password" class=" col-md-4 col-sm-4 control-label">Password</label>
                    <div class=" col-md-7 col-sm-7  col-md-offset-1 col-sm-offset-1 ">
                        <input type="password" autocomplete="off" class="form-control mSans300 font16" id="pwd" name="password" placeholder="" ng-model="password" required />
                        <span class="help-block" ng-show="login_form.password.errorStr" notranslate> {{login_form.password.errorStr}}</span>
                    </div>
                </div>

                <div class="clearfix" style="padding-top: 4px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="mSans300 font14 text-left">
                            <a href="#/forgotPasswd-concur" class="blueText">Forgot password?</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class=" col-md-6 col-sm-6 col-xs-12 pull-right ">
                        <div class="btnWrapper tweetButton">
                            <button type="submit" class="btn btn-default pull-right" ng-click="logIn(login_form)">Log In</button>
                        </div>
                    </div>
                </div>

                <div class="clearfix" style="padding-top: 4px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="mSans300 font15 text-center normalText">
                            <span class="block1">Not registered yet?</span>
                            <a class="blueText paddL8" ng-click="onSignUpClick()">Sign Up</a>
                        </div>
                    </div>
                </div>




            </form>
        </div>
    </div>
</div>
