<div class="marketing-background"></div>
<div class="textContainer">
    <div class="txtDiv">
        <div class="marketing-info">
            <p class="main-logo">
	                <span><img class="nav-logo" ng-src="{{lazyLoadURL}}styles/images/common/gigsky_logo_white_notag.png"></span>
            </p>
            <p class="mont-light" style="font-size: 35px; padding-bottom: 15px;">Start Using GigSky Data On Your<br> LTE-Enabled Windows 10 Device<br></p>
            <p  class="mont-medium" style="font-size: 15px; padding-bottom: 35px;">ALWAYS CONNECTED JUST GOT BETTER</p>
            <button type="submit" class="btn btn-default m-r-5"  ng-click="navigate('signUp')">Sign Up</button>
            <button type="submit" class="btn btn-default m-l-5" ng-click="navigate('login')">Login</button>
        </div>
    </div>
</div>

