
<div class="col-md-12 col-sm-12 col-xs-12  viewContainer">
    <div class="viewRowContainer personalDetails">
        <div my-loading-spinner="viewLoading"></div>
        <div class="">
            <view-title disable-back="true" on-back="" back-url=""></view-title>
            <div class="clearfix"></div>

            <div class="col-xs-12 mainContainerRow personalDetails">
                <form class="form-horizontal" role="form" name="sendActLinkForm" novalidate ng-submit="sendActivationLink()" gs-form-validation>
                    <!--<h1 class="headingText1 mSans500 font18">{{'lt_forgotPassword'|translate}}</h1>-->
                    <div class="form-group">
                        <p>
                            {{erroMessage}}
                        </p>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>