<!--MainContainer-->
<div class="viewContainer paymentHist simList content-1 mainWrapper" ng-controller="simController" style="padding-left:8px;padding-right:8px;">
    <div class="viewRowContainer viewSIMDetails">
        <div my-loading-spinner="viewLoading" ></div>

        <div ng-class="simListTypeSelect?'max-f':'max-s'" class="simList">
            <div class="desktopDesign">
                <view-title view-name="desktopModeViewTitle" disable-back="!selectSIMForPayHistory" on-back="" back-url="selectSIMForPayHistory?'/paymentHistory':''"></view-title>
            </div>
            <div class="mobileDesign">
                <view-title view-name="viewTitle" disable-back="!selectSIMForPayHistory" on-back="" back-url="selectSIMForPayHistory?'/paymentHistory':''"></view-title>
            </div>



            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="!simListTypeSelect && !viewLoading">

                <div style="vertical-align:middle;background-color: #F2F4F4;padding-top: 15px;padding-bottom: 5px;" ng-show="hiddenSimsCount > 0">
                    <span ng-show="hiddenSimsCount > 0" class="showHiddenSims">Show Hidden SIMs</span>

                    <div class="switch"  id="toggleSimList" style="display:inline-block;margin-top:0px;left:0%; padding-right:5px;float: right">

                        <input id="sim-toggle" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="toggleHiddenSims()" testarg-checked="{{includeHiddenSIMs}}">
                        <label for="sim-toggle" style="display:inline-block;margin-top:-5px;float:right;"></label>

                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>




            <div class="col-md-12 col-sm-12 col-xs-12"  id="simlist" ng-show="!viewLoading">
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12 simListDiv">
                    <div infinite-scroll="onNextSIMList()" infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
                        <ul>
                            <li ng-show="selectSIMForPayHistory">
                                <div class="clearfix"></div>
                                <!--<div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block">-->
                                <!--<a ng-click="onSIMSelect()" >-->
                                <!--<div class=" col-md-11 col-sm-11 col-xs-11 max-s-11 max-f-11">-->
                                <!--<div class=" col-md-12 col-sm-12 col-xs-12 noColpadd mainText font16" style="padding-left:0">-->
                                <!--{{'lt_allSims'|translate}}-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<div class=" col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1 noColpadd textRight" >-->
                                <!--<img src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">-->
                                <!--</div>-->
                                <!--</a>-->
                                <!--</div>-->


                                <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block mainWrapper">
                                    <a ng-click="onSIMSelect()" >
                                        <div class=" col-md-11 col-sm-11 col-xs-11 max-s-11 max-f-11 noColpadd">
                                            <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd mainText" style="font-size:16px;line-height:1.45;padding-left:0;padding-top:4px;">
                                                All SIMs
                                            </div>
                                        </div>
                                        <div class=" col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1 noColpadd textRight mobileDesign"  ng-style="(simListTypeSelect)?{'line-height': '30px'}:{'line-height': '45px'}">
                                            <img ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">
                                        </div>
                                        <div class=" col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1 noColpadd textRight desktopDesign" ng-show="(simListTypeSelect)?true:(sim==editSIM);"  ng-style="(simListTypeSelect)?{'line-height': '30px'}:{'line-height': '45px'}">
                                            <img ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">
                                        </div>
                                    </a>
                                </div>

                            </li>
                            <li ng-repeat="sim in simList" ng-class="$first?'firstsim':''" class="clearfix" style="margin: 0px;">

                                <div ng-class="(!simListTypeSelect)?'simDiv':'block'" class=" col-md-12 col-sm-12 col-xs-12 noColpadd mainWrapper">
                                    <a ng-click="(simListTypeSelect)?onSIMSelect(sim,$event):onChangeSIM(sim, $event);">
                                        <div class=" col-md-2 col-sm-2 col-xs-2 max-s-2 max-f-2 noColpadd textLeft"
                                             ng-style="{'line-height':'45px','padding-left':'15px'}" ng-show="!simListTypeSelect">
                                            <input type="radio" ng-checked="isActiveSIM(sim)">
                                        </div>


                                        <div ng-class="(!simListTypeSelect)?'col-md-9 col-sm-9 col-xs-9 max-s-9 max-f-9':'col-md-11 col-sm-11 col-xs-11 max-s-11 max-f-11'" class="noColpadd">

                                            <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd mainText inlineSIMDetails"
                                                 ng-class="((!simListTypeSelect) && (sim.simId == currentSim.simId ))?'blueBoldText':'mainText'"
                                                 style="font-size:16px;line-height:1.45;padding-left:0;padding-top:2px;">
                                                <div notranslate>
                                                    {{sim.description}}
                                                </div>
                                            </div>
                                            <div ng-show="!simListTypeSelect"
                                                 class=" col-md-12 col-sm-12 col-xs-12 noColpadd optionSubText">
                                                <div ng-show="(sim.status.connectionStatus == 'CONNECTED') && (sim.simStatus == 'ACTIVE')">
                                        <span class="mSans300 font14 optionSubText"
                                              style="display:block; padding-right:5px;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;" notranslate>{{simSerivce.subscriptionBalance(sim)}} | {{simSerivce.subscriptionRemainingTime(sim)}} | {{simSerivce.connectedNetworkGroupName(sim)}}</span>
                                                </div>
                                                <div ng-show="(sim.status.connectionStatus != 'CONNECTED') || (sim.simStatus != 'ACTIVE')">
                                                    <span class="mSans300 font14">Not connected</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <a ng-click="onSIMSelect(sim,$event)">
                                        <div class=" col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1 noColpadd textRight mobileDesign"
                                             ng-style="(simListTypeSelect)?{'line-height': '30px'}:{'line-height': '45px'}">
                                            <img ng-show="!simListTypeSelect" ng-src="{{lazyLoadURL}}styles/images/common/ic_info.png" style="width: 16px;">
                                            <img ng-show="simListTypeSelect" ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">
                                        </div>
                                        <div id='imgDiv'
                                             class=" col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1 noColpadd textRight desktopDesign"
                                             ng-style="(simListTypeSelect)?{'line-height': '30px'}:{'line-height': '45px'}">
                                            <img ng-show="!simListTypeSelect" ng-src="{{lazyLoadURL}}styles/images/common/ic_info.png" style="width: 16px;">
                                            <img ng-show="simListTypeSelect" ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </ul>
                        <div ng-show='busy' class="mSans300 font16 darkGrayText">Loading data...</div>
                    </div>
                </div>

                <div class=" col-md-12 col-sm-12 col-xs-12" ng-show="!totalSims" style="margin-top:22px;">
                    <span class="messageSecondary">No SIMs found in account.</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>


</div>

