<div class="buyPlan">
    <div class="clearfix"></div>
    <div my-loading-spinner="plansLoading" ></div>

    <div ng-hide="plansLoading">
        <div ng-cloak notranslate>
            <div test-arg="{{networkInfo.networkGroupName}}">
                <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd" >
                    <div class="col-md-12 col-sm-12 col-xs-12 max-s-12 max-f-12 noColpadd" style="background:rgb(244,244,244);padding:4px 8px;">

                        <div class="mSans500 font20 darkGrayText1">
                                <div style="width:90%;float:left;">
                                    <div class="vam countryPlan mSans500 darkGrayText1" style="font-size:20px;color:#333333;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;line-height: 48px;" notranslate>{{networkInfo.networkGroupName}}</div>
                                    <div style="line-height:18px;color:rgb(102,103,105);font-size:14px;" class="mSans300">
                                        <div ng-if="networkInfo.networkGroupType == 'COUNTRY'" class="mSans300"><span>Country Plan</span></div>
                                        <div ng-if="networkInfo.networkGroupType == 'REGIONAL'" class="mSans300"><span>Regional Plan (<var noofcountries>{{networkInfo.countryCount}}</var> Countries)</span></div>
                                        <div ng-if="networkInfo.networkGroupType == 'WORLD'" class="mSans300"><span>World Plan (<var noofcountries>{{networkInfo.countryCount}}</var> Countries)</span></div>
                                    </div>
                                </div>
                                    <div test-arg="plan-info" ng-if="networkInfo.networkGroupType != 'COUNTRY'" style="width:10%;float:right;margin-top:6px;cursor:pointer;line-height:40px;" ng-click="viewAllCountries(networkInfo.networkGroupId)">
                                        <img  ng-src="styles/images/common/ic_info.png" style="width:20px;" src="styles/images/common/ic_info.png"></div>
                                    <div class="clearfix"></div>

                        </div>
                        <div ng-if="subscription && subscription.displayableInfo" style="border-top: dotted 1px gray;padding: 6px 0;" notranslate>
                            <div>
                                <img test-arg="networkSignalImg" ng-src="{{subscription.subscriptionStatus == 'IN-USE' ? 'styles/images/common/signal-green-1024.png' : 'styles/images/common/signal-grey-1024.png'}}"
                                     style="width: 25px;position: absolute;transform: translateY(50%);">
                            </div>
                            <div style="margin-left: 35px;">{{subscription.displayableInfo}}</div>
                            <span class="mSans300 font14" style="margin-left: 35px;">{{subscription.timeStamp}}</span>
                        </div>
                        <div ng-if="subscription && subscription.displayableProfile" style="border-top: dotted 1px gray;padding: 6px 0;" notranslate>
                            <span class="mSans300 font14">{{subscription.displayableProfile}}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div notranslate>
            <div ng-if="!viewCoverage" class="plan-table" ng-show="!isACMESIM && !planPurchaseEndDateCrossed" ng-hide="plansNotSupported">
                <div ng-repeat="plansList in planGroups" >
                    <div class="mSans500 plan-header-row"> <div style="padding-top:8px;padding-left:8px;"> {{getPlanValidityTitle(plansList[0].validityPeriodInDays,plansList.length)}} </div></div>
                    <div class="plan-group" data-cur-index="{{lastPlanGroup=$last}}">
                        <div ng-repeat="plan in plansList" class="plan-row" ng-class="{'optionSubText':(plan.freePlan && plan.freePlanStatus!='AVAILABLE'),'plan-row-border':($last && !lastPlanGroup)}" ng-click="preparePurchasePlan(plan)">
                            <div  class="mSans500 font17 plan-cell text-left" >
                                <div style="text-align:left">
                                    <span>{{commonInfoFactory.planSize(plan)}} </span> <span style="font-size:14px;">{{commonInfoFactory.planSizeGranularity(plan)}}</span>
                                </div>
                            </div>
                            <div  class="mSans300 font17 plan-cell text-center">
                                <span class="mSans300">{{commonInfoFactory.planPriceWithOutDecimals(plan)}}</span>
                                <img ng-show="plan.freePlan" src="styles/images/common/freeIcon.png" style="height:22px;">
                            </div>
                            <div class="mSans300 font17 plan-cell text-right freeTextBlue">
                                <span >{{buyPlanLinkText}}<img ng-src="styles/images/common/nextArrowSm.png" style="width: 12px;float: right;margin: 5px 0px 0px 12px;" src="styles/images/common/nextArrowSm.png"></span>
                            </div>
                        </div>
                    </div>
                    <div class="plan-group-border" ng-if="!$last"></div>
                </div>
            </div>
        </div>
        <div ng-show="plansNotSupported" style="border-top: dotted 1px gray;padding: 6px 0px;">
            <p class="mSans300 font15" id="plansNotSupported_p1" style="margin-top:16px;color:#515557;"><span class="mSans500 font20I pageHeadingText" id="fb_title">GigSky data plans for this country are temporarily unavailable for purchase. Please go to support.gigsky.com for more information.</span>
            </p>
        </div>
    </div>

</div>
