<div class="content-1 mainWrapper viewContainer dashboard">

    <div class="viewRowContainer clearfix">
        <div my-loading-spinner="viewLoading"></div>


        <div class="max-s max-f maxWidth clearfix" >

            <div class=" col-md-12 col-sm-12 col-xs-12 headerRowContainer" style="display:table;width:100%;" test-arg="title">
                <div style="display:table-cell;" class="appIcons">
                    <a ng-click="onBackClick()"><img src="styles/images/common/prevSmGray.png" class="appIcons"></a>
                </div>
                <div style="text-align:center;margin:0 auto;vertical-align:middle;display:table-cell;">
                    <h1 class="mSans500 font20 pageHeadingText" style="margin-top: 4px;" notranslate>{{title}}</h1>
                </div>
            </div>
            <div ng-show="!viewLoading">
                <div class=" col-md-12 col-sm-12 col-xs-12 mainContainerRowSm padding15">
                    <network-plans network-id="networkId"></network-plans>
                </div>

            </div>
        </div>
    </div>
</div>