   <!--MainContainer-->
     <div class="content-1 mainWrapper viewContainer paymentHist" ng-controller="transactionHistoryController">
        <div class="viewRowContainer">
            <div my-loading-spinner="viewLoading" ></div>

            <div class="max-s max-m maxWidth max-m-payhistory max-s-tr-history">
                <view-title view-name="'Transaction History'" disable-back="true" on-back="" back-url=""></view-title>

                <div ng-show="!viewLoading">
                    <div class=" col-md-12 col-sm-12 col-xs-12 allEmail">
                        <div  ng-show="noTransHis" style="margin-top:22px;">This account has no transaction history.</div>
                        <div infinite-scroll="onNextTransHistory()" infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
                            <ul class="desktopDesign">
                                <li ng-show="transHistory.length">
                                    <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block">
                                        <div class=" col-md-2 col-sm-2 col-xs-9 noColpadd desktopDesign" style="width:14%">
                                            <p class="mSans300 font14 mainText">ID #</p>
                                        </div>
                                        <div class=" col-md-3 col-sm-3 col-xs-12 noColpadd " style="width:22%">
                                            <div class="pull-left">
                                                <p class="mSans300 font14 mainText  desktopDesign"><span class="dblk1">(Date / Time UTC)</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class=" col-md-3 col-sm-3 col-xs-12 noColpadd" style="width:30%">
                                            <p class="mSans300 font14 mainText dblk">
                                                <span >Description</span>
                                            </p>
                                        </div>
                                        <div class=" col-md-2 col-sm-2 col-xs-9 noColpadd desktopDesign">
                                            <p class="mSans300 font14 mainText" style="text-align:right;">Amount</p>
                                        </div>

                                        <div class=" col-md-2 col-sm-2 col-xs-9 noColpadd desktopDesign">
                                            <p class="mSans300 font14 mainText" style="padding-left:22px;">Status</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li ng-repeat= "transaction in transHistory " id="{{transaction.transactionId}}" test-arg="paymentHistoryInfo">
                                    <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block">
                                        <div class="pull-left col-md-2 col-sm-2 col-xs-9 noColpadd desktopDesign" style="width:14%" notranslate>
                                            <p class="mSans300 font14 mainText" test-arg="transactionId">{{transaction.transactionId}}</p>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12 noColpadd " style="width:22%" notranslate>
                                            <div>
                                                <p class="mSans300 font14 mainText  desktopDesign" test-arg="paymentDate"><span class="dblk1">{{ transaction.date  }}</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class=" col-md-3 col-sm-3 col-xs-12 noColpadd" style="width:30%" ng-click="transaction.isTransInfoAvailable&&displayTransInfo($event,transaction.transInfo)">
                                            <p class="mSans300 font14 mainText dblk" notranslate>
                                                <span test-arg="networkGroupName">{{ transaction.transDescription }} </span>
                                                <i class="fa fa-info-circle" aria-hidden="true" ng-click="displayTransInfo($event,transaction.transInfo)" ng-show="transaction.isTransInfoAvailable"></i></br></p>
                                                <!--<img ng-click="displayTransInfo(transaction.transInfo)" ng-show="transaction.isTransInfoAvailable" ng-src="{{lazyLoadURL}}styles/images/common/ic_info_grey.png" class="menuIcon"/></br></p>-->
                                        </div>
                                        <div class=" col-md-2 col-sm-2 col-xs-9 noColpadd desktopDesign" notranslate>
                                            <p class="mSans300 font14 mainText"  style="text-align:right;" test-arg="paymentCost">{{transaction.transAmt}}</p>
                                        </div>

                                        <div class=" col-md-2 col-sm-2 col-xs-9 noColpadd desktopDesign" notranslate>
                                            <p class="mSans300 font14 mainText" ng-class="transaction.isTranFailed?'errorText':''" style="padding-left:21px;" test-arg="paymentStatus">{{transaction.transStatus}}</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <div class="clearfix"></div>
                                <li >
                                    <div class="col-md-12 col-sm-12 col-xs-12 noColpadd "><div my-loading-spinner="busy" size="sm" class="historyLoadSpinnerDiv"></div></div>
                                </li>

                            </ul>

                            <ul class="mobileDesign transactionHist">
                                <li class="block" style="padding-bottom:6px;" ng-show="transHistory.length">
                                    <p class="dblk" style="color: rgb(57, 56, 56);padding-left:10px;">
                                        <span class="mSans500 font16">Transactions</span>
                                        <span class="mSans300 font15" style="float:right;text-align:right;">(Date / Time UTC)</span>
                                    </p>
                                </li>
                                <li ng-repeat= "transaction in transHistory" test-arg="m_paymentHistoryInfo">
                                    <div style="padding-bottom: 10px;">
                                        <accordion>
                                            <accordion-group ng-click="open=!open;">
                                                <accordion-heading>
                                                    <div>
                                                        <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd block" style="border: none;">
                                                            <div class=" col-md-12 col-sm-12 col-xs-12 noColpadd" style="padding-right:10px;">
                                                                <div class="mSans300 font15 subText dblk" style="margin-right:0" >
                                                                    <span test-arg="m_idLabel">ID #</span><span test-arg="m_transactionId" notranslate>{{transaction.transactionId}}</span>
                                                                    <span style="text-align:right;float:right;" test-arg="m_paymentDate" notranslate>{{ transaction.date  }} </span>
                                                                </div>
                                                                <div class="mSans300 font15 mainText dblk" style="margin-right:0" notranslate>
                                                                    <span test-arg="m_networkGroupName" style="width: 10%">{{ transaction.transDescription }} </span>
                                                                    <span style="text-align:right;float:right;" test-arg="m_paymentCost">{{transaction.transAmt}}</span></br>
                                                                </div>
                                                                <div class="mSans300 font15 subText dblk" notranslate>
                                                                    <span ng-class="transaction.isTranFailed?'errorText':''" test-arg="m_paymentStatus">{{transaction.transStatus}}</span>
                                                                    <i class="pull-right appIcons" ng-class="{'openIcon':open, 'closeIcon': !open}" style="background-size: contain;margin-top:2px;width:14px;height:14px;"></i>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </accordion-heading>
                                                <div class="font14">
                                                    <span ng-show="transaction.transInfo.creditDescription" notranslate>{{transaction.transInfo.creditDescription}}<br></span>
                                                    <span ng-show="transaction.transInfo.creditExpiry" notranslate>{{transaction.transInfo.creditExpiry}}<br></span>
                                                    <span ng-show="transaction.transInfo.nwGroupName" notranslate>{{transaction.transInfo.nwGroupName}}<br></span>
                                                    <span ng-show="transaction.transInfo.planSizeDetails" notranslate>{{transaction.transInfo.planSizeDetails}}<br></span>
                                                    <span ng-show="transaction.transInfo.simId">SIM: <span notranslate>{{transaction.transInfo.simId}}</span><br></span>
                                                    <span ng-show="transaction.transInfo.concurReceipt.receiptId" notranslate><img ng-src="{{lazyLoadURL}}styles/images/common/concur-logo.png" class="linkedAcLogo" style="margin-bottom:0;width:18px;height:18px;"/>#{{transaction.transInfo.concurReceipt.receiptId}}<br></span>
                                                    <span ng-show="transaction.transInfo.paymentDetailsExists">Payment Details:<br>
                                                        <p class="mSans300 font14" style="padding-left: 15px;">
                                                            <span ng-show="transaction.transInfo.gigskyCreditAmt">GigSky Credit</span><span style="float: right"notranslate>{{transaction.transInfo.gigskyCreditAmt}}<br></span>
                                                            <div class="clearfix" ng-if="transaction.transInfo.gigskyCreditAmt"></div>
                                                        </p>
                                                        <p class="mSans300 font14" style="padding-left: 15px;" notranslate>
                                                            <span>{{transaction.transInfo.paymentDescription}}</span><span style="float: right" notranslate>{{transaction.transInfo.multiplePaymentAmount}}<br></span>
                                                            <div class="clearfix"></div>
                                                        </p>
                                                        <div class="clearfix"></div>
                                                    </span>
                                                    <span class="mSans300 font12 errorText dblk ng-binding"  test-arg="m_failureReason" ng-show="transaction.transInfo.failureReason" notranslate="">{{transaction.transInfo.failureReason}}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </accordion-group>
                                        </accordion>
                                    </div>

                                </li>
                                <div class="clearfix"></div>
                                <li >
                                    <div class="col-md-12 col-sm-12 col-xs-12 noColpadd "><div my-loading-spinner="busy" size="sm" class="historyLoadSpinnerDiv"></div></div>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
     </div>