<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer gigCredit" ng-controller="paymentMethodController">
    <div class="viewRowContainer">
        <div my-loading-spinner="viewLoading" ></div>
        <div class="max-s max-f max-sd max-d maxWidth">
            <view-title view-name="viewTitle" disable-back="true" on-back="" back-url=""></view-title>
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
                <span class="messageText"
                      ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
            </div>
            <div ng-show="!viewLoading">
            <div>
            <div class=" col-md-12 col-sm-12 col-xs-12 transctionPin paymentMethods" notranslate>
                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="!noPaymentMethods && paymentMethodsTitle" style="margin-bottom: 16px;">
                    <span class="mSans300 font15 darkGrayText1">{{paymentMethodsTitle}}</span>
                </div>
                <div class=" col-md-12 col-sm-12 col-xs-12" ng-show="noPaymentMethods" style="margin-top:22px;">
                    <span class="messageText">{{noPaymentMethods}}</span>
                </div>

                <!--<div class="col-md-12 col-sm-12 col-xs-12" style="border-bottom: 1px dotted #cccccc;" ng-show="!noPaymentMethods && paymentMethodsTitle"></div>-->

                <ul>
                    <!--  for Credit card -->
                    <li ng-repeat="billing in allPaymentMethods" style="border-top: 1px dotted #cccccc;padding: 0;min-height: 60px;"
                        >
                        <div class="max-f-1" style="height: 100%;">
                            <div style="margin-left: 5px;line-height: 60px;">
                                <input type="radio" ng-click="setDefault(billing)"
                                       ng-model="billing.defaultBilling" value="true">
                            </div>
                            </div>
                            <div class="max-f-1" ng-show="isPurchaseFlow" style="margin:0 5px; cursor:pointer;" ng-click="setDefault(billing)">
                                <div class="paymentMethodMainText" ng-show="billing.paymentMethod == 'ApplePay'"  > <span class="apple-pay-button apple-pay-button-white"></span></div>
                                <div class="paymentMethodMainText" ng-show="billing.paymentMethod == 'CreditCard'" ><img ng-src="{{displayLogo(billing.ccType)}}" style="width: 32px;" /></div>
                                <div class="paymentMethodMainText" ng-show="billing.paymentMethod == 'Paypal'"><img ng-src="{{displayLogo('PAYPAL')}}" style="width: 32px;" /></div>
                            </div>
                            <div class="max-f-8">
                            <div class="textLeft mSans300 font15" style="cursor:pointer;" ng-click="setDefault(billing)">
                                <div class="ng-binding marginLeft10 darkGrayText1 paymentMethodMainText" >{{payMethodDisplayStr(billing)}}</div>
                                <div class="clearfix"></div>

                            </div>
                        </div>

                            <div class="pull-right " style="padding-right: 0px;" ng-hide="isPurchaseFlow" ng-class="{'max-f-1':isPurchaseFlow,'max-f-3':!isPurchaseFlow}">
                            <div class=" mSans300 font15" >
                                <a ng-click="onEditPayMethod(billing)" style="margin-top:11px;float: left;" ng-show="isEditAllowed(billing)">
                                    <img ng-src="{{lazyLoadURL}}styles/images/common/editBigIcon.png" class="appIcons"></a>
                                <a ng-click="open('sm',billing)" style="margin-top:11px;float: right;"> <img ng-src="{{lazyLoadURL}}styles/images/common/ic_delete_icon.png" class="appIcons"
                                     ></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
                <div ng-show="!noPaymentMethods && paymentMethodsTitle" style="margin-bottom: 30px;"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 noPadd" >
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:12px;padding-top:10px;" ng-show="showCC">

                <a ng-click="addCC()" class="blueText font15">
                        <span >Add new credit card </span>
                </a>
                </div>
                <!--<div class="col-md-12 col-sm-12 col-xs-12" ng-show="showPaypal">-->
                    <!--<a ng-click="addPP()" class="blueText font15">-->
                        <!--<span>Add PayPal account </span>-->
                    <!--</a>-->
                <!--</div>-->
        </div>
        <div class="clearfix"></div>
        </div>
            </div>
            </div>
    </div>
</div>