<div class="content-1 mainWrapper viewContainer paypro">
    <!--notification-->
    <div class="viewRowContainer  font16">
        <view-title view-name="viewTitle" disable-back="true" disable-home="true"></view-title>

        <div class="max-s max-m maxWidth">

            <div class="mSans300 textCenter" ng-show="!transactionPendingMsg && !transactionErrorMsg && !transactionSuccessMsg">
                <div>
                    <div class="mSans300 font15 darkGrayText" style="text-align: center;" id="transactionid" notranslate>{{transactionId}}</div>
                    <div class="mSans300 font15 darkGrayText" style="text-align: center;margin-top: 20px;margin-bottom: 10px;word-break:keep-all;" >It may take a few minutes to apply the purchase to your GigSky account.</div>
                </div>
            </div>


            <div my-loading-spinner="transactionPending" ></div>

            <div class="mSans300 textCenter marginTop20" ng-show="transactionErrorMsg">
                <div>
                    <div class="mSans300 font15 errorMessage" style="text-align: center;" notranslate>{{transactionErrorMsg}}</div>
                    <div class="mSans500 font15 text-center marginTop20">
                        <span ng-click="goToDashBoard()" class="blueText">Go to Dashboard</span>
                    </div>
                </div>
            </div>

            <div class="mSans300 textCenter marginTop20" ng-show="transactionPendingMsg">
                <div>
                    <div class="mSans300 font15" style="text-align: center;" notranslate>{{transactionPendingMsg}}</div>
                    <div class="mSans500 font15 text-center marginTop20 max-f" >
                        <button type="submit" ng-click="refreshStatus()" class="btn btn-default " style="display:block;margin:33px auto;" >Refresh</button>
                    </div>
                </div>
            </div>


            <div class="form-group marginTop20" ng-show="transactionSuccessMsg">
                <div class="mSans300 font15 darkGrayText" style="text-align: center;" notranslate>{{transactionSuccessMsg}}</div>

                <!--<div class="mSans300 font15 darkGrayText" style="text-align: center;margin-top:24px;word-break:keep-all;">Your data plan is now being activated. This could take up to 5 minutes to complete.</div>-->

                <div class="mSans500 font15 text-center marginTop20 max-f">
                    <button type="submit" ng-click="activatePlan()" class="btn btn-default " style="display:block;margin:33px auto;">Close</button>
                </div>
            </div>


        <div class="clearfix"></div>
        </div>
    </div>
</div>