
    <!--MainContainer-->
    <div class="content-1 mainWrapper viewContainer gigCredit" ng-controller="addPPController">
        <div class="viewRowContainer">
            <div my-loading-spinner="viewLoading"></div>
            <div ng-hide="viewLoading">
            <div class="max-f maxWidth">
            <view-title view-name="viewTitle" disable-back="true" on-back="navigateBack()"></view-title>
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
            <span class="messageText"
                  ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
             <span class="errorMessage"
                   ng-show="formSubmitErrorMsg">{{formSubmitErrorMsg}} </span>
            </div>

            <div class=" col-md-12 col-sm-12 col-xs-12 paddingBottom10" ng-show="!progress">
            <span class="messageText" notranslate>{{payPalAccountDetails}} </span>
            </div>

            <div class=" col-md-5 col-sm-5 col-xs-12  col-md-offset-6 col-sm-offset-7 " style="padding-top:22px;" >
                <button type="submit" class="btn btn-default smallButton" ng-show="!progress" ng-click="openPayPal()" style="margin-top: 22px;float: left;width: 130px ! important; white-space: normal; line-height: 1;">Go to PayPal</button>
                <button type="button" style="float:right;margin-top: 22px;width: 130px ! important;" class="btn btn-cancel ng-binding smallButton" ng-show="!progress" ng-click="navigateBack()" >Cancel</button>
            </div>
                <div class="clearfix"></div>
            </div>
            </div>

        </div>

    </div>