<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer creditHist paymentHist" ng-controller="referFriendController">
    <div class="viewRowContainer">

        <div my-loading-spinner="viewLoading" ></div>

        <div class="max-s max-f max-sd max-d maxWidth">
            <view-title view-name="'Refer A Friend'" disable-back="true" on-back="" back-url=""></view-title>

            <div ng-show="!viewLoading">
                <div class=" col-md-12 col-sm-12 col-xs-12 allEmail noColpadd formSubmitStatus" notranslate>
                    <span class="messageText" ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
                    <span class="errorMessage" ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
                </div>
                <div class=" col-md-12 col-sm-12 col-xs-12 allEmail noColpadd" style="text-align: center;padding-top: 15px;" ng-hide="formSubmitErrorStr">
                    <img ng-src="{{lazyLoadURL}}styles/images/common/global_Icon.png" style="width:100px;padding-bottom: 25px;"/><br>
                    <span notranslate>{{referralMsg}}</span>
                    <p><a ng-click="showMoreDetails()" class="blueText">How it works</a></p>
                    <p class="mSans500 font18" style="padding-top: 25px;padding-bottom: 10px">SHARE INVITATION CODE</p>
                    <p class="mSans500 blueText" style="padding-bottom: 25px; font-size: 26px;" notranslate>{{referralCode}}</p>
                     <button type="submit" class="btn btn-default" ngclipboard data-clipboard-text="{{referralInviteMsg}}" ngclipboard-success="onSuccess(e);" ngclipboard-error="onError(e);" >
                        Copy Invitation
                    </button>
                    <div class="tooltip bottom fade in" ng-show="showToolTip" tooltip-popup="" title="" content="Copied to clipboard" placement="bottom" animation="tt_animation" is-open="tt_isOpen" style="top: 395px; left: 117.5px; display: block;">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner ng-binding" ng-bind="content">{{toolTipMsg}}</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>