<div class="content-1 mainWrapper viewContainer" ng-controller="replaceSIMController">
    <div class="viewRowContainer">
        <div my-loading-spinner="viewLoading" ></div>
        <div class="max-f personalDetails">
            <view-title view-name="viewName" disable-back="true" on-back="navigateBack()" back-url=""></view-title>
            <div ng-show="!viewLoading">
            <div class="mSans300 font16 textCenter" style="padding-bottom: 10px;">
                <div class="mSans500" style="color: rgb(204, 50, 50);">WARNING!</div>
                <div class="text-left font14">This action will transfer all history to the new SIM card, and permanently block the old SIM card from being used.</div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
            <span class="messageText"
                  ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
            </div>
            <activatesim acodelabel="Activation code"></activatesim>
            </div>
        </div>
    </div>
</div>
