
<div class="col-md-12 col-sm-12 col-xs-12  viewContainer" ng-controller="ActivationLinkCtrl">
    <div class="viewRowContainer personalDetails">
        <div my-loading-spinner="viewLoading"></div>
        <div class="max-f maxWidth">
        <view-title view-name="'Account Activation'" disable-back="true" on-back="" back-url=""></view-title>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
                <span class="messageText"
                      ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
                <span class="errorMessage"
                  ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 mainContainerRow personalDetails"  ng-show="!viewLoading" >
                    <form class="form-horizontal" role="form" name="sendActLinkForm" novalidate ng-submit="sendActivationLink()" gs-form-validation>
                        <!--<h1 class="headingText1 mSans500 font18">{{'lt_forgotPassword'|translate}}</h1>-->
                        <div class="form-group" ng-class="{'has-error':sendActLinkForm.email.errorStr}">
                            <label for="email" class=" col-md-5 col-sm-6 col-xs-12 control-label">
                                Please enter your email address. Instructions to activate your account will be sent to you.</label>
                            <div class=" col-md-7 col-sm-6 col-xs-12">
                                <input type="email" class="form-control mSans300 font16" id="eMail" name="email" placeholder="Enter your email" ng-model="emailId" required gslabel="Email">
                                <span class="help-block" ng-show="sendActLinkForm.email.errorStr" notranslate> {{ sendActLinkForm.email.errorStr }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-4 col-sm-6 col-xs-12 pull-right">
                                <div class="btnWrapper">
                                    <button type="submit" class="btn btn-default">Send Email
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        </div>
</div>