<div class="col-md-12 col-sm-12 col-xs-12 viewContainer">
    <div class="viewRowContainer personalDetails" ng-controller="signUpController" ng-click="isDisplay=false">
        <div my-loading-spinner="viewLoading"></div>
        <view-title view-name="'Sign Up'" disable-back="true" on-back=""
                    back-url=""></view-title>
        <div class="clearfix"></div>
        <div class="smallscreen max-f" ng-show="!viewLoading">
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
            <span class="messageText"
                  ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
            </div>

            <form class="form-horizontal" name="signup_form" role="form" novalidate gs-form-validation autocorrect="off" ng-keyup="signIn(signup_form,$event)">
                <div class="form-group" ng-class="{'has-error':signup_form.email.errorStr}">
                    <label for="email" class=" col-md-4 col-sm-4 control-label">Email</label>

                    <div class="col-md-8 col-sm-7 col-md-offset-0 col-sm-offset-1 ">
                        <input type="email" class="form-control mSans300 font16" id="eMail" name="email"
                               ng-model="emailId" required>
                        <span class="help-block" ng-show="signup_form.email.errorStr" notranslate> {{signup_form.email.errorStr}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':signup_form.password1.errorStr}">
                    <label for="password1" class=" col-md-4 col-sm-4 control-label">Password</label>

                    <div class=" col-md-8 col-sm-7  col-md-offset-0 col-sm-offset-1">
                        <input validatePwd="signUp" type="password" autocomplete="off" class="form-control mSans300 font16" name="password1" ng-click="passwordPolicyMsg($event)"
                               ng-model="password" required ng-minlength="8" minlengtherror="{{minimumLengthPwdError}}"/>
                        <span class="passwordMsgColor" ng-show="isDisplay && !signup_form.password1.errorStr" notranslate> {{passwordMsg}}</span>
                        <span class="help-block" ng-show="signup_form.password1.errorStr" notranslate> {{signup_form.password1.errorStr}}</span>
                    </div>
                </div>

                <!--<div class="form-group" ng-class="{'has-error':signup_form.confirmPassword1.errorStr}"  >-->
                    <!--<label for="confirmPassword1" class=" col-md-4 col-sm-4 control-label">Confirm Password</label>-->

                    <!--<div class=" col-md-8 col-sm-7 col-md-offset-0 col-sm-offset-1">-->
                        <!--<input type="password" autocomplete="off" class="form-control mSans300 font16" id="confirmPassword1" name="confirmPassword1"-->
                               <!--ng-model="confirmPasswd" required ng-minlength="8" confirm="password1" minlengtherror="{{minimumLengthPwdError}}"/>-->
                        <!--<span class="help-block" ng-show="signup_form.confirmPassword1.errorStr" notranslate> {{signup_form.confirmPassword1.errorStr}}</span>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group" ng-class="{'has-error':signup_form.selectCountry.errorStr}" >
                    <label for="selectCountry" class=" col-md-4 col-sm-4 control-label">Country of Residence</label>

                    <div class=" col-md-8 col-sm-7  col-md-offset-0 col-sm-offset-1" notranslate>
                        <select name="selectCountry" ng-model="selectCountry" required class="selectpicker"
                                ng-options="item.code as item.name for item in countryList">
                            <option value="">{{selectCountryStr}}</option>
                        </select>
                        <span class="help-block" ng-show="signup_form.selectCountry.errorStr"> {{signup_form.selectCountry.errorStr}}</span>
                    </div>
                </div>

                <div class="form-group" style="margin-bottom:8px;" ng-hide="showInviteInput">
                    <div class="col-md-8 col-sm-7 col-md-offset-0 col-sm-offset-1 ">
                        <label class=" control-label" style="padding: 0px"><span>Have a referral code?</span>&nbsp;<a ng-click="showInviteInput = !showInviteInput" style="display: inline-block;">Click here.</a></label>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error':signup_form.referralCode.errorStr}" style="margin-bottom:8px;" ng-show="showInviteInput">
                    <label for="referralCode" class=" col-md-4 col-sm-4 control-label"><span>Referral Code</span><span class="mSans300 optional">(optional)</span></label>

                    <div class="col-md-8 col-sm-7 col-md-offset-0 col-sm-offset-1 ">
                        <input validateRef="signUp" type="text" class="form-control mSans300 font16"  name="referralCode" id="referralCode"
                               ng-model="referralCode"  gslabel="Promo Code">
                        <span class="help-block" ng-show="signup_form.referralCode.errorStr" notranslate> {{signup_form.referralCode.errorStr}}</span>
                    </div>
                </div>


                <div class="form-group col-md-8 col-sm-8  col-md-offset-2 col-sm-offset-2 tnc" style="padding-bottom:0;padding-top:16px;margin-bottom:8px;margin-left: 0px !important;" ng-class="{'has-error':signup_form.captchaErrorStr}" ng-hide="isCaptive">
                    <!--<div class="g-recaptcha" data-sitekey="6LdL3AgTAAAAAEznjTYkvV03gVKFzZQ_YSE0PXdH"></div>-->
                    <div id="captcha-div"></div>
                    <span class="help-block text-left" ng-show="signup_form.captchaErrorStr" notranslate>{{signup_form.captchaErrorStr}}</span>
                </div>

                <div class="form-group col-md-8 col-sm-8  col-md-offset-2 col-sm-offset-2 agreeTerms" style="padding-top: 8px;" ng-class="{'has-error':signup_form.agreeTerms.errorStr}">
                    <span class="termInput"><input name="agreeTerms" type="checkbox" ng-model="agreeTerms" required name="agreeTerms" requiredError="In order to use our services, you must accept GigSky's Terms of Service and Privacy Policy" gslabel="agreeTerms"></span>
                    <span class="control-label" id="termsLabel" style="font-size: 12px; padding: 0px;" notranslate></span>
                    <span class="help-block text-left" ng-show="signup_form.agreeTerms.errorStr" notranslate> {{signup_form.agreeTerms.errorStr}}</span>
                </div>

                <div class="form-group">
                        <div class=" col-md-6 col-sm-6 col-xs-12 pull-right noPadd">
                            <button type="submit" class="btn btn-default" ng-click="signIn(signup_form)">Sign Up</button>
                        </div>
                </div>

            </form>
        </div>
    </div>
</div>
