<div class="col-md-12 col-sm-12 col-xs-12 viewContainer">
    <div class="viewRowContainer personalDetails" ng-controller="signUpController">
        <div my-loading-spinner="viewLoading"></div>
        <view-title view-name="" disable-back="true" on-back=""
                    back-url=""></view-title>
        <p class="text-center mSans500 concur_heading normalText">SIGN UP WITH GIGSKY</p>

        <div class="clearfix"></div>
        <div class="max-f" ng-show="!viewLoading">

            <p class="text-center mSans300 font14 marginTop20 normalText" >Create a GigSky account, add your GigSky SIM card, and start tracking your data purchases with Concur.</p>
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="marginTop20 paddingBottom10">
                    <div style="float:left;margin-top:4px;">
                        <img ng-src="{{lazyLoadURL}}styles/images/common/gigskyLogo.png" style="width:100px;">
                    </div>
                    <div style="height:32px;width:32px;float:left;margin-left:20px;"><svg class="s9-content" preserveAspectRatio="none" pointer-events="none" viewBox="0 0 32 32" width="32" height="32" style="-webkit-transform: translateX(0px); width: 100%; height: 100%;"><g stroke="#000000" stroke-width="0" stroke-dasharray="none" fill="#5D5D5D"><path d="M21.786,12.876l7.556-4.363l-7.556-4.363v2.598H2.813v3.5h18.973V12.876zM10.368,18.124l-7.556,4.362l7.556,4.362V24.25h18.974v-3.501H10.368V18.124z"></path></g></svg></div>
                    <div style="float:left;margin-left:20px;">
                        <img ng-src="{{lazyLoadURL}}styles/images/common/concur.png" style="width:100px;">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus marginTop20" notranslate>
            <span class="messageText"
                  ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
            </div>

            <form class="form-horizontal" name="signup_form" role="form" novalidate gs-form-validation ng-keyup="signIn(signup_form,$event)">

                <!--Email-->
                <div class="form-group" ng-class="{'has-error':signup_form.email.errorStr}">
                    <label for="email" class=" col-md-4 col-sm-4 control-label">Email</label>

                    <div class="col-md-8 col-sm-7 col-md-offset-0 col-sm-offset-1 ">
                        <input type="email" class="form-control mSans300 font16" id="eMail" name="email"
                               ng-model="emailId" required>
                        <span class="help-block" ng-show="signup_form.email.errorStr" notranslate> {{signup_form.email.errorStr}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':signup_form.password.errorStr}">
                    <label for="password" class=" col-md-4 col-sm-4 control-label">Password</label>

                    <div class=" col-md-8 col-sm-7  col-md-offset-0 col-sm-offset-1">
                        <input validatePwd="signUpConcur" type="password" autocomplete="off" class="form-control mSans300 font16"  name="password" ng-model="password"
                               ng-focus="passwordPolicyMsg()" ng-blur="isDisplay=false"
                                required ng-minlength="8" minlengtherror="{{minimumLengthPwdError}}"/>
                        <span class="passwordMsgColor" ng-show="isDisplay && !signup_form.password.errorStr" notranslate> {{passwordMsg}}</span>
                        <span class="help-block" ng-show="signup_form.password.errorStr" notranslate> {{signup_form.password.errorStr}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':signup_form.confirmPasswd.errorStr}">
                    <label for="confirmPasswd" class=" col-md-4 col-sm-4 control-label">Confirm Password</label>

                    <div class=" col-md-8 col-sm-7 col-md-offset-0 col-sm-offset-1">
                        <input type="password" autocomplete="off" class="form-control mSans300 font16" id="cp" name="confirmPasswd"
                               ng-model="confirmPasswd" required ng-minlength="8" confirm="password" minlengtherror="{{minimumLengthPwdError}}"/>
                        <span class="help-block" ng-show="signup_form.confirmPasswd.errorStr" notranslate> {{signup_form.confirmPasswd.errorStr}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':signup_form.selectCountry.errorStr}">
                    <label for="selectCountry" class=" col-md-4 col-sm-4 control-label">Country of Residence</label>

                    <div class=" col-md-8 col-sm-7  col-md-offset-0 col-sm-offset-1" notranslate>
                        <select name="selectCountry" ng-model="selectCountry" required class="selectpicker"
                                ng-options="item.code as item.name for item in countryList">
                            <option value="">{{selectCountryStr}}</option>
                        </select>
                        <span class="help-block" ng-show="signup_form.selectCountry.errorStr"> {{signup_form.selectCountry.errorStr}}</span>
                    </div>
                </div>
                <!--<div class="form-group" ng-class="{'has-error':signup_form.email.errorStr}">-->
                <!--<label class="col-md-4 col-sm-4 control-label" ng-show="recaptchaLoaded">{{'lt_typeLetter'|translate}} </label>-->
                <!--<div class="col-md-7 col-sm-7 col-md-offset-1 col-sm-offset-1">-->
                <!--<div class="col-md-12 col-sm-12 noPadd">-->
                <!--<div class=" col-md-12 col-sm-12 pull-right noPadd">-->
                <!--<div id="recaptchaId" class="captchaRegion"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class=" col-md-12 col-sm-12 col-xs-12 pull-right noPadd">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" id="recaptchsStatus" value="" ng-model="ngRecaptchsStatus"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
                <div class="form-group col-md-8 col-sm-8  col-md-offset-2 col-sm-offset-2 tnc" style="padding-bottom:0;padding-top:16px;margin-bottom:8px;" ng-class="{'has-error':signup_form.captchaErrorStr}" ng-hide="isCaptive">
                    <!--<div class="g-recaptcha" data-sitekey="6LdL3AgTAAAAAEznjTYkvV03gVKFzZQ_YSE0PXdH"></div>-->
                    <div id="captcha-div"></div>
                    <span class="help-block text-left" ng-show="signup_form.captchaErrorStr" notranslate>{{signup_form.captchaErrorStr}}</span>
                </div>

                <div class=" col-md-8 col-sm-8  col-md-offset-2 col-sm-offset-2 tnc" style="padding-top: 8px;">
                    <label for="agreeTerms" ng-hide="true">terms of service</label>
                    <input type="checkbox" ng-model="agreeTerms" required name="agreeTerms" requiredError="In order to use our services, you must agree to GigSky's Terms of Service.">
                    <span class="mSans300" id="termsLabel" style="font-size: 14px;"></span>
                    <span class="help-block text-left" ng-show="signup_form.agreeTerms.errorStr" notranslate> {{signup_form.agreeTerms.errorStr}}</span>
                </div>
                <div class="form-group">
                    <div class=" col-md-4 col-sm-4"></div>
                    <div class=" col-md-7 col-sm-7  col-md-offset-1 col-sm-offset-1">
                        <div class=" col-md-6 col-sm-6 col-xs-12 pull-right noPadd">
                            <button type="submit" class="btn btn-default" ng-mousedown="signIn(signup_form)">Sign Up</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>