<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer" ng-controller="simUpgradeController">
    <div class="viewRowContainer">

        <div class="max-f maxWidth">
            <div my-loading-spinner="viewLoading" ></div>
            <view-title view-name="'Please Enter Mailing Address'" disable-back="true" on-back="" back-url=""></view-title>

            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                <div class="mainOption" style="font-size: 14px;">The replacement GigSky SIM will be mailed to this address.</div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 formSubmitStatus" style="text-align: center;margin-bottom: 3%" notranslate>
                <span class="messageText" ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
                <span class="errorMessage" ng-show="formSubmitErrorStr">{{formSubmitErrorStr}}</span>
            </div>
        </div>

        <div class=" col-md-10 col-sm-10 col-xs-12 noColpadd personalDetails" style="margin:0 auto;float:none;"
             ng-show="!viewLoading">

            <form id="ccform" class="form-horizontal paddingBottom10" style="margin:0 auto;" role="form"
                  name="simUpgradeForm" novalidate gs-form-validation autocorrect="off">
                <div class="max-s max-m maxWidth ccpersonaldetails">

                    <div class="col-md-12 col-sm-12 col-xs-12 mainContainerRowSm">
                        <!--   <form class="form-horizontal paddingBottom10" role="form"> -->
                        <div class="maxWidth">

                            <div class="form-group" ng-class="{'has-error':simUpgradeForm.fName.errorStr}">
                                <label for="fName"
                                       class=" col-md-4 col-sm-4 control-label"><span>First Name</span></label>

                                <div class=" col-md-8 col-sm-8">
                                    <input type="text" id="fName" class="form-control mSans300 font16" placeholder=""
                                           name="fName" ng-model="fName" gslabel="First Name" required/>
                                    <span class="help-block" ng-show="simUpgradeForm.fName.errorStr" notranslate> {{simUpgradeForm.fName.errorStr}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':simUpgradeForm.lName.errorStr}">
                                <label for="lName"
                                       class=" col-md-4 col-sm-4 control-label"><span>Last Name</span></label>

                                <div class=" col-md-8 col-sm-8">
                                    <input type="text" id="lName" class="form-control mSans300 font16" placeholder=""
                                           name="lName" ng-model="lName" gslabel="Last Name"/>
                                    <span class="help-block" ng-show="simUpgradeForm.lName.errorStr" notranslate> {{simUpgradeForm.lName.errorStr}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':simUpgradeForm.address1.errorStr}">
                                <label for="address1"
                                       class=" col-md-4 col-sm-4 control-label"><span>Mailing Address</span></label>

                                <div class=" col-md-8 col-sm-8">
                                    <input type="text" id="address1" class="form-control mSans300 font16" placeholder=""
                                           name="address1" ng-model="address1" gslabel="Mailing Address" required/>
                                    <span class="help-block" ng-show="simUpgradeForm.address1.errorStr" notranslate> {{simUpgradeForm.address1.errorStr}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':simUpgradeForm.address2.errorStr}">

                                <div class=" col-md-8 col-sm-8 col-md-offset-4 col-sm-offset-4">
                                    <input type="text" id="address2" class="form-control mSans300 font16" placeholder=""
                                           name="address2" ng-model="address2" gslabel="Address Line 2:"/>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':simUpgradeForm.city.errorStr}">
                                <label for="city"
                                       class=" col-md-4 col-sm-4 control-label"><span>City / Town</span></label>

                                <div class=" col-md-8 col-sm-8">
                                    <input type="text" id="city" class="form-control mSans300 font16" placeholder=""
                                           name="city" ng-model="city" gslabel="City / Town" required/>
                                    <span class="help-block" ng-show="simUpgradeForm.city.errorStr" notranslate> {{simUpgradeForm.city.errorStr}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':simUpgradeForm.state.errorStr}">
                                <label for="state"
                                       class=" col-md-4 col-sm-4 control-label"><span>State / Province / Region</span></label>

                                <div class=" col-md-8 col-sm-8">
                                    <input type="text" id="state" class="form-control mSans300 font16" placeholder=""
                                           name="state" ng-model="state" gslabel="State / Province / Region"/>
                                    <span class="help-block" ng-show="simUpgradeForm.state.errorStr" notranslate> {{simUpgradeForm.state.errorStr}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':simUpgradeForm.pcode.errorStr}">
                                <label for="pcode"
                                       class=" col-md-4 col-sm-4 control-label"><span>ZIP / Postal Code</span></label>

                                <div class=" col-md-8 col-sm-8">
                                    <input type="text" id="pcode" class="form-control mSans300 font16" placeholder=""
                                           name="pcode" ng-model="zipCode" gslabel="ZIP / Postal Code"/>
                                    <span class="help-block" ng-show="simUpgradeForm.pcode.errorStr" notranslate> {{simUpgradeForm.pcode.errorStr}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error':simUpgradeForm.country.errorStr}">
                                <label for="country" class=" col-md-4 col-sm-4 control-label">
                                    Country</label>

                                <div class="col-md-8 col-sm-8" notranslate>
                                    <select required name="country" required ng-model="country" id="country"
                                            class="selectpicker"
                                            ng-options="item.code as item.name for item in countryList">
                                        <option value="">{{selectCountryStr}}</option>
                                    </select>
                                    <span class="help-block" ng-show="simUpgradeForm.country.errorStr" notranslate> {{simUpgradeForm.country.errorStr}}</span>
                                </div>

                            </div>

                            <div class="col-md-8 col-sm-18 col-xs-12  col-md-offset-4 col-sm-offset-4"
                                 style="padding-top:22px;">
                                <button type="submit" class="btn btn-default" ng-show="!progress"
                                        ng-click="requestFormSim2()" style="margin-top: 0px;float: left;">Submit
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

