<!--MainContainer-->
<div class="content-1 mainWrapper viewContainer" ng-controller="simUpgradeController">
    <div class="viewRowContainer">
        <div class="max-f maxWidth">
            <div my-loading-spinner="viewLoading" ></div>
            <view-title view-name="'SIM Replacement Required'" disable-back="true" on-back="" back-url=""></view-title>

            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                <div class="mainOption" notranslate>{{simReplaceMsg}}</div>
                <div class="mainOption simReplaceConfirmMsgMargin" style="margin-bottom: 7%">Please update the mailing address for this account to receive a free replacement SIM.You should receive the new SIM within 2-3 weeks after submission.</div>

                <button type="submit" class="btn btn-default btnFontSizeIt btnFontSizeFr truncate" ng-click="enterMailAddress()">I want a Replacement SIM</button>
                <button type="submit" class="btn sim-replace-btn-default simReplaceConfirmMsgMargin btnFontSizeIt btnFontSizeFr truncate" ng-click="confirmDoNotReplaceSim()">I do NOT want a Replacement SIM</button>
            </div>

        </div>

    </div>
</div>

