<!--MainContainer-->
<div class="viewContainer paymentHist simList content-1 mainWrapper" ng-controller="simController" style="padding-left:8px;padding-right:8px;">
    <div class="viewRowContainer viewSIMDetails">
        <div my-loading-spinner="viewLoading" ></div>

        <div ng-class="simListTypeSelect?'max-f':'max-s'" class="simList">
            <div class="desktopDesign">
                <view-title view-name="desktopModeViewTitle" disable-back="!selectSIMForPayHistory" on-back="" back-url="selectSIMForPayHistory?'/paymentHistory':''"></view-title>
            </div>
            <div class="mobileDesign">
                <view-title view-name="viewTitle" disable-back="!selectSIMForPayHistory" on-back="" back-url="selectSIMForPayHistory?'/paymentHistory':''"></view-title>
            </div>



            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="!simListTypeSelect && !viewLoading">
                <ul class="simLinksList">
                    <li>
                        <div class="col-md-12 col-sm-12 col-xs-12 max-s-12 max-f-12" ng-click="showMySIM()" style="padding-top:10px;padding-bottom: 10px">
                            <div class="col-md-11 col-sm-11 col-xs-11 max-s-11 max-f-11 mSans300" ng-click="showMySIM()"  style="padding:0;padding-left: 15px;">My SIMs
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1" style="padding-left: 5px;">
                                <img ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">
                            </div>

                        </div>
                        <div class="noPadd1">
                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                <div class=" col-md-12 col-sm-12 col-xs-12  dashedBorder" style="padding:0 !important;padding-left: 15px;"></div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="col-md-12 col-sm-12 col-xs-12 max-s-12 max-f-12" ng-click="showActiveSim();" style="padding-top:10px;padding-bottom: 10px">
                              <div class="col-md-11 col-sm-11 col-xs-11 max-s-11 max-f-11 mSans300" ng-click="showActiveSim();"  style="padding:0;padding-left: 15px;">Activate new SIM card
                              </div>

                                <div class="col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1" style="padding-left: 5px;">
                                    <img ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">
                                </div>

                        </div>

                        <div class="noPadd1">
                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                <div class=" col-md-12 col-sm-12 col-xs-12  dashedBorder" style="padding:0 !important;padding-left: 15px;"></div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="clearfix"></div>

                    </li>

                    <li ng-hide="isCaptive">
                        <div class="col-md-12 col-sm-12 col-xs-12 "  ng-click="openShopSIM(baseLangUrl  + '/shop?ls=true')"  style="padding-top:10px;padding-bottom: 10px">
                            <div class="col-md-11 col-sm-11 col-xs-11 max-s-11 max-f-11 mSans300" style="padding:0;padding-left: 15px;">
                                Buy SIM
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1 max-s-1 max-f-1" style="padding-left: 5px;">
                                <img ng-src="{{lazyLoadURL}}styles/images/common/nextArrowSm.png" style="width: 12px;">
                            </div>
                        </div>
                        <div class="noPadd1">
                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                <div class=" col-md-12 col-sm-12 col-xs-12  dashedBorder" style="padding:0 !important;padding-left: 15px;"></div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>



            </div>





    </div>
        <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>


</div>

