<div class="content-1 mainWrapper viewContainer" id="supportMainDiv" >
    <!--notification-->
    <div class="viewRowContainer supportForm">
        <div my-loading-spinner="viewLoading"></div>
        <!--personal Details-->
        <div class="max-s max-m">
            <view-title view-name="'Contact Us'" disable-back="true" on-back="" back-url=""></view-title>

            <div class="mSans300 font14" style="text-align:center;padding-bottom:20px;">
                For help, email our Contact Center by completing the form below.
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
                <span class="messageText"
                      ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
            </div>

            <div class=" col-md-10 col-sm-10 col-xs-12 noColpadd" style="margin:0 auto;float:none;padding-left: 8px;padding-right: 8px;" ng-show="!viewLoading">

                <form class="form-horizontal" role="form" name="support_form" novalidate  ng-show="!viewLoading" gs-form-validation autocorrect="off">

                    <div class="form-group" ng-class="{'has-error':support_form.name.errorStr}">
                        <label for="name" class=" col-md-4 col-sm-4 control-label">Your Name</label>

                        <div class=" col-md-8 col-sm-8">
                            <input type="text" class="form-control mSans300 font16 capitalize" id="name" name="name" placeholder=""  ng-model="name" required/>
                            <span class="help-block" ng-show="support_form.name.errorStr" notranslate> {{support_form.name.errorStr}}</span>

                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error':support_form.contact.errorStr}">
                        <label for="contact" class=" col-md-4 col-sm-4 control-label">Your contact email address</label>
                        <div class=" col-md-8 col-sm-8">
                            <input type="email" class="form-control mSans300 font16" id="contact" placeholder="" name="contact" ng-model="contact" required/>
                            <span class="help-block" ng-show="support_form.contact.errorStr" notranslate> {{support_form.contact.errorStr}}</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error':support_form.email.errorStr}">
                        <label for="email" class=" col-md-4 col-sm-4 control-label">GigSky account email (optional)</label>
                        <div class=" col-md-8 col-sm-8">
                            <input type="email" class="form-control mSans300 font16" id="email" placeholder="" name="email" ng-model="emailId"/>
                            <span class="help-block" ng-show="support_form.email.errorStr" notranslate> {{support_form.email.errorStr}}</span>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{'has-error':support_form.device.errorStr}">
                        <label for="device" class=" col-md-4 col-sm-4 control-label">Your mobile device (optional)</label>
                        <div class=" col-md-8 col-sm-8">
                            <input type="text" class="form-control mSans300 font16 capitalize" id="device" placeholder="" name="device" ng-model="device"/>
                            <span class="help-block" ng-show="support_form.device.errorStr" notranslate> {{support_form.device.errorStr}}</span>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{'has-error':support_form.location.errorStr}">
                        <label for="location" class=" col-md-4 col-sm-4 control-label">Your location</label>
                        <div class=" col-md-8 col-sm-8">
                            <input type="text" class="form-control mSans300 font16" id="location" placeholder="" name="location" ng-model="location" required/>
                            <span class="help-block" ng-show="support_form.location.errorStr" notranslate> {{support_form.location.errorStr}}</span>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{'has-error':support_form.subject.errorStr}">
                        <label for="subject" class=" col-md-4 col-sm-4 control-label">Subject</label>
                        <div class=" col-md-8 col-sm-8">
                            <input type="text" class="form-control mSans300 font16" id="subject" placeholder="" name="subject" ng-model="subject" required/>
                            <span class="help-block" ng-show="support_form.subject.errorStr" notranslate> {{support_form.subject.errorStr}}</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error':support_form.message.errorStr}">
                        <label for="message" class=" col-md-4 col-sm-4 control-label">Message</label>
                        <div class=" col-md-8 col-sm-8">
                            <textarea ng-model="message" id="message" class="textAr form-control ng-pristine ng-invalid ng-invalid-required" name="message" required=""></textarea>

                            <!--<input type="text" class="form-control mSans300 font16" id="message" placeholder="" name="message" ng-model="message" required/>-->
                            <span class="help-block" ng-show="support_form.message.errorStr" notranslate> {{support_form.message.errorStr}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 col-sm-4  control-label"></label>
                        <div class="col-md-8 col-sm-8 col-xs-12 marginB10">
                            <button type="submit" class="btn btn-default" style="float: left;" ng-click="createSupportTicket(support_form)">Send</button>
                        </div>
                    </div>
                </form>

                <div class="mSans300 font14 messageText"
                     style="text-align:center;padding-bottom:20px;padding-top:20px;">
                    You can also call us: <br/>

                    <p style="padding-top:6px;">United States <span notranslate>+1 650 924 9022</span></p>

                    <p style="padding-top:6px;">United Kingdom <span notranslate>+44 (0)203 608 0394</span></p>
                </div>

               <p class="mSans300 font16 primaryText text-center" ng-show="!isCaptive">
                    If you have a support question, please visit our <a href="//support.gigsky.com">support page</a>.
                </p>

            </div>
        </div>
    </div>
</div>

