    <!--MainContainer-->

    <div class="content-1 mainWrapper viewContainer gigCredit personalDetails" ng-controller="tPinController">
        <div class="viewRowContainer">
        <div my-loading-spinner="viewLoading"></div>
        <div class="max-f maxWidth">
            <view-title view-name="title" disable-back="true" on-back="" back-url=""></view-title>
            <div ng-show="!viewLoading">
            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
            <span class="titleSubText" ng-show="showSet">{{formSubmitResponseMsg?formSubmitResponseMsg:tpinRequiredMsg}} </span>
            <span class="messageText" ng-show="showReset && formSubmitResponseMsg">{{formSubmitResponseMsg}}</span>
             <span class="errorMessage" ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
        </div>
        <div>
            <div class=" col-md-12 col-sm-12 col-xs-12 nopadding" ng-show="showForm" style="padding-top: 10px;">
                    <form class="form-horizontal paddingBottom10" role="form" novalidate name="setTPin_form" gs-form-validation>
                        <div ng-show="showReset" class="form-group" ng-class="{'has-error':setTPin_form.oldTPin.errorStr}" style="margin-bottom: 0px;">
                            <label for="oldTPin" class="max-f-8 control-label">Old Transaction PIN</label>
                            <div class="max-f-4 creditCardInputs" notranslate>
                                <input type="tel" class="form-control mSans300 font16 secureInput" placeholder="****" name="oldTPin" ng-model="oldTPIN"  maxlength="4" required pattern="[0-9]*"  ng-pattern="/^[0-9]{4}$/" style="text-align: center; "/>
                                <!--<t-pin ng-model='oldTPIN'></t-pin>-->
                            </div>

                            <div class="max-f-10">
                                <span class="help-block" ng-show="setTPin_form.oldTPin.errorStr" notranslate>{{setTPin_form.oldTPin.errorStr}}</span>
                            </div>



                        </div>

                        <div ng-show="showReset" class="col-md-12 col-sm-12 col-xs-12" >
                            <div class="col-md-12 col-sm-12  control-label mSans300  textLeft paddTop4 forgotAlign" style="padding-left:0;margin-bottom: 10px;">
                                <a ng-click="open('sm')" class="font14 mSans300 blueText"  style="font-size:14px;">Forgot Transaction PIN
                                </a></div>
                        </div>

                        <!--<div ng-show="showReset" class="form-group colpadd">-->
                            <!--<div class="col-md-12 col-sm-12 noPadd">-->
                                <!--<div class="col-md-12 col-sm-12 col-xs-12 dashedBorder"> </div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group" ng-class="{'has-error':setTPin_form.newTPIN.errorStr}" notranslate>
                            <label for="newTPIN" class="max-f-8 control-label">{{(showReset)?newTranscationPinLabel:transcationPinLabel}}</label>
                            <div class="max-f-4 creditCardInputs">
                                <input type="tel" class="form-control mSans300 font16 secureInput" placeholder="****" name="newTPIN" ng-model="newTPIN"  maxlength="4" required ng-pattern="/^[0-9]{4}$/" pattern="[0-9]*" style="text-align: center;"/>
                                <!--<t-pin ng-model='newTPIN'></t-pin>-->

                            </div>
                            <div class="max-f-10">
                                <span class="help-block" ng-show="setTPin_form.newTPIN.errorStr">{{setTPin_form.newTPIN.errorStr}}</span>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px;">
                        </div>
                        <div class="form-group" ng-class="{'has-error':setTPin_form.confirmTPIN.errorStr}">
                            <label for="confirmTPIN" class="max-f-8 control-label">Confirm Transaction PIN</label>
                            <div class="max-f-4 creditCardInputs" notranslate>
                                <input type="tel" class="form-control mSans300 font16 secureInput" placeholder="****" name="confirmTPIN" ng-model="confirmTPIN"  maxlength="4" required ng-pattern="/^[0-9]{4}$/" pattern="[0-9]*" confirm="newTPIN"  gslabel="Confirm Transaction PIN" style="text-align: center;"/>
                                <!--<t-pin ng-model='confirmTPIN'></t-pin>-->
                            </div>

                            <div class="max-f-10">
                                <span class="help-block" ng-show="setTPin_form.confirmTPIN.errorStr" notranslate>{{setTPin_form.confirmTPIN.errorStr}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 creditCardPadding col-md-offset-4 col-sm-offset-4">
                                    <button type="submit" class="btn btn-default ng-binding pinField smallButton" ng-click="showReset?changeTPin():setTPin()">Save</button>
                                    <button type="button" style="float:right;margin-top: 22px;" class="btn btn-cancel ng-binding smallButton" ng-click="cancel()" >Cancel</button>
                                </div>
                            </div>

                    </form>
                </div>
            <div class="clearfix"></div>
        </div>
    </div>
            </div>
        </div>
    </div>