    <!--LeftNavigation-->
   <!--    <div ng-include src="'html/templates/desktopLeftNav.html'"></div>   -->

   <!--MainContainer-->
     <div class="col-md-9 col-sm-9 col-xs-12 mainContainerPadding paymentHist pull-right" ng-controller="usageController" >            
     <div class="mainContainerRowSm">
       <div class="maxWidth">   
          <div class=" col-md-12 col-sm-12 col-xs-12">       
             <h1 class="mSans700 font20 pageHeadingText"> My plans </h1>
             <div ng-controller="TabsDemoCtrl">    
              <tabset>
                <tab heading="All"> 
                 <div class="maxWidth">
                  <div class="allEmail"> 
                     <div class="relative" style="position:relative">
                        <div class=" col-md-5 col-sm-5 col-xs-12 usageSelector">
                             tab1
                             <ul>
                               <li class="selected bubble">
                                    <p class="mSans300 font12">17 December 2013</p>
                                    <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                                    <p class="mSans300 font14">Sim Name1</p>                 
                               </li>
                               <li>
                                    <p class="mSans300 font12">5 July 2013</p>
                                    <p class="mSans500 font16">Aircel India Plan, 300 MB</p>
                                    <p class="mSans300 font14">Sim Name2</p>                             
                               </li>
                               <li>
                                    <p class="mSans300 font12">1 July 2013</p>
                                    <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                                    <p class="mSans300 font14">Sim Name3</p>
                               </li>
                               <li>
                                    <p class="mSans300 font12">5 July 2013</p>
                                    <p class="mSans500 font16">Aircel India Plan, 300 MB</p>
                                    <p class="mSans300 font14">Sim Name4</p>                             
                               </li>
                               <li>
                                    <p class="mSans300 font12">1 July 2013</p>
                                    <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                                    <p class="mSans300 font14">Sim Name4</p>
                               </li>                          
                             </ul>
                        </div> 
                        <div class=" col-md-7 col-sm-7 col-xs-12 simPadd">
                          <div class="simDetails">
                            <table class="table">
                                  <tbody>
                                    <tr>
                                      <td class="labelDiv">Status</td>
                                      <td class="labelDiv2">In Use</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Balance</td>
                                      <td class="labelDiv2">65MB</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Data Plan</td>
                                      <td class="labelDiv2">Italy Country Plan 175 MB</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Location</td>
                                      <td class="labelDiv2">Italy</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Network</td>
                                      <td class="labelDiv2">2 Carriers</td>
                                    </tr>                                                                                 
                                  </tbody>
                                </table>
        
                            <table class="table">
                                  <tbody>
                                    <tr>
                                      <td class="labelDiv">Duration</td>
                                      <td class="labelDiv2">30 Days</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Start time</td>
                                      <td class="labelDiv2">17 December 2013</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">End time</td>
                                      <td class="labelDiv2">-</td>
                                    </tr>                                                                                         
                                  </tbody>
                                </table>
        
                          </div>
                          <div class="placeholder">
                             <img ng-src="{{lazyLoadURL}}styles/images/common/graphPlaceholder2.png" style="width: 100%;">
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="clearfix"></div>
                      </div>
                      </div> 
                  </tab>
                <tab heading="Active"> 
                 <div class="maxWidth">
                  <div class="allEmail"> 
                     <div class="relative" style="position:relative">
                        <div class=" col-md-5 col-sm-5 col-xs-12 usageSelector ">
                        tab2
                             <ul>
                               <li class="selected bubble">
                                    <p class="mSans300 font12">17 December 2013</p>
                                    <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                                    <p class="mSans300 font14">Sim Name1</p>                 
                               </li>
                               <li>
                                    <p class="mSans300 font12">5 July 2013</p>
                                    <p class="mSans500 font16">Aircel India Plan, 300 MB</p>
                                    <p class="mSans300 font14">Sim Name2</p>                             
                               </li>
                               <li>
                                    <p class="mSans300 font12">1 July 2013</p>
                                    <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                                    <p class="mSans300 font14">Sim Name3</p>
                               </li>
                               <li>
                                    <p class="mSans300 font12">5 July 2013</p>
                                    <p class="mSans500 font16">Aircel India Plan, 300 MB</p>
                                    <p class="mSans300 font14">Sim Name4</p>                             
                               </li>
                               <li>
                                    <p class="mSans300 font12">1 July 2013</p>
                                    <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                                    <p class="mSans300 font14">Sim Name4</p>
                               </li>                          
                             </ul>
                        </div> 
                        <div class=" col-md-7 col-sm-7 col-xs-12 simPadd">
                          <div class="simDetails">
                            <table class="table">
                                  <tbody>
                                    <tr>
                                      <td class="labelDiv">Status</td>
                                      <td class="labelDiv2">In Use</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Balance</td>
                                      <td class="labelDiv2">65MB</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Data Plan</td>
                                      <td class="labelDiv2">Italy Country Plan 175 MB</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Location</td>
                                      <td class="labelDiv2">Italy</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Network</td>
                                      <td class="labelDiv2">2 Carriers</td>
                                    </tr>                                                                                 
                                  </tbody>
                                </table>
        
                            <table class="table">
                                  <tbody>
                                    <tr>
                                      <td class="labelDiv">Duration</td>
                                      <td class="labelDiv2">30 Days</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Start time</td>
                                      <td class="labelDiv2">17 December 2013</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">End time</td>
                                      <td class="labelDiv2">-</td>
                                    </tr>                                                                                         
                                  </tbody>
                                </table>
        
                          </div>
                          <div class="placeholder">
                             <img ng-src="{{lazyLoadURL}}styles/images/common/graphPlaceholder2.png" style="width: 100%;">
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="clearfix"></div>
                      </div>
                      </div> 
                   </tab>
                <tab heading="Expired">
                 <div class="maxWidth">
                  <div class=" allEmail"> 
                     <div class="relative" style="position:relative">
                        <div class=" col-md-5 col-sm-5 col-xs-12 usageSelector ">
                        tab3
                             <ul>
                               <li class="selected bubble">
                                    <p class="mSans300 font12">17 December 2013</p>
                                    <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                                    <p class="mSans300 font14">Sim Name1</p>                 
                               </li>
                               <li>
                                    <p class="mSans300 font12">5 July 2013</p>
                                    <p class="mSans500 font16">Aircel India Plan, 300 MB</p>
                                    <p class="mSans300 font14">Sim Name2</p>                             
                               </li>
                               <li>
                                    <p class="mSans300 font12">1 July 2013</p>
                                    <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                                    <p class="mSans300 font14">Sim Name3</p>
                               </li>
                               <li>
                                    <p class="mSans300 font12">5 July 2013</p>
                                    <p class="mSans500 font16">Aircel India Plan, 300 MB</p>
                                    <p class="mSans300 font14">Sim Name4</p>                             
                               </li>
                               <li>
                                    <p class="mSans300 font12">1 July 2013</p>
                                    <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                                    <p class="mSans300 font14">Sim Name4</p>
                               </li>                          
                             </ul>
                        </div> 
                        <div class=" col-md-7 col-sm-7 col-xs-12 simPadd">
                          <div class="simDetails">
                            <table class="table">
                                  <tbody>
                                    <tr>
                                      <td class="labelDiv">Status</td>
                                      <td class="labelDiv2">In Use</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Balance</td>
                                      <td class="labelDiv2">65MB</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Data Plan</td>
                                      <td class="labelDiv2">Italy Country Plan 175 MB</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Location</td>
                                      <td class="labelDiv2">Italy</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Network</td>
                                      <td class="labelDiv2">2 Carriers</td>
                                    </tr>                                                                                 
                                  </tbody>
                                </table>
        
                            <table class="table">
                                  <tbody>
                                    <tr>
                                      <td class="labelDiv">Duration</td>
                                      <td class="labelDiv2">30 Days</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">Start time</td>
                                      <td class="labelDiv2">17 December 2013</td>
                                    </tr>
                                    <tr>
                                      <td class="labelDiv">End time</td>
                                      <td class="labelDiv2">-</td>
                                    </tr>                                                                                         
                                  </tbody>
                                </table>
        
                          </div>
                          <div class="placeholder">
                             <img ng-src="{{lazyLoadURL}}styles/images/common/graphPlaceholder2.png" style="width: 100%;">
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="clearfix"></div>
                      </div>
                      </div> 
                   </tab>	
              </tabset>    
            </div>
          </div>            <div class="clearfix"></div>
       </div>
                 <div class="clearfix"></div>
     </div>   
        
        
        
        
        
        
        <!--<div class="mainContainerRowSm" style="display:none"> 
         <div class="maxWidth">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 allEmail"> 
             <div class="relative" style="position:relative">
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 usageSelector ">
                     <ul>
                       <li class="selected bubble">
                            <p class="mSans300 font12">17 December 2013</p>
                            <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                            <p class="mSans300 font14">Sim Name1</p>                 
                       </li>
                       <li>
                            <p class="mSans300 font12">5 July 2013</p>
                            <p class="mSans500 font16">Aircel India Plan, 300 MB</p>
                            <p class="mSans300 font14">Sim Name2</p>                             
                       </li>
                       <li>
                            <p class="mSans300 font12">1 July 2013</p>
                            <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                            <p class="mSans300 font14">Sim Name3</p>
                       </li>
                       <li>
                            <p class="mSans300 font12">5 July 2013</p>
                            <p class="mSans500 font16">Aircel India Plan, 300 MB</p>
                            <p class="mSans300 font14">Sim Name4</p>                             
                       </li>
                       <li>
                            <p class="mSans300 font12">1 July 2013</p>
                            <p class="mSans500 font16">Italy Country Plan, 175 MB</p>
                            <p class="mSans300 font14">Sim Name4</p>
                       </li>                          
                     </ul>
                </div> 
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 simPadd">
                  <div class="simDetails">
                    <table class="table">
                          <tbody>
                            <tr>
                              <td class="labelDiv">{{'lt_status'|translate}}</td>
                              <td class="labelDiv2">In Use</td>
                            </tr>
                            <tr>
                              <td class="labelDiv">{{'lt_balance'|translate}}Balance</td>
                              <td class="labelDiv2">65MB</td>
                            </tr>
                            <tr>
                              <td class="labelDiv">{{'lt_dataPlan'|translate}}</td>
                              <td class="labelDiv2">Italy Country Plan 175 MB</td>
                            </tr>
                            <tr>
                              <td class="labelDiv">{{'lt_location'|translate}}</td>
                              <td class="labelDiv2">Italy</td>
                            </tr>
                            <tr>
                              <td class="labelDiv">{{'lt_network'|translate}}</td>
                              <td class="labelDiv2">2 Carriers</td>
                            </tr>                                                                                 
                          </tbody>
                        </table>

                    <table class="table">
                          <tbody>
                            <tr>
                              <td class="labelDiv">{{'lt_duration'|translate}}</td>
                              <td class="labelDiv2">30 Days</td>
                            </tr>
                            <tr>
                              <td class="labelDiv">{{'lt_sTime'|translate}}</td>
                              <td class="labelDiv2">17 December 2013</td>
                            </tr>
                            <tr>
                              <td class="labelDiv">{{'lt_eTime'|translate}}</td>
                              <td class="labelDiv2">-</td>
                            </tr>                                                                                         
                          </tbody>
                        </table>

                  </div>
                  <div class="placeholder">
                     <img src="{{lazyLoadURL}}styles/images/common/graphPlaceholder2.png" style="width: 100%;">
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
              </div>
              </div> 
           </div>-->
         </div>
