<div class="col-md-12 col-sm-12 col-xs-12  viewContainer" ng-controller="confirmationCtrl">
    <div class="viewRowContainer personalDetails">
        <div my-loading-spinner="viewLoading"></div>
        <div class="max-f maxWidth">
            <view-title view-name="title" disable-back="true" on-back="" back-url=""></view-title>
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 col-xs-12 titleSubText">
                <span class="titleSubText"
                      ng-show="titleSubText" notranslate>{{titleSubText}} </span>
                <span id="actionreqmesssage" class="messageText"></span>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
                <span class="messageText"
                      ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
                <span class="errorMessage"
                      ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
            </div>
            <div ng-show="!viewLoading">
                <form ng-show="showPwdRestForm" class="form-horizontal" role="form" name="changePwdForm" novalidate gs-form-validation ng-keyup="confirmPwdReset($event)">
                    <div class="form-group" ng-class="{'has-error':changePwdForm.newpassword1.errorStr}" >
                        <label for="newpassword1" class=" col-md-4 col-sm-4 control-label">New Password</label>
                        <div class=" col-md-8 col-sm-8 col-xs-12">
                            <input validatePwd="pwdReset" type="password" autocomplete="off" class="form-control mSans300 font16" name="newpassword1" ng-model="newPassword" required ng-minlength="8" minlengtherror="{{minimumLengthPwdError}}" ng-focus="passwordPolicyMsg()" ng-blur="isDisplay=false">
                            <span class="passwordMsgColor" ng-show="isDisplay && !changePwdForm.newpassword1.errorStr" notranslate> {{passwordMsg}}</span>
                            <span class="help-block" ng-show="changePwdForm.newpassword1.errorStr" notranslate> {{changePwdForm.newpassword1.errorStr}}</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error':changePwdForm.confirmpassword1.errorStr}" >
                        <label for="confirmpassword1" class=" col-md-4 col-sm-4 control-label">Confirm New Password</label>
                        <div class=" col-md-8 col-sm-8 col-xs-12">
                            <input type="password" autocomplete="off" class="form-control mSans300 font16" name="confirmpassword1" ng-model="confirmPassword" ng-minlength="8" minlengtherror="{{minimumLengthPwdError}}" required confirm="newpassword1">
                            <span class="help-block" ng-show="changePwdForm.confirmpassword1.errorStr" notranslate> {{changePwdForm.confirmpassword1.errorStr}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class=" col-md-6 col-sm-6 col-xs-12 pull-right">
                            <div class="btnWrapper">
                                <button type="submit" class="btn btn-default" ng-mousedown="confirmPwdReset()">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>