    <!--MainContainer-->
    <div class="content-1 mainWrapper viewContainer">
        <div class="viewRowContainer">
            <div my-loading-spinner="viewLoading" ></div>
            <div class="max-f maxWidth">
                <view-title view-name="'Welcome to GigSky!'" disable-back="true" on-back="" back-url=""></view-title>

            <div ng-show="!viewLoading" style="padding-top: 20px;">
            <div class=" col-md-12 col-sm-12 col-xs-12 formSubmitStatus" notranslate>
                <span class="messageText"
                ng-show="formSubmitResponseMsg">{{formSubmitResponseMsg}} </span>
            <span class="errorMessage"
                  ng-show="formSubmitErrorStr">{{formSubmitErrorStr}} </span>
            </div>
                <form class="form-horizontal" name="welcome_form" role="form" novalidate gs-form-validation>
                    <div class="form-group">
                    <div class=" col-md-6 col-sm-6 col-xs-12 pull-right">
                        <div class="btnWrapper tweetButton">
                            <button type="submit" class="btn btn-default pull-right" ng-click="openGSView('activesimfromdashboard')">Activate Your SIM</button>
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <div class=" col-md-6 col-sm-6 col-xs-12 pull-right ">
                            <div class="btnWrapper tweetButton">
                                <button type="submit" class="btn btn-default pull-right" ng-click="openShopSIM('/shop')">Buy SIM</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
       </div>
        </div>
    </div>

