 <div class="leftNavigationWrapper leftNavigationWrapperHide pull-left" ng-class="showOnlyHeader ? 'notLoggedInClass' : 'loggedInClass'" ng-controller="desktopMenuCtrl">
         <div class=" col-md-12 col-sm-12 col-xs-12 leftNavigation" style="padding-top: 10px;">
          <div class="leftNavList">
              <div class="leftNavHeading" style="padding-bottom: 6px;padding-left: 0px;" ng-if="!simAvailable" ng-click="openGSView('/welcome')" ><a class="mSans300 font14" href="#/welcome" test-arg="active-sim-title"> No SIM available</a></div>

              <ul class="nav simNav">
                <li class="selected" ng-if="simAvailable" style="cursor:pointer;">
                  <p class="mSans500 font16" style="line-height: 28px;" ng-click="onChangeSIM(activeSIM)" test-arg="active-sim-title"  notranslate>{{activeSIM.description}}</p>

               </li>
            </ul>
          </div>

            <div class="leftNavList">

              <ul class="nav manageNav">
                  <!--<li ng-click="$location.path('/buy-plan1')">-->
                      <!--<div class="listOuterWrapper" test-arg="d_add_data_plan">-->
                          <!--<div class="listInnerWraper">-->
                             <!--<div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/menuPlusIcon.png" class="menuIcon"></div>-->
                             <!--<span class="mainOption"><a ng-class="{ leftnavLink: isActive('/buy-plan1') || isActive('/buy-plan2') || isActive('/buy-plan3')}" href="#/buy-plan1" class="">Add data plan</a></span>-->
                          <!--</div>-->
                      <!--</div>-->
                  <!--</li>-->
                  <!--<li>-->
                      <!--<div class="listOuterWrapper" ng-click="isCollapsed2 = !isCollapsed2" test-arg="d_SIMs">-->
                          <!--<div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/mySimSmIcon.png" class="menuIcon"/></div>-->
                          <!--<span class="mainOption">SIMs</span>-->
                      <!--</div>-->

                      <!--<div class="listInnerWraper">-->
                          <!--<div collapse="!isCollapsed2">-->
                              <!--<ul class="paymentNav mSans300 font15">-->
                                  <!--<li ><a ng-class="{ leftnavLink: isActive('/my-sims')}" href="#/my-sims"  class="subMenuOptions" test-arg="d_My_SIMs">My SIMs</a></li>-->
                                  <!--<li ><a ng-class="{ leftnavLink: isActive('/activesim')}" href="#/activesim"  class="subMenuOptions" test-arg="d_Activate_new_SIM_card">Activate new SIM card</a></li>-->
                                  <!--<li ><a ng-class="{ leftnavLink: isActive('/shop')}" ng-click="openShopSIM('/shop')" href=""  class="subMenuOptions" test-arg="d_Buy_SIM">Buy SIM</a></li>-->
                              <!--</ul>-->
                          <!--</div>-->
                      <!--</div>-->
                  <!--</li>-->
                 <li >
                  <div class="listOuterWrapper" ng-click="isCollapsed3 = !isCollapsed3" test-arg="d_Payment">
                    <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/paymentSmIcon.png" class="menuIcon"/></div>
                    <span class="mainOption">Payment</span>
                   </div>
                   <div class="listInnerWraper">
                   <div collapse="!isCollapsed3">
                       <ul class="paymentNav mSans300 font15 darkGrayText1">
                         <li><a ng-class="{ leftnavLink: isActive('/paymentMethod') || isActive('/addCC')}" href="#/paymentMethod" class="subMenuOptions" test-arg="d_Payment_Methods">Payment Methods</a></li>
                           <li ><a ng-class="{ leftnavLink: isActive('/creditBalance')}" href="#/creditBalance"  class="subMenuOptions" test-arg="d_GigSky_Credit">GigSky Credit</a></li>
                           <li ><a ng-class="{ leftnavLink: isActive('/paymentHistory')}" href="#/paymentHistory"  class="subMenuOptions" test-arg="d_Purchase_History">Transaction History</a></li>
                       </ul>
                      </div>
                    </div>
                 </li>
                 <li>
                    <div class="listOuterWrapper" ng-click="isCollapsed4 = !isCollapsed4" test-arg="d_Account">
                      <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/accountSmIcon.png" class="menuIcon"/></div>
                      <span class="mainOption">Account</span>
                    </div>

                    <div class="listInnerWraper">
                       <div collapse="!isCollapsed4">
                       <ul class="paymentNav mSans300 font15">
                           <li ><a ng-class="{ leftnavLink: isActive('/editProfile')}" href="#/editProfile"  class="subMenuOptions" test-arg="d_Edit_Profile_Details">Edit Profile Details</a></li>
                           <li ><a ng-class="{ leftnavLink: isActive('/changePassword')}" href="#/changePassword"  class="subMenuOptions" test-arg="d_Change_Password">Change Password</a></li>
                           <li ><a ng-class="{ leftnavLink: isActive('/changeEmail')}" href="#/changeEmail"  class="subMenuOptions" test-arg="d_Change_Email">Change Email</a></li>
                           <li ><a ng-class="{ leftnavLink: isActive('/cancel-service')}" href="#/cancel-service"  class="subMenuOptions" test-arg="d_Cancel_Service">Cancel Service</a></li>
                       </ul>
                      </div>
                    </div>
                 </li>
                  <li ng-click="$location.path('/referFriend')" ng-show="isReferralEnabled" class="referralIcon">
                      <div class="listOuterWrapper">
                          <div class="listInnerWraper">
                              <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_referral_grey_@2x.png" class="menuIcon" /></div>
                              <span class="mainOption" style="padding-left: 34px; line-height: 20px;display:block;padding-top:4px;padding-bottom:4px;"><a ng-class="{ leftnavLink: isActive('/referFriend')}" href="#/referFriend" class=""> Refer a friend</a></span>
                          </div>
                      </div>
                  </li>
                  <li ng-click="$location.path('/support')">
                      <div class="listOuterWrapper" test-arg="d_Support">
                          <div class="listInnerWraper">
                          <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_help.png" class="menuIcon"/></div>
                          <span class="mainOption"><a ng-class="{ leftnavLink: isActive('/support')}" href="#/support" class=""> Support</a></span>
                          </div>
                      </div>
                  </li>
                  <li ng-click="$location.path('/about')">
                      <div class="listOuterWrapper" test-arg="d_About">
                          <div class="listInnerWraper">
                              <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_info_grey.png" class="menuIcon"/></div>
                              <span class="mainOption"><a ng-class="{ leftnavLink: isActive('/about')}" href="#/about" class=""> About</a></span>
                          </div>
                      </div>
                  </li>
              </ul>
            </div>
        </div>
   </div>