<!-- footer -->
<footer role="gs-main" id="section-footer" class="section section-footer" ng-hide="linkingToConcur">
	<div class="feature">
		<div class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="legal">
						<!--<a href="//support.gigsky.com" class="light fontRender" ng-hide="isCaptive">Support</a>-->
						<a href="faq.html{{getSessionInfo()}}" class="dark" >Support</a>

                       <!-- <a href="/terms-of-use" ng-hide="isCaptive" class="dark">Terms of Use</a>
						<a href="/privacy-policy" class="dark" ng-hide="isCaptive">Privacy Policy</a>-->

                        <a href="terms-of-use.html{{getSessionInfo()}}" class="dark">Terms of Use</a>
                        <a href="privacy-policy.html{{getSessionInfo()}}" class="dark">Privacy Policy</a>


						<span class="copy-text" style="opacity: 1;color: rgba(255, 255, 255, 0.7);">&copy; {{getCurrentYearForCopyright()}} GigSky, Inc.</span>
                    </div>
		    	</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->
