<div class="header onlyHeader" ng-controller="topHeaderController">
	<div class="container">
	    <div style="margin:auto 0">
	        <div role="navigation" ng-class="showOnlyHeader ? 'notLoggedInClass' : 'loggedInClass'">
				<div ng-hide="forcePasswordChange || showOnlyHeader">
					<button type="button" class="navbar-toggle mobilemenu"  ng-hide="linkingToConcur" style="text-decoration: none;color: #fff;opacity: 0.85;">
						<i class="fa fa-bars fa-lg"></i>
					</button>
				</div>

	            <!--<div class="">-->
	                <!--<div class="gsLogoDiv">-->
	                    <!--<div class="gslogo">-->
	                        <!--<a href="../index.jsp"><img src="{{lazyLoadURL}}styles/images/common/gigskyLogo.png"-->
	                                                    <!--style="display:inline-block;" class="img-responsive"></a>-->
	                    <!--</div>-->
	                <!--</div>-->
	            <!--</div>-->

	            <div class="main-logo">
	                <span  style="display: block;" class="default_gs_logo"><img class="nav-logo" ng-src="{{lazyLoadURL}}styles/images/common/gigsky_logo_white_notag.png"
	                style="display:inline-block;" class="img-responsive"></span>
	            </div>

	            <div class="noMoblie" ng-show="hasStorage && !linkingToConcur">
	                <div ng-controller="userInfoController">
	                    <div class="pull-right headerLinks" >
							<div class="header-links" ng-show="showOnlyHeader">

								<!--<a ng-click="navigateToUrl(config.gsGigSkySIMURL)" class="light fontRender" ng-hide="isCaptive">GigSky Data SIM</a>-->
								<!--<a ng-click="navigateToUrl(config.gsAppleSIMURL)" class="light fontRender" ng-hide="isCaptive">Gigsky Apple SIM</a>-->
								<!--<a href="#/login" class="light fontRender" data-account-btn-link>My-->
									<!--Account</a>-->

							</div>

	                        <ul ng-show="!showOnlyHeader && !showOnlyLogout">
	                            <li class="otherDesigns" notranslate>
									<a href="#/editProfile" class="fontRender" style="white-space: nowrap;"> {{welcomeName}}</a></li>
	                            <li class="tabletPortrait" notranslate>
									<a href="#/editProfile" class="fontRender" style="white-space: nowrap;"> {{welcomeNameShort}}</a></li>
	                            <li ng-hide="forcePasswordChange">
									<span><img ng-src='{{lazyLoadURL}}styles/images/common/dividerSmIcon.png'></span>
								</li>
	                            <li ng-hide="forcePasswordChange">
									<a class="fontRender" ng-click="logout()" style="white-space: nowrap;">Log out</a>
								</li>

	                        </ul>

							<ul ng-show="showOnlyLogout">
								<li class="otherDesigns" notranslate>
									<a class="fontRender" style="white-space: nowrap;cursor: default;"> {{welcomeName}}</a></li>
								<li class="tabletPortrait" notranslate>
									<a class="fontRender" style="white-space: nowrap;cursor: default;"> {{welcomeNameShort}}</a></li>
								<!--<li>-->
									<!--<span><img ng-src='{{lazyLoadURL}}styles/images/common/dividerSmIcon.png'></span>-->
								<!--</li>-->
								<!--<li>-->
									<!--<a ng-click="logout()" style="white-space: nowrap;">Log out</a>-->
								<!--</li>-->

							</ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!--  </div> -->
	</div>
</div>
<div class="nav-bar-bg"></div>
