<div class="col-md-6 col-sm-12 col-xs-12 leftNavigationWrapperCustom  pull-left" id="mobileMenu"
     ng-controller="mobileMenuCtrl">
    <!--<div class="col-lg-12 col-md-12 col-sm-12 leftNavigation" ng-show="showOnlyHeader">-->

        <!--<div class="leftNavList" style="font-size: 14px;">-->
            <!--<ul class="nav manageNav">-->
                <!--<li  ng-click="closeMenu();navigateToUrl(config.gsGigSkySIMURL)" ng-hide="isCaptive">-->
                    <!--<div class="listOuterWrapper ">-->
                        <!--<a class="mSans300 menuLinkStyle" style="padding-left:0" href="{{config.gsGigSkySIMURL}}">GigSky Data SIM</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li  ng-click="closeMenu();navigateToUrl(config.gsAppleSIMURL)" ng-hide="isCaptive">-->
                    <!--<div class="listOuterWrapper ">-->
                        <!--<a class="mSans300 menuLinkStyle" style="padding-left:0" href="{{config.gsAppleSIMURL}}">GigSky Apple SIM</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li ng-click="closeMenu();$location.path('/login')">-->
                    <!--<div class="listOuterWrapper ">-->
                        <!--<a class="mSans300 menuLinkStyle" style="padding-left:0" href="#/login">My Account</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-lg-12 col-md-12 col-sm-12 leftNavigation" ng-show="!showOnlyHeader && !showOnlyLogout">
        <div ng-controller="userInfoController">
            <div class="leftNavList">
                <ul class="nav manageNav">
                    <li  ng-click="closeMenu();$location.path('/editProfile')">
                        <div class="listOuterWrapper">
                            <span class="mSans300 menuItem" style="padding-left:0" notranslate> {{welcomeName}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
        <div class="leftNavList mobilenavlist">
            <div class="leftNavHeading" ng-hide="simAvailable" ng-click="openGSView('/welcome')"><a class="mSans300 font14" ng-click="closeMenu();$location.path('/welcome')"> No SIM available</a></div>
            <ul class="manageNav" style="color: #fff;">
                <li class="selected" ng-if="simAvailable" style="cursor:pointer;">
                    <div class="listOuterWrapper">
                        <div class="listInnerWraper">
                            <p class="mSans300" style="font-size: 15px;" ng-click="closeMenu();onChangeSIM(activeSIM);" notranslate>{{activeSIM.description}}</p>
                        </div>
                        </div>
                    </li>

                </ul>
            </div>

        <div class="leftNavList">
            <ul class="nav manageNav">
                <!--<li ng-click="closeMenu();$location.path('/buy-plan1')">-->
                    <!--<div class="listOuterWrapper">-->
                        <!--<div class="listInnerWraper">-->
                            <!--<div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_addplan.png" class="menuIcon"></div>-->
                            <!--<span class="mainOption"><a ng-class="{ leftnavLink: isActive('/buy-plan1') || isActive('/buy-plan2') || isActive('/buy-plan3')}" href="#/buy-plan1" class="">Add data plan</a></span>-->

                                <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="listOuterWrapper" ng-click="isCollapsed2 = !isCollapsed2">-->
                        <!--<div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_my_sims.png" class="menuIcon"/></div>-->
                        <!--<span class="mSans300 menuItem">SIMs</span>-->
                    <!--</div>-->
                    <!--<div class="listInnerWraper mobileSubMenu">-->
                        <!--<div collapse="!isCollapsed2">-->
                            <!--<ul class="paymentNav mSans30 font14" >-->
                                <!--<li ng-click="closeMenu();$location.path('/my-sims')"><a ng-class="{ leftnavLink: isActive('/my-sims')}" href="#/my-sims" class="" >My SIMs</a></li>-->
                                <!--<li ng-click="closeMenu();$location.path('/activesim')"><a ng-class="{ leftnavLink: isActive('/activesim')}" href="#/activesim" class="" >Activate new SIM card</a></li>-->
                                <!--<li ng-click="closeMenu();openShopSIM('/shop');"><a ng-class="{ leftnavLink: isActive('/shop')}" ng-click="openShopSIM('/shop');" href="" class="" >Buy SIM</a></li>-->

                            <!--</ul>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <li>
                    <div class="listOuterWrapper" ng-click="isCollapsed3 = !isCollapsed3">
                        <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_payments.png" class="menuIcon"/></div>
                        <span class="mSans300 menuItem">Payment</span>
                    </div>
                    <div class="listInnerWraper mobileSubMenu">
                        <div collapse="!isCollapsed3">
                            <ul class="paymentNav mSans30 font14" >
                                <li ng-click="closeMenu();$location.path('/paymentMethod')"><a ng-class="{ leftnavLink: isActive('/paymentMethod') || isActive('/addCC')}" href="#/paymentMethod"
                                       class="" >Payment Methods</a></li>
                                <li ng-click="closeMenu();$location.path('/creditBalance')"><a ng-class="{ leftnavLink: isActive('/creditBalance')}" href="#/creditBalance"
                                       class="" >GigSky Credit</a></li>
                                <li ng-click="closeMenu();$location.path('/paymentHistory')"><a ng-class="{ leftnavLink: isActive('/paymentHistory')}" href="#/paymentHistory"
                                       class="" >Transaction History</a></li>
                            </ul>
                            </div>
                        </div>
                    </li>
                <li>
                    <div class="listOuterWrapper" ng-click="isCollapsed4 = !isCollapsed4">
                        <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_accounts.png" class="menuIcon"/></div>
                        <span class="mSans300 menuItem">Account</span>
                    </div>
                    <div class="listInnerWraper mobileSubMenu">
                        <div collapse="!isCollapsed4">
                            <ul class="paymentNav mSans30 font14" >
                                <li ng-click="closeMenu();$location.path('/editProfile')"><a ng-class="{ leftnavLink: isActive('/editprofile')}" href="#/editProfile"
                                                                                             class="" >Edit Profile Details</a></li>
                                <li ng-click="closeMenu();$location.path('/changePassword')"><a ng-class="{ leftnavLink: isActive('/changePassword')}" href="#/changePassword"
                                                                                                class="" >Change Password</a></li>
                                <li ng-click="closeMenu();$location.path('/changeEmail')"><a ng-class="{ leftnavLink: isActive('/changeEmail')}" href="#/changeEmail"
                                       class="" >Change Email</a></li>
                                <li ng-click="closeMenu();$location.path('/cancel-service')"><a ng-class="{ leftnavLink: isActive('/cancel-service')}" href="#/cancel-service"
                                                                                             class="" >Cancel Service</a></li>
                            </ul>

                            </div>
                        </div>
                    </li>
                <li ng-click="closeMenu();$location.path('/referFriend')" ng-show="isReferralEnabled" >
                    <div class="listOuterWrapper">
                        <div class="listInnerWraper">
                            <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_referral_@2x.png" class="menuIcon"/></div>
                            <span class="mSans300 menuItem"><a ng-class="{ leftnavLink: isActive('/referFriend')}" href="#/referFriend"
                                                               class="" ng-click="closeMenu()"> Refer a friend</a></span>
                        </div>
                    </div>
                </li>
                <li ng-click="closeMenu();$location.path('/support')">
                    <div class="listOuterWrapper">
                        <div class="listInnerWraper">
                            <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_help_mob.png" class="menuIcon"/></div>
                            <span class="mSans300 menuItem"><a ng-class="{ leftnavLink: isActive('/support')}" href="#/support"
                                                               class="" ng-click="closeMenu()"> Support</a></span>
                        </div>
                    </div>
                </li>
                <li ng-click="closeMenu();$location.path('/about')">
                    <div class="listOuterWrapper">
                        <div class="listInnerWraper">
                            <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_info_mob.png" class="menuIcon"/></div>
                        <span class="mSans300 menuItem"><a ng-class="{ leftnavLink: isActive('/about')}" href="#/about"
                                                           class="" ng-click="closeMenu()"> About</a></span>
                        </div>
                    </div>
                </li>
                <li ng-controller="userInfoController" ng-click="closeMenu();logout()">
                    <div class="listOuterWrapper">
                        <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_logout.png" class="menuIcon"/></div>
                        <span class="mSans300 menuItem"> Log out</span>
                    </div>
                </li>
            </ul>

            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 leftNavigation" ng-show="showOnlyLogout">
        <div class="leftNavList">
            <ul class="nav manageNav">
                <li ng-controller="userInfoController" ng-click="closeMenu();logout()">
                    <div class="listOuterWrapper">
                        <div class="imgDiv"><img ng-src="{{lazyLoadURL}}styles/images/common/ic_logout.png" class="menuIcon"/></div>
                        <span class="mSans300 menuItem"> Log out</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>


