/*START: gigsky/mobile/mobile-responsive*/
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*START: variables*/
/*END: variables*/
/*START: mobile/common/typography*/
.mobile-ui {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);
}
.mobile-ui a:active {
    color: #009ce0;
}
/*END: mobile/common/typography*/
/*START: gigsky/mobile/common/layout*/
.mobile-ui {
    /* columns
      ----------------------------*/
    /* Content w/ Sidebar Layout
      ----------------------------*/
}
.mobile-ui .page-wrapper,
.mobile-ui .content {
    min-width: 0;
}
.mobile-ui .two-columns .col {
    display: block;
    width: 100%;
}
.mobile-ui .two-columns .col:first-child {
    margin-bottom: 25px;
}
.mobile-ui .two-columns .col-text {
    width: 100%;
    text-align: center;
}
.mobile-ui .two-columns .col-text .inner {
    padding: 0;
}
.mobile-ui .two-columns .col-image:not(.mobile-image) {
    position: absolute;
    left: -9999px;
    text-align: center;
}
.mobile-ui .three-columns {
    width: 100%;
}
.mobile-ui .three-columns.gutter .col,
.mobile-ui .three-columns .col {
    float: left;
    margin-right: 0;
    width: 100%;
    margin-bottom: 25px;
}
.mobile-ui .section-address .two-columns .col-text {
    text-align: left;
}
.mobile-ui .secondary-nav a {
    font-size: 11px;
}
.mobile-ui .secondary .section-spacer.has-image {
    border: none;
}
.mobile-ui .secondary .section-spacer.has-image img {
    display: inline;
    width: 100%;
}
.mobile-ui .content-with-r-sb {
    width: 100%;
}
.mobile-ui .content-with-r-sb:before,
.mobile-ui .content-with-r-sb:after {
    display: table;
    content: " ";
}
.mobile-ui .content-with-r-sb:after {
    clear: both;
}
.mobile-ui .content-with-r-sb .content-area,
.mobile-ui .content-with-r-sb .r-sidebar {
    float: none;
}
.mobile-ui .content-with-r-sb .content-area:before,
.mobile-ui .content-with-r-sb .r-sidebar:before,
.mobile-ui .content-with-r-sb .content-area:after,
.mobile-ui .content-with-r-sb .r-sidebar:after {
    display: table;
    content: " ";
}
.mobile-ui .content-with-r-sb .content-area:after,
.mobile-ui .content-with-r-sb .r-sidebar:after {
    clear: both;
}
.mobile-ui .content-with-r-sb .content-area {
    width: 100%;
    margin-right: 0%;
}
.mobile-ui .content-with-r-sb .r-sidebar {
    width: 100%;
}
.mobile-ui.show-mobile-menu {
    overflow-x: visible;
}
/*END: gigsky/mobile/common/layout*/
/*START: gigsky/mobile/common/header*/
/* nav-bar
----------------------------*/
.mobile-ui nav[role="gs-main"].nav-bar .nav-right {
    display: none;
}
.mobile-ui nav[role="gs-main"].nav-bar .content {
    padding-right: 0;
}
.mobile-ui nav[role="gs-main"].nav-bar .nav-mobile {
    display: block;
}
.mobile-ui nav[role="gs-main"].nav-bar .nav-mobile a i {
    margin-top: 22px;
}
.mobile-ui nav[role="gs-main"].nav-bar .nav-mobile .open-menu,
.mobile-ui nav[role="gs-main"].nav-bar .nav-mobile .close-menu {
    padding: 20px;
}
.mobile-ui nav[role="gs-main"].nav-bar .nav-mobile .open-menu {
    display: inline;
}
.mobile-ui nav[role="gs-main"].nav-bar .nav-mobile .close-menu {
    display: none;
}
.mobile-ui nav[role="gs-main"].nav-bar .nav-links a {
    margin-right: 0;
}
.mobile-ui .web-header {
    display: none;
}
.mobile-ui .mobile-header {
    display: block;
}
.mobile-ui .mobile-menu {
    display: none;
}
.mobile-ui .mobile-menu .nav-links a {
    font-family: 'museo_sans300';
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px 20px;
    font-size: 14px;
    border-bottom: 1px solid #4E525B !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.15);
}
.mobile-ui .mobile-menu .dropdown {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 18px;
    border-bottom: 1px solid #414361;
}
.mobile-ui .mobile-menu .dropdown .dropdown-toggle {
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 18px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.15);
}
.mobile-ui .mobile-menu .btn-group {
    width: 100%;
}
.mobile-ui .mobile-menu .btn-group .btn {
    width: 50%;
    padding: 10px;
    border-radius: 0;
}
.mobile-ui .mobile-menu .dropdown .dropdown-menu {
    width: 100%;
    padding: 0 20px;
    border-radius: 0;
    z-index: 991;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 0;
}
.mobile-ui .mobile-menu .dropdown .dropdown-menu a {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}
.mobile-ui .mobile-menu .btn-success {
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-weight: lighter;
}
.mobile-ui .mobile-menu .btn-success:hover,
.mobile-ui .mobile-menu .btn-success:focus,
.mobile-ui .mobile-menu .btn-success.focus,
.mobile-ui .mobile-menu .btn-success:active,
.mobile-ui .mobile-menu .btn-success.active,
.mobile-ui .mobile-menu .open > .dropdown-toggle.btn-success {
    background-color: #34383f;
}
.mobile-ui.with-android-banner nav[role="gs-main"].nav-bar {
    position: relative;
}
.mobile-ui.with-android-banner nav[role="gs-main"].nav-bar.affix {
    position: fixed;
}
.mobile-ui.with-android-banner #bgc-1 {
    margin-top: -60px;
}
.mobile-ui.with-android-banner #bgc-1.affix {
    margin-top: 0;
}
.mobile-ui.with-android-banner .nav-bar-bg {
    margin-top: -60px;
}
.mobile-ui.with-android-banner .nav-bar-bg.affix {
    margin-top: 0;
    position: static;
}
.mobile-ui.show-mobile-menu {
    background-color: #464B54;
}
.mobile-ui.show-mobile-menu nav[role="gs-main"].nav-bar {
    position: static;
    top: auto;
}
.mobile-ui.show-mobile-menu nav[role="gs-main"].nav-bar .nav-mobile .close-menu {
    display: inline;
}
.mobile-ui.show-mobile-menu nav[role="gs-main"].nav-bar .nav-mobile .open-menu {
    display: none;
}
.mobile-ui.show-mobile-menu .parallax-back,
.mobile-ui.show-mobile-menu .parallax-front,
.mobile-ui.show-mobile-menu .secondary,
.mobile-ui.show-mobile-menu .section {
    display: none;
}
.mobile-ui.show-mobile-menu .mobile-menu {
    display: block;
}
.mobile-ui.show-mobile-menu .nav-bar-bg {
    display: block;
    background: none;
}
/*END: gigsky/mobile/common/header*/
/*START: gigsky/mobile/common/footer*/
.mobile-ui .section-footer .link-list a {
    float: none;
    display: block;
}
.mobile-ui .badges img {
    margin-bottom: 10px;
}
.mobile-ui .section-footer .two-columns .col-image {
    display: none;
}
/*START: gigsky/pages/gigsky-page*/
[data-page-type="gigsky-page"].mobile-ui .feature h1,
[data-page-type="gigsky-page"].mobile-ui .section-intro h1 {
    font-size: 30px;
}
[data-page-type="gigsky-page"].mobile-ui .feature h2,
[data-page-type="gigsky-page"].mobile-ui .section-intro h2 {
    font-size: 24px;
}
[data-page-type="gigsky-page"].mobile-ui .feature h4,
[data-page-type="gigsky-page"].mobile-ui .section-intro h4 {
    font-size: 16px;
}
[data-page-type="gigsky-page"].mobile-ui .section-intro .tagline {
    text-align: center;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="log-in"] .feature .content,
[data-page-type="gigsky-page"].mobile-ui[data-page-template="sign-up"] .feature .content {
    padding-top: 30px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .nav-bar-bg,
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .web-home {
    display: none;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .mobile-home {
    display: block;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .bgc {
    position: relative;
    z-index: 1;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .bgc.bg-separator {
    padding-bottom: 90%;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .section-intro .tagline {
    margin-top: 100px;
    padding-bottom: 90px;
    text-shadow: 0 0 40px #000;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .section-intro .section-scroll-positioner {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .logo-table.tablet {
    display: none;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .logo-table .cell {
    width: 50%;
    max-width: 300px;
    margin: 0px auto 30px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"].wide .bgc.bg-separator {
    padding-bottom: 45%;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"].wide .logo-table.mobile {
    display: none;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"].wide .logo-table.tablet {
    display: block;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"].wide .logo-table .cell {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
    height: 133px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"].wide .logo-table img {
    width: 80%;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .section {
    overflow-y: hidden;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .section .content {
    padding-bottom: 60px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .section .two-columns .col {
    margin-bottom: 0;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .section .section-scroll-positioner {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .section .section-scroll-positioner .section-scroll {
    height: 32px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .section .section-scroll-positioner .section-scroll span {
    vertical-align: top;
    padding-top: 6px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"] .section-scroll {
    font-size: 24px;
    width: 64px;
    height: 64px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="default"].show-mobile-menu .bgc {
    display: none;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="shop"] .two-columns.col-image-left .col-image {
    text-align: center;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="faq"] {
    /* data-table
          ----------------------------*/
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="faq"] .data-table * {
    font-size: 10px !important;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="faq"] .data-table * .cell:last-child {
    width: 16%;
    text-align: center;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="faq"] .input-form {
    padding-right: 0;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="how-it-works"] .how-steps .cell {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="how-it-works"] .how-steps .cell img {
    max-width: 200px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="pricing"] .section-coverage .map {
    display: none;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="pricing"] .section-coverage .plans {
    width: 100%;
    margin-top: 60px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="pricing"] .two-columns .col:first-child h4 {
    margin-top: 0;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="pricing"] .feature .content {
    padding-top: 55px;
    padding-bottom: 55px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="about"] .two-columns .col-image {
    position: static;
    width: 60%;
    margin: 0px auto 25px;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="press"] .section-press-contact .feature .content {
    text-align: center;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="press"] .section-press-contact .feature .content a:first-child i {
    margin-left: 0;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="maintenance"] nav[role="gs-main"].nav-bar .nav-mobile,
[data-page-type="gigsky-page"].mobile-ui[data-page-template="404"] nav[role="gs-main"].nav-bar .nav-mobile,
[data-page-type="gigsky-page"].mobile-ui[data-page-template="promo"] nav[role="gs-main"].nav-bar .nav-mobile {
    display: none;
}
[data-page-type="gigsky-page"].mobile-ui[data-page-template="promo"] .promoDetails {
    float: none;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .feature h1,
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section-intro h1 {
    font-size: 30px;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .feature h2,
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section-intro h2 {
    font-size: 24px;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .feature h4,
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section-intro h4 {
    font-size: 16px;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .feature .cover img {
    width: 200;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section-intro .tagline {
    text-align: center;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .nav-bar-bg,
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .web-home {
    display: none;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .mobile-home {
    display: block;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .bgc {
    position: relative;
    z-index: 1;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .bgc.bg-separator {
    padding-bottom: 45%;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section-intro .tagline {
    padding-bottom: 90px;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section-intro .section-scroll-positioner {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section-cta .feature .content {
    padding-top: 0;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .logo-table.mobile {
    display: none;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .logo-table.fixed-height {
    height: 133px;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section {
    overflow-y: hidden;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section .content {
    padding-bottom: 60px;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section .two-columns .col {
    margin-bottom: 0;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section .section-scroll-positioner {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section .section-scroll-positioner .section-scroll {
    height: 32px;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section .section-scroll-positioner .section-scroll span {
    vertical-align: top;
    padding-top: 6px;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .section-scroll {
    font-size: 24px;
    width: 64px;
    height: 64px;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui.show-mobile-menu .bgc {
    display: none;
}
[data-page-type="gigsky-page"][data-page-template="default"].tablet-ui .promoDetails {
    max-width: 320px;
    margin: 0 auto;
    float: none;
}
/*END: gigsky/pages/gigsky-page*/
/*END: gigsky/mobile/mobile-responsive*/
