/*Sticky footer*/
html {min-height: 100%;}
a{cursor:pointer;}
body {position: relative;}
p {margin: 0px;word-wrap: break-word;}
h1{margin-top: 0px;margin-bottom: 10px;}
select{width: 100%;height: 40px;
padding: 10px;
line-height: 34px; background: #f4f8f9;border: 1px solid #cccccc;color:#555555;font-family: 'museo_sans300';}
textarea:focus, input:focus, select:focus,button:focus{outline: 0;}
input[type="checkbox"] {margin: 0px 10px 0px 0px;}

.textRight{text-align:right}
.textLeft{text-align:left}
.textCenter{text-align:center}

/*bootstrap*/
.bg-primary{color:#fff;background-color:#428bca}
.bg-primary:hover{background-color:#3071a9}
.bg-success{background-color:#dff0d8}
.bg-success:hover{background-color:#c1e2b3}
.bg-info{background-color:#d9edf7}
.bg-info:hover{background-color:#afd9ee}
.bg-warning{background-color:#fcf8e3}
.bg-warning:hover{background-color:#f7ecb5}
.bg-danger{background-color:#f2dede}
.bg-danger:hover{background-color:#e4b9b9}

.customContainer{margin: 0px;padding-bottom: 69px;border-right: 1px solid #dddddd;
border-left: 1px solid #dddddd;
-webkit-box-shadow: 0px 2px 4px 1px rgba(221,221,221,0.7);
-moz-box-shadow: 0px 2px 4px 1px rgba(221,221,221,0.7);
box-shadow: 0px 2px 4px 1px rgba(221,221,221,0.7);}
.navbar-collapse{border-top: 0px;box-shadow: none;}
.navbar-toggle {background-color: #ddd;margin: 0px;}

.mainContainerWrapper{margin:0px;padding: 0px 0px 0px 0px;min-height: 736px;}
.mainContainer{padding: 0px;}
.mainContainerRow{padding: 32px 32px 32px 64px;max-width: 1096px;}
.mainContainerRowSm{padding: 16px 32px 16px 64px;
  h1{padding:0px;margin:0px;}
  .maxWidth{max-width: 1024px;}
  .maxWidthBig{max-width: 1048px;margin: 0px auto;}
}
.mainContainerPadding{padding:30px 0px; position:relative} 
.leftNavigationWrapperTopNav{display:none;}
/*LeftNavigation*/
.leftNavigationWrapperCustom
{
  background-color:#464b54;
  padding: 0px;
.leftNavigation{
   background-color:#464b54;
   padding-top: 8px;
   padding-right: 0px;
   padding-bottom: 100px;
   padding-left: 0px;

   .leftNavList {
      .dropdown
      {
        button{padding: 8px 0px 8px 32px;
        text-align: left;
background: transparent;
box-shadow: none;
color: #fff;
border: 0px;}
       ul
       {border-radius: 0px;
       background: #40444d;
      border: transparent;

      overflow: auto;
        max-height: 106px;
         li{padding: 0px;
          a{padding: 6px 0px 6px 32px;color:#fff;
           &:hover {
           background-color: transparent;
        }

          }
         
         }
       }
      }
      .leftNavHeading{
        color:#839aab;
        border-bottom: 1px solid #4e525b;
        padding: 8px 0px 8px 32px;
       }
       .leftNavManageHeading
       {
        color:#839aa8;
        border-bottom:1px solid #4e525b;
        padding: 8px 0px 8px 32px;
       }
    ul
     { margin:0px;
       padding:0px;
       &.manageNav{
          li{
             padding:0px;
             cursor: pointer;
            .listOuterWrapper{
              padding: 6px 0px 6px 32px; 
              .imgDiv{width: 23px;
                      text-align: center;
                      float: left;
              }
              span{color:#fff;  padding-left: 12px;
               &.selected{color:#50d5fe;}
              a{color:#fff; text-decoration: none;}
               a:hover{color:#fff;text-decoration: none;}
              }

            }
            }
        }
        &.paymentNav{
           background: #40444d;
           padding: 6px 0px 6px 44px; 
           li{
             padding: 5px 0px 5px 24px;
             border: 0px;
             a{color:#939496;
               text-decoration:none;
               &.selected{color:#50d5fe;}
             }
           }
         }    
        
      li{
        margin:0px;
        list-style-type:none;
        color:#bbbbbb;
        border-bottom:1px solid #4e525b;
          padding: 6px 0px 6px 36px;
          .subText{color:#939496}
          &.selected{
          p{text-decoration:none;color:#50d5fe}
          }
       } 
     }
  }   
  .moreSimLinks{text-align: right;padding: 10px 15px 10px 0px;}
  .nosimError{color:#fff;padding: 8px 0px 8px 44px;}
  }
  }
.leftNavigationWrapper,.leftNavigationWrapperTopNav
{padding:0px;
   background-color:#fff;
   border-right: 1px solid #dedfdf;
   position:absolute;
   top:0px;
   bottom:0px;
.leftNavigation{
   background-color:#fff;
   padding-top: 32px;
   padding-right: 0px;
   padding-bottom: 100px;
   padding-left: 0px;

   .leftNavList {
      .leftNavHeading{
        color:#839aa8;
        border-bottom:1px solid #dedfdf;
        padding: 8px 0px 8px 32px;
       }
       .leftNavManageHeading
       {
        color:#839aa8;
        border-bottom:1px solid #dedfdf;
        padding: 8px 0px 8px 32px;
       }
    ul
	   { margin:0px;
	     padding:0px;
       &.manageNav{
          li{
             padding:0px;
             cursor: pointer;
            .listOuterWrapper{
              padding: 6px 0px 6px 32px; 
              .imgDiv{width: 23px;
                      text-align: center;
                      float: left;
              }
              span{color:#62676f;  padding-left: 12px;
               &.selected{color:#50d5fe;}
              a{color:#62676f; text-decoration: none;}
               a:hover{color:#62676f ;text-decoration: none;}
              }

            }
            }
        }
        &.paymentNav{
           border-top: 1px solid #dedfdf;
           background: #fff;
           padding: 6px 0px 6px 44px; 
           li{
             padding: 5px 0px 5px 24px;
             border: 0px;
             a{color:#939496;
               text-decoration:none;
               &.selected{color:#50d5fe;}
             }
           }
         }    
        
	    li{
	      margin:0px;
	      list-style-type:none;
	      color:#727578;
        border-bottom: 1px solid #dedfdf;  
          padding: 16px 0px 16px 32px;
          .subText{color:#939496}
          &.selected{
          background :#1cbbf0;

          p{text-decoration:none;color:#fff;}
          }
	     } 
	   }
	}   
  .moreSimLinks{text-align: right;padding: 10px 15px 10px 0px;}
  .nosimError{color:#fff;padding: 8px 0px 8px 44px;}
  }
}

.connectAccountFb,.connectAccountTw{
  border-bottom:1px dashed #c2c2c2;
  color:#393938;
  padding-top: 10px;
  padding-bottom: 10px;
  .subText{color:#767c80}
  .connectTo{text-align: right;
      img{margin-left: 10px;}
      }
  .disConnectTo{text-align: right;
      img{margin-left: 10px;}
      }
}

.orDivider{text-align:center;padding-top: 30px;padding-bottom: 30px}
.tnc{text-align:center;padding: 60px 0px 0px 0px;}
.capRight{padding: 0px;padding-right:5px}
.capLeft{padding: 0px;padding-left:5px}
.noPadd{padding:0px}
.dashedBorder{border-bottom:1px dashed #ccc;padding:0px; padding-top:10px}
.fbButton{padding: 0px;
     padding-right: 20px;
    .fbBtn{
    background: #3b5999 !important;
    }
}
.tweetButton{
  padding:0px;
  padding-left: 20px;
}
.help-block{color:#fe5552;margin: 0px;}
.errorMessage{color:#fe5552;}
input .errorMessage{color:#fe5552;}

.noColpadd{padding:0px}
.fieldPadding{padding: 0px 0px 0px 15px !important}
.lightGrayBG{background:#edf1f5}
.paddingBottom10{padding-bottom: 10px;}
.grayText{color:#a5a9ab}
.darkGrayText{color:#3c3e40}
.darkGrayText1{color:#666666}
.paymentHist,.gigCredit{
   .headingText2{margin: 0px 0px 16px 0px;}
   .headingText3{margin-top: 10px;margin-bottom: 20px;}
  .lightGrayBG {background: #edf1f5;padding: 20px 25px;}
  input[type="checkbox"] {margin: 0px 10px 0px 0px;}
  select{margin-top:10px;}
  ul{
    margin-top:10px;padding:0px;
    li{
    margin:0px; padding:0px; list-style-type:none;
     .mainText{color:#515557;padding-left: 10px;}
     .subText{color:#515557;padding-left: 10px;}
     .costText{text-align:center}
     .errorText{color:#fe5552}
     .block{
      border-bottom: 1px dashed #cccccc;
      padding: 16px 0px;
     }
      .block1{
      padding: 16px 0px;
     }
    }
  }
}
.fergotPassword{
  .form-horizontal .control-label{padding: 0px;}
  h1 {margin-top: 15px;margin-bottom: 25px;}
  .mainContainerWrapper{min-height: 532px;}
  .mainContainerRow {padding: 32px 32px 32px 32px;}
}

.transactionPin{
  .dashedBorder {
    border-bottom: 1px dashed #ccc;
    margin: 0px 0px 16px 0px;
  }
}
.editCeditcard .form-horizontal .form-control {font-size: 18px;}
.whiteBg{background:#fff;}
.blueText{color:#1cbbf0 !important;}
.ln36{line-height: 36px;}
.lnNormal{line-height: normal;}


.notification{position: fixed;
top: 0px;
z-index: 999999;text-align:center;
 .bg-info{padding: 10px 40px 10px 30px; position:relative;
   img{position: absolute;
top: 15px;
right: 15px;}
 }
  .bg-danger{padding: 10px 40px 10px 30px;position:relative;
   img{position: absolute;
top: 15px;
right: 15px;}
  }
}

.dashboard
{ 
  h1.otherPlanHeader{padding: 8px 0px 24px 0px;}
  .otherPlan{margin-bottom:24px} 
  .otherPlanInner{padding: 20px 0px;line-height: 26px;}
  .switchPlan{margin-top: 13px; text-align:right}
  .subText{color:#767c80;margin-right: 10px;}
  .vam{vertical-align: middle;margin-left: 5px;}
  .errorText{color:#fe5552;}
  .paddingTop{padding-top:15px}
  .paddingBottom{padding-bottom: 15px;}
  .borderBottom{border-bottom:1px dashed #ccc;}
  
.panel-default > .panel-heading {
color: transparent !important;
background-color: #fff !important;
border-color: transparent !important;
}

.panel-heading {
padding: 0px  !important;
border-bottom: 1px solid transparent  !important;
border-top-right-radius: 0px  !important;
border-top-left-radius: 0px  !important;
}
.panel-title {
margin-top: auto !important;
margin-bottom: auto !important;
font-size: initial !important;

color: inherit !important;
}
.panel-default {
border-color: transparent !important;
}
.panel {
background-color: #ffffff !important;
border: 1px solid transparent !important;
border-radius: 0px !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
padding: 15px 0px 0px 0px;
}
.panel-body {
padding: 10px 0px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
border-top: 0px solid transparent;
}
 .panelCollapese{color:#393838}
 .panelsubText{color:#95999c}
 .freeText{color:#62c459;text-align: right;}
 .panelDiv{background: #edf1f5;padding: 10px 15px 10px 30px !important;margin-bottom: 3px;}
 .freeText span{margin-right:10px}

  .table{
   tbody{ 
    tr{
       background:#edf1f5;
       border-bottom: 3px solid #fff;
      th{
        padding: 10px 30px;
        height: 59px;
        line-height: 1.428571429;
        vertical-align: middle;
        font-weight: normal;
        border-top: 0px solid transparent;
        margin-bottom: 2px;
        }
      }
    }
   }
   .ln24{line-height: 24px}
  .mainContainerRowSm {padding: 16px 45px 16px 64px;}
 .paddBot50{padding-bottom: 50px !important;}
 .openIcon{background:url("../images/common/plusBigBlackIcon.png") no-repeat;width: 34px;height: 34px;}
 .closeIcon{background:url("../images/common/cancelBigIcon.png") no-repeat;width: 34px;height: 34px;}


}
.mainContainerPadding.dashboard{padding: 16px 0px 0px 0px;}
.mainWrapper{position:relative}
#recaptcha_area, #recaptcha_table {
width: 100%;
}

.comments{
 background:#fafafa;
   .addCmt{padding: 15px 40px 10px 40px;}
   ul{ margin:0px;
       padding:0px;
     li{
      margin:0px;padding: 15px 40px 10px 40px;
      list-style-type:none;
      p{
      .darkbl{color:#393838; padding-right:10px}
      .description{color:#95999c}
      }
    }
   }  
} 
.modal-header {border-bottom: 0px solid transparent; padding: 25px 0px 10px 0px;
font-size: 22px;}
.modal-footer {border-top: 0px solid transparent;}
.modal-body {padding: 10px 20px 15px 20px;}
.panelClose{position:absolute; top: -14px;right: -12px;}
.lightGrayBG1 {background: #edf1f5;padding: 15px;margin: 10px 0px 0px 0px;}
.transctionPin{
padding:0px;
  ul{
    margin:0px; padding:0px;
   li{margin: 0px;
  padding: 20px 15px;
  list-style-type: none;
  border-bottom: 1px dashed #ccc;
  line-height: 36 px;
  clear:both;
  .custIconPadd{margin-right: 5px;margin-left: 10px;}
    a{color:#333;text-decoration: none;}
   } 
  }
}
.mb15{margin-bottom: 15px;}
.freeTextBlue{color:#1cbbf0;text-align: right;}
.modal-sm {
width: 360px;
margin-top: 120px;
}

.buyPlan{
    padding: 30px 0px 60px 0px !important;
     .rating {padding-bottom: 0px;}
    .gray{color:#393838;}
    .searchBox{margin: 10px 0px 40px 0px;
          img{padding: 11px 5px;}
       .searchBoxBg{border-radius: 0px;background: #f4f8f9;box-shadow: none;border: 0px;padding: 0px 5px;}
        .searchBoxBgInner{height: 40px;}
    }
    .timelineInnerWrap{img {vertical-align: text-bottom !important;}}
    .headingText2{padding: 0px 0px 10px 15px;}
    .timeline{margin: 20px 0px;
    a{color:#333}
    .timelineSm{padding:0px 4px}
    img {vertical-align: baseline;}
    .selectedText{color:#575d64;padding: 0px 0px 0px 5px;}
    .Text{padding: 0px 0px 0px 0px;font-size: 16px;}  
  .line{border-bottom: 1px solid #ccc;margin-top: 13px; padding:0px}
  }
    .openIcon {background: url("../images/common/rollupIcon.png") no-repeat;width: 34px;height: 34px;}
    .closeIcon {background: url("../images/common/rolldownIcon.png") no-repeat;width: 34px;height: 34px;}

  .countryView
  {
   p{color:#91989f;margin: 10px 0px 5px 0px;}
   ul{ margin:0px; padding:0px;
    li{
      margin:0px; padding:11px 0px 11px 10px;list-style-type:none;
      border-bottom:1px dashed #ccc;
       font-family: 'museo_sans300';
       font-size:16px;
       color:#393838;
    }
   }
  }
  .panel-collapse .panel-body {border-top: 1px dashed #ccc !important;}
  .carriersList{
   ul{ margin:0px; padding:0px;
    li{
      margin: 0px;padding: 10px 10px 10px 10px;list-style-type: none;display: inline-block;
    }
   }
  }
  .buyPlan3
  {margin: 15px 0px;
  .makePaymentTopblock{ padding: 16px 30px;
  .block{padding: 0px 0px 4px 0px;}
  .block1{border-top: 1px solid #ddd;padding: 4px 0px 0px 0px;}
  .form-horizontal .form-group {margin: 0px -15px;}
  .custPadd{padding: 10px 0px 10px 0px;}
  .orPadd{padding: 50px 0px;}
  }
  }
}

.glyphicon-star{color:#f3c474;font-size:30px;padding-left:10px}
.glyphicon-star-empty {color:#c5cad4;font-size:30px;padding-left:10px}
.ratingStatic {
   padding-bottom:10px;outline:none;
   span{outline:none;}
  .glyphicon-star{color: #f3c474;font-size: 24px;padding: 0px 5px 0px 0px;}
  .glyphicon-star-empty {color:#c5cad4;font-size:24px;padding: 0px 5px 0px 0px;}
   }
.rating span{outline:none;}
.usageSelector{
  color:#515557;
  background:#f5f7f9; 
  padding: 0px;
  ul 
   {margin:0px; padding:0px;
    li{
      margin: 0px;padding:10px 30px;list-style-type: none;  
      border-bottom: 1px solid #ebeef1;
     &.selected{background: #dde1e8;}
     &.bubble 
        {
        position: relative;
        background: #dde1e8;
        }

      &.bubble:after 
        {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 18px 0 18px 16px;
        border-color: transparent #dde1e8;
        display: block;
        width: 0;
        z-index: 1;
        right: -16px;
        top: 23px;
        }
    }
   }
}
.simDetails
{padding: 0px 30px;
  table
  {margin:20px 0px 0px 0px;
    td{
    &.labelDiv{width:20%;padding-left: 20px;font-size:14px; font-family:'museo_sans500';color:#1c1c1c;border-top: 0px;margin: 0px;
padding: 2px 20px;}
    &.labelDiv2{width:80%; font-size:14px; font-family:'museo_sans300';color:#515557;border-top: 0px;margin: 0px;
padding: 2px 20px;}
    }
  }
}
.mt3{margin-top: 3px;}
.leftPadd{padding-left:15px}
.leftnavLink{color:#50d5fe !important;
 a{text-decoration: none;color:#50d5fe;}
 a:hover{text-decoration: none;color:#50d5fe;}
}
.marginTop10{margin-top:10px}
.marginLeft10{margin-left: 10px;}
.black{color:#1c1c1c}
.custPanel{display: none;}
.main{position:relative;
.custPanel
{
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
display:none;
z-index: 99999;
width: 85%;
background: #464b54;
min-height: 100%;
}
}
.blockSim{
  .form-group 
  {
  margin-top: 15px;
  }
}
.marginTop20{margin-top:20px}
.backBtn{ margin-right: 10px;vertical-align: text-top;padding: 5px 0px;display: none;}
.breadcrumbs{
  .breadcrumb{ 
      padding: 5px 0px;
      margin-bottom: 0px;
      background:transparent;
      .grayText{color:#868a8d}
      .blackText{color:#3c3e40}

      img{
        vertical-align: sub;  
      }
  }
}
.transactionPin
{
  .form-horizontal .control-label {padding: 10px 0px 0px 0px;}
}
.accPadding{padding-top:14px;}
.breadcrumb {li{
           span{font-size: 14px;}
           a{font-size: 14px;}
           }
          } 
.headingTop{margin:5px 0px 10px 0px}
.textCenter1{text-align:center}
.btn .caret {
margin-left: 0;
border-top: 5px solid;
border-right: 5px solid transparent;
border-left: 5px solid transparent;
margin-left: 5px;
}

.dropdownTop {
.btn-default{padding-top: 0px;
background-image: none;
color: #62676e;
background: transparent;
box-shadow:none;
&:hover {
           background-color: transparent;
           color: #46b9ed;
}
&:focus{
           background-color: transparent;
           color: #46b9ed;
}
}


}

.open {.dropdown-toggle.btn-default {background-image: none;
color: #fff;
background: transparent;
box-shadow:none;}
}

.lineThrough
{
text-decoration: line-through;
text-decoration-color: inherit;
}
.activeState
{
border-left: 2px solid #1cbbf0;
}

.paymentHist{
.nav-tabs {
border-bottom: 0px solid #0b9bd7;
}
.nav-tabs > li {
width: 90px;
text-align: center;
}


.nav-tabs > li > a:hover {background: #0b9bd7;
border-bottom: 1px solid #0b9bd7; color:#fff}

.nav-tabs > li > a {
color: #0b9bd7;
margin-right: 0px;
line-height: 1.428571429;
border: 1px solid #0b9bd7;
border-radius: 0px;
}

 .nav-tabs > li.active > a:hover{
 
 color: #fff;
cursor: default;
background-color: #0b9bd7;
border: 1px solid #0b9bd7;
 }
 .nav-tabs > li.active > a{
color: #fff;
cursor: default;
background-color: #0b9bd7;
border: 1px solid #0b9bd7;
}
.allEmail{padding-bottom: 20px;padding-top: 20px;
}}  


.marginL10{margin-left: 10px;}
.panelClose {display: none;}
.pageHeadingText{color:#3c3e40}
.normalText{color:#515557}
.font18I{font-size:18px !important}
.imgpaddR15{padding-right:15px}
.paddTop0{padding-top:0px !important}
.paddTop4{padding-top:4px !important}
.btnPaddR0{padding-right: 0px;}
.marginB10{margin-bottom: 10px;}
.nP{padding:0px}
.breadcrumb > li + li:before,.font20I{font-size: 1.25em !important;}
.modelbtn{
  text-align:center;
  button{width:50%;}
  button:hover{width: 50%;}
}
.modelbtn1{
  text-align:center;
  button{width:30%;}
  button:hover{width: 30%;}
}
.paddL8{padding-left:8px}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.apple-pay-button {
  display: inline-block;
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  padding: 0px;
  box-sizing: border-box;
  min-width: 32px;
  min-height: 21px;
  max-height: 64px;
}
.apple-pay-button-white {
  background-image: -webkit-named-image(apple-pay-logo-black);
  border: 1px solid black;
}
.card-selected{
  opacity:1;
}
.card-not-selected{
  opacity:0.5;
}