.form-horizontal 
{
  .form-group {margin: 16px 0px 0px 0px;}
  .form-control {
   		height:40px;
   		border-radius:0px;
   		background: #f4f8f9;
   		box-shadow:none;
   		padding: 5px 10px;
   		&.error{
   		border: 1px solid #fe5552;
   		}
  }
  .control-label {
		text-align: left !important;
		font-weight:normal;
		color:#515557;
		font-family: 'museo_sans300';
		padding: 10px 0px 0px 15px;
		&.error{
		 color:#fe5552;
		}
	}
	.changeLink {
	  font-family: 'museo_sans300';
	  font-size:16px;
	  line-height: 36px;

	}
  .customPadding{margin-top: 8px;}
}


.btnWrapper{
	padding-right: 0px;
}

.btn-default{
font-family: 'museo_sans300';
background:#1cbbf0;
border: 0px none;
border-radius: 2px;
color:#fff;
width:100%;
height: 40px;
font-size: 16px;
}

.btn-cancel{
font-family: 'museo_sans300';
background: #fff;
color: #838a8e;
border-radius: 2px;
border: 1px solid #838A8F;
width:100%;
height: 40px;
font-size: 16px;
}

.btn-cancel:hover{
font-family: 'museo_sans300';
background: #fff;
color: #838a8e;
border-radius: 2px;
border: 1px solid #838A8F;
width:100%;
height: 40px;
font-size: 16px;
}


.btn-default:hover{
font-family: 'museo_sans300';
background:#129CCA;
border: 0px none;
border-radius: 2px;
color:#fff;
width:100%;
height: 40px;
font-size: 16px;
}

.btn-default:hover,.btn-default:focus{
color: #fff;
background-color: #129CCA;
border-color: inherit;
}
.btn:focus {
outline: none;
}	

.dropdown-menu {font-family: 'museo_sans300';min-width: 100%;border-radius: 4px;
-webkit-box-shadow: none;
box-shadow: none;
font-size: 16px;
}

.pagination
{
  float: right;
margin-top: 15px;
 li 
 {
 a{
 position: relative;
float: left;
font-size:16px;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.428571429;
text-decoration: none;
background-color: #ffffff;
border: 0px;
 }
 }
} 

.navbar .navbar-toggle {
padding: 0;
width: 32px;
height: 32px;
background: url("../images/common/menu-icon@2x.png") 50% no-repeat;
-webkit-background-size: 32px 32px;
-moz-background-size:32px 32px;
-o-background-size: 32px 32px;
background-size: 32px 32px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
border: 0px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: transparent;
}

header .navbar-header img{margin-top:5px;}
