@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans/museosans-300-webfont.eot');
    src: url('../fonts/museosans/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans/museosans_500-webfont.eot');
    src: url('../fonts/museosans/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans/museosans_700-webfont.eot');
    src: url('../fonts/museosans/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans/museosans_700-webfont.ttf') format('truetype'),
         url('../fonts/museosans/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}

.mSans300{font-family: 'museo_sans300'}
.mSans500{font-family: 'museo_sans500'}
.mSans700{font-family: 'museo_sans700'}

body{font-size:16px}
.font10{font-size:0.625em}
.font12{font-size:0.75em}
.font14{font-size:0.875em}
.font16{font-size:1.0em}
.font18{font-size:1.15em}
.font20{font-size:1.25em}
.font24{font-size:1.5em}
.font32{font-size:2em}
.font36{font-size:2.25em}
.font50{font-size:3.1em}
