  
  .footer{position: absolute;bottom: 0px;width: 100%;background: #7c8394;z-index: 999;
  .np{padding:0px}
   ul{
     margin:16px 0px 0px 0px;
     padding:0px;
     li{
     margin: 0px;
padding: 0px 14px 0px 0px;
list-style-type: none;
display: inline-block;
line-height: 34px;
text-align: center;
     }
   }


    #section-footer {
        position:fixed;
      bottom:0px;
    }
   .twIcon{ background-image: url("../images/common/twitterIcon.png");width: 34px;height: 34px;display: inline-block;}
   .twIcon:hover{ background-image: url("../images/common/twitterIconHover.png");width: 34px;height: 34px;display: inline-block;}
   
   .fbIcon{ background-image: url("../images/common/fbIcon.png");width: 34px;height: 34px;display: inline-block;}
   .fbIcon:hover{ background-image: url("../images/common/fbIconHover.png");width: 34px;height: 34px;display: inline-block;}

   .inIcon{ background-image: url("../images/common/inIcon.png");width: 34px;height: 34px;display: inline-block;}
   .inIcon:hover{ background-image: url("../images/common/inIconHover.png");width: 34px;height: 34px;display: inline-block;}

  }
  .footerLinks{ 
       background:#7c8394 !important;
	   a{color:#fff;text-decoration: none}
	   a:hover{color: #2b3241;text-decoration: none}
	   .flink{
	   		text-align:center;
	   		padding: 16px 0px 0px 0px;
	   		span{float:right}
	   		}
	   .flinkIcons{margin: 16px 0px 0px 0px;
	           a{padding: 0px 6px;float: right;}
	        } 
	     .copyrights{
	      color:#aeb4c3;
	      padding-bottom: 16px;
	     }
	 }