.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #7c8394;
  z-index: 999;
}
.footer .np {
  padding: 0px;
}
.footer ul {
  margin: 16px 0px 0px 0px;
  padding: 0px;
}
.footer ul li {
  margin: 0px;
  padding: 0px 14px 0px 0px;
  list-style-type: none;
  display: inline-block;
  line-height: 34px;
  text-align: center;
}
.footer .twIcon {
  background-image: url("../images/common/twitterIcon.png");
  width: 34px;
  height: 34px;
  display: inline-block;
}
.footer .twIcon:hover {
  background-image: url("../images/common/twitterIconHover.png");
  width: 34px;
  height: 34px;
  display: inline-block;
}
.footer .fbIcon {
  background-image: url("../images/common/fbIcon.png");
  width: 34px;
  height: 34px;
  display: inline-block;
}
.footer .fbIcon:hover {
  background-image: url("../images/common/fbIconHover.png");
  width: 34px;
  height: 34px;
  display: inline-block;
}
.footer .inIcon {
  background-image: url("../images/common/inIcon.png");
  width: 34px;
  height: 34px;
  display: inline-block;
}
.footer .inIcon:hover {
  background-image: url("../images/common/inIconHover.png");
  width: 34px;
  height: 34px;
  display: inline-block;
}
.footerLinks {
  background: #7c8394 !important;
}
.footerLinks a {
  color: #fff;
  text-decoration: none;
}
.footerLinks a:hover {
  color: #2b3241;
  text-decoration: none;
}
.footerLinks .flink {
  text-align: center;
  padding: 16px 0px 0px 0px;
}
.footerLinks .flink span {
  float: right;
}
.footerLinks .flinkIcons {
  margin: 16px 0px 0px 0px;
}
.footerLinks .flinkIcons a {
  padding: 0px 6px;
  float: right;
}
.footerLinks .copyrights {
  color: #aeb4c3;
  padding-bottom: 16px;
}
