header {
background: #f4f5f6;
}
.header{background:#f4f5f6;
      padding-left: 32px;
      padding-right: 32px;
  	.headerNav{
  		background: none;
  		border: 0px none;
  		padding: 0px;
  		margin: 0px;
  		min-height:initial;
  		padding: 12px 0px;
  		}
  	.headerBg{background: url(../images/common/worldMapBg.png) no-repeat 100px 0px; }
  	.headerLinks{line-height: 32px;text-align: right;
  	         	a{color: #62676e;text-decoration: none}
  	         	a:hover {color: #46b9ed;text-decoration: none}
  	         	ul{margin:0px; padding:0px;
  	         		li{margin:0px;
  	         	   		padding: 0px 6px 0px 6px;
  	         	   		list-style-type:none; 
  	         	   		display:inline-block;
  	         	  	  }
  	           	  }
  	          }  
  }
.leftNavigationWrapperCustom  {
.headerLinks{line-height: 32px;
padding: 8px 0px 8px 26px;
        a{color: #fff;;text-decoration: none}
        a:hover {color: #46b9ed;text-decoration: none}
        ul{margin:0px; padding:0px;
          li{margin:0px;
              padding: 0px 6px 0px 6px;
              list-style-type:none; 
              display:inline-block;
              }
            }
        }  
}        