header {
  background: #f4f5f6;
}
.header {
  background: #f4f5f6;
  padding-left: 32px;
  padding-right: 32px;
}
.header .headerNav {
  background: none;
  border: 0px none;
  padding: 0px;
  margin: 0px;
  min-height: initial;
  padding: 12px 0px;
}
.header .headerBg {
  background: url(../images/common/worldMapBg.png) no-repeat 100px 0px;
}
.header .headerLinks {
  line-height: 32px;
  text-align: right;
}
.header .headerLinks a {
  color: #62676e;
  text-decoration: none;
}
.header .headerLinks a:hover {
  color: #46b9ed;
  text-decoration: none;
}
.header .headerLinks ul {
  margin: 0px;
  padding: 0px;
}
.header .headerLinks ul li {
  margin: 0px;
  padding: 0px 6px 0px 6px;
  list-style-type: none;
  display: inline-block;
}
.leftNavigationWrapperCustom .headerLinks {
  line-height: 32px;
  padding: 8px 0px 8px 26px;
}
.leftNavigationWrapperCustom .headerLinks a {
  color: #fff;
  text-decoration: none;
}
.leftNavigationWrapperCustom .headerLinks a:hover {
  color: #46b9ed;
  text-decoration: none;
}
.leftNavigationWrapperCustom .headerLinks ul {
  margin: 0px;
  padding: 0px;
}
.leftNavigationWrapperCustom .headerLinks ul li {
  margin: 0px;
  padding: 0px 6px 0px 6px;
  list-style-type: none;
  display: inline-block;
}
