<!-- Google Analytics -->
<script>

    var l=window.location.hostname;
    if(l.indexOf("www.gigsky.com")!=-1 || l.indexOf("staging.gigsky.com")!=-1)
    {
        var analyticsProdID='UA-39095289-13';
        var analyticsStageID='UA-39095289-1';
        //GTM
        var gtmProd = 'GTM-NHLF3C';
        var gtmStage = 'GTM-PFF3XQ';
        var gtmId  = gtmStage;
        var analyticsID = analyticsStageID;
        if(l.indexOf('www.gigsky.com')!=-1)
        {
            analyticsID =analyticsProdID;
            gtmId = gtmProd;
        }

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', analyticsID, 'auto');
        ga('send', 'pageview');

        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer',gtmId);
    }

</script>
<script type="text/javascript">
try{
	$.smartbanner({
		title: 'GigSky',
		icon: 'img/gigsky/icon-gigsky-android.png'
	});
}catch(e){}
</script>