<!-- footer -->
<footer role="gs-main" id="section-footer" class="section section-footer" ng-hide="linkingToConcur">
	<div class="feature">
		<div class="content">
			<div class="two-columns">
				<div class="col col-text">
					<div class="inner">
						<div class="link-list group">
							<a href="/about" class="dark">About Us</a>
							<a href="/faq" class="dark">FAQ</a>
							<a href="/press" class="dark">Press</a>
							<a href="/partners" class="dark">Partners</a>
							<a href="/careers" class="dark">Careers</a>
							<a href="/contact" class="dark">Contact Us</a>
						</div>
						<div class="social">
							<a target="_blank" href="https://www.facebook.com/gigsky" class="dark">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
							<a target="_blank" href="https://twitter.com/Gigsky" class="dark">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
							<a target="_blank" href="https://www.linkedin.com/company/gigsky" class="dark">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</div>
						<div class="badges">
							<a target="_blank" href="https://itunes.apple.com/us/app/gigsky/id590458648" class="dark">
								<img src="img/appstore-badge.png" />
							</a>
							<a target="_blank" href="https://play.google.com/store/apps/details?id=com.gigsky.gigsky" class="dark">
								<img src="img/googleplay-badge.png" />
							</a>
						</div>
						<div class="legal">
							&copy; 2018 GigSky, Inc.
							<a href="/terms-and-conditions" class="dark">Terms of Service</a>
							<a href="/terms-of-use" class="dark">Terms of Use</a>
							<a href="/privacy-policy" class="dark">Privacy Policy</a>
						</div>
					</div>
				</div>
				<div class="col col-image">
					<img class="section-creative" src="img/devices-alt.jpg" />
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->