<!-- nav bar -->
<div class="full-header" data-widget-processor="ensuant.gigsky.ui.widgets.header" data-scope="main" data-gigsky-app-url="{{config.gsWebAppURL}}">
	<div class="web-header">
		<nav class="nav-bar nav-bar-fixed headerFooterBackgroundColor" role="gs-main">
			<div class="content contentHeader">
				<a href ng-click="linkingToConcur?preventDefault():navigateToUrl(config.gsStaticURL)">
					<img class="nav-logo" ng-src="{{lazyLoadURL}}styles/images/common/gigsky_logo_white_notag.png" style="display:inline-block;" class="img-responsive">
				</a>
				<!--<div class="header-actions">-->
					<!--<span class="nav-links">-->
						<!--<a ng-click="navigateToUrl(config.gsGigSkySIMURL)" class="light fontRender" ng-hide="isCaptive">GigSky Data SIM</a>-->
								<!--<a ng-click="navigateToUrl(config.gsAppleSIMURL)" class="light fontRender" ng-hide="isCaptive">Gigsky Apple SIM</a>-->
								<!--<a ng-href="{{myAccountURL}}" class="light fontRender" data-account-btn-link>My-->
									<!--Account</a>-->
					<!--</span>-->
				<!--</div>-->
				<div class="clearfix"></div>
			</div>
		</nav>
	</div>
	<div class="mobile-header">
		<nav class="nav-bar nav-bar-fixed headerFooterBackgroundColor" role="gs-main" data-spy="affix" data-offset-top="78">
			<div class="content">
				<a href ng-click="linkingToConcur?preventDefault():navigateToUrl(config.gsStaticURL)">
					<img class="nav-logo" ng-src="{{lazyLoadURL}}styles/images/common/gigsky_logo_white_notag.png" style="display:inline-block;" class="img-responsive">
				</a>
				<!--<div id="nav-mobile" class="nav-mobile pull-right" >-->
					<!--<a href="#" class="open-menu light">-->
						<!--<i class="fa fa-bars fa-lg"></i>-->
					<!--</a>-->
					<!--<a href="#" class="close-menu light">-->
						<!--<i class="fa fa-close fa-lg"></i>-->
					<!--</a>-->
				<!--</div>-->
			</div>
		</nav>
		<!--<div class="mobile-menu">-->
			<!--<span class="nav-links">-->
				<!--<a ng-click="navigateToUrl(config.gsGigSkySIMURL)" class="light fontRender" ng-hide="isCaptive">GigSky Data SIM</a>-->
								<!--<a ng-click="navigateToUrl(config.gsAppleSIMURL)" class="light fontRender" ng-hide="isCaptive">Gigsky Apple SIM</a>-->
								<!--<a ng-href="{{myAccountURL}}" class="light fontRender" data-account-btn-link>My-->
									<!--Account</a>-->
			<!--</span>-->
		<!--</div>-->
	</div>
</div>
<!-- /nav bar -->
