<div class="secondary-nav">
	<a class="about-tab" href="/about">About Us</a>
	<a class="faq-tab" href="/faq">FAQ</a>
	<a class="press-tab" href="/press">Press</a>
	<a class="partners-tab" href="/partners">Partners</a>
	<a class="careers-tab" href="/careers">Careers</a>
	<a class="contact-tab" href="/contact">Contact Us</a>
</div>